<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendorsmap>
                <use>standard</use>
                <args>
                    <module>VES_VendorsMap</module>
                    <frontName>storelocator</frontName>
                </args>
            </vendorsmap>
            <vendors>
				<args>
					<modules>
						<vendorsmap before="VES_Vendors">VES_VendorsMap</vendorsmap>
					</modules>
				</args>
			</vendors>
			<vendorspage>
				<args>
					<modules>
						<vendorsmap before="VES_VendorsPage">VES_VendorsMap</vendorsmap>
					</modules>
				</args>
			</vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorsmap>
                    <file>ves_vendors/map.xml</file>
                </vendorsmap>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsMap>
                    <files>
                        <default>ves_vendors/map.csv</default>
                    </files>
                </VES_VendorsMap>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendorsmap before="Mage_Adminhtml">VES_VendorsMap_Adminhtml</vendorsmap>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<VES_VendorsMap>
							<title>VendorsMap Module</title>
							<sort_order>10</sort_order>
						</VES_VendorsMap>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorsmap>
					<file>ves_vendors/map.xml</file>
				</vendorsmap>
			</updates>
		</layout>
        <translate>
            <modules>
                <VES_VendorsMap>
                    <files>
                        <default>ves_vendors/map.csv</default>
                    </files>
                </VES_VendorsMap>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <vendorsmap>
                <class>VES_VendorsMap_Model</class>
                <resourceModel>vendorsmap_mysql4</resourceModel>
            </vendorsmap>
            <vendorsmap_mysql4>
                <class>VES_VendorsMap_Model_Mysql4</class>
                <entities>
                    <map>
                        <table>ves_vendor_map</table>
                    </map>
                </entities>
            </vendorsmap_mysql4>
        </models>
        <resources>
            <vendorsmap_setup>
                <setup>
                    <module>VES_VendorsMap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorsmap_setup>
            <vendorsmap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorsmap_write>
            <vendorsmap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorsmap_read>
        </resources>
        <blocks>
            <vendorsmap>
                <class>VES_VendorsMap_Block</class>
            </vendorsmap>
        </blocks>
        <helpers>
            <vendorsmap>
                <class>VES_VendorsMap_Helper</class>
            </vendorsmap>
        </helpers>
        <events>
        			<!-- 
        			<core_block_abstract_prepare_layout_before>
                		<observers>
                    		<adminhtml_block_html_before>
                      			  <type>model</type>
                        			<class>vendorsmap/observer</class>
                        			<method>appendTabAccount</method>
                   			 </adminhtml_block_html_before>
                		</observers>
           			</core_block_abstract_prepare_layout_before>
           			-->
           			<ves_vendors_prepare_tabs_after>
                        <observers>
                            <vendorsmap>
                                <type>model</type>
                                <class>vendorsmap/observer</class>
                                <method>appendTabAccount</method>
                            </vendorsmap>
                        </observers>
           			</ves_vendors_prepare_tabs_after>
           			<ves_vendors_account_edit_tab_main_after>
                		<observers>
                    		<vendorsmap>
                      			  <type>model</type>
                        			<class>vendorsmap/observer</class>
                        			<method>appendFieldSetAccount</method>
                   			 </vendorsmap>
                		</observers>
           			</ves_vendors_account_edit_tab_main_after>
           			
          			<ves_vendorspage_profile_prepare>
						<observers>
							<vendorsmap>
								<type>singleton</type>
								<class>vendorsmap/observer</class>
	                   			 <method>ves_vendorspage_map_prepare</method>
							</vendorsmap>
						</observers>
					</ves_vendorspage_profile_prepare>
        </events>
    </global>
    <default>
    	<vendors>
    		<vendors_map>
    				<location_lat>20.9831371</location_lat>
    				<location_lng>105.83196529999998</location_lng>
    				<heading>Find a store near you</heading>
    				<sub_heading>Select a store if you want to shop or find it through address</sub_heading>
                    <store_attribute_1>Wholesalers</store_attribute_1>
                    <store_attribute_2>Retailers</store_attribute_2>
    		</vendors_map>
    	</vendors>
    </default>

</config>