	#tabs-1 table, #tabs-2 table {width: 24%; border: solid 1px #ccc; margin: 0 10px 32px 0; float: left; border-bottom: none;}
	#tabs-1 table td, #tabs-2 table td {padding: 10px; border-right: solid 1px #ccc; border-bottom: solid 1px #ccc;  }
	#tabs-1 table tr:nth-child(odd), #tabs-2 table tr:nth-child(odd) {background: #ddd;}
	#tabs-1 table td:last-child, #tabs-2 table td:last-child {border-right: none;}
	#tabs ul {clear: both;}
	#tabs ul li {float: left; margin-right:10px; background: #329f91; padding: 8px;}
	#tabs ul li a { display: block; text-decoration: none; color: #fff; text-transform: uppercase;;}
	.ui-state-active { background: #eb5f34 !important; }	
	.clr {clear: both;}
	.formCount {width: 580px; margin: auto; background: #ddd; padding: 10px;  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
	.formCount label {float: left; width: 22%; margin-bottom: 15px;}
	.formCount input, .formCount select {border:solid 1px #ddd; padding: 8px; float: left; width: 60%; margin-bottom: 15px;}
	.formCount select {width: 62.333%;}
	.formCount .submitButton {width: 120px; margin: auto;}
	.formCount .submitButton button {border:none; background: #eb5f34; text-transform: uppercase; padding: 8px; width: 100%;}
	#tabs-1 {position: relative;}
	.formSearchCount {position: absolute; right: 26px; top: -40px;}
	.formSearchCount .input-box input {padding: 7px; width: 92%;}
	#search_info {border:none; background: #329f91; width: 100%; padding: 8px; text-transform: uppercase; font-weight: normal;}
	.resetButton {border:none; background: #eb5f34; width: 100%; padding: 8px; color: #fff; text-transform: uppercase; text-decoration: none;}
	.resetButton:hover{color:#fff;text-decoration: none;}
	.formSearchCount table { width: 440px !important; }
	.formSearchCount table td:last-child {padding-top: 17px !important;	}
	#t1 li, #t2 li {float: none !important; background: none !important; padding:0 !important; }
	.paging-nav {display: block; width: 234px; margin: auto;}
	.paging-navi {display: block; width: 234px; margin: auto;}
	.col{color:#ea7601 !important;}