<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsInventory>
            <version>0.1.4</version>
        </VES_VendorsInventory>
    </modules>
    <frontend>
        <routers>
            <vendors>
                <args>
                    <modules>
                        <vendorsinventory before="VES_Vendors">VES_VendorsInventory</vendorsinventory>
                    </modules>
                </args>
            </vendors>
        </routers>
        <layout>
            <updates>
                <vendorsinventory>
                    <file>ves_vendors/inventory.xml</file>
                </vendorsinventory>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsInventory>
                    <files>
                        <default>ves_vendors/inventory.csv</default>
                    </files>
                </VES_VendorsInventory>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendorsinventory before="Mage_Adminhtml">VES_VendorsInventory_Adminhtml</vendorsinventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vendorsinventory>
                    <file>ves_vendors/inventory.xml</file>
                </vendorsinventory>
            </updates>
        </layout>
    </adminhtml>
    <vendors>
        <menu>
            <inventory module="vendorsinventory">
                <title>Inventory</title>
                <frontend_class>inventory</frontend_class>
                <sort_order>40</sort_order>
                <children>
                    <stock>
                        <title>Manage Stock</title>
                        <sort_order>10</sort_order>
                        <action>vendors/inventory_stock/</action>
                    </stock>                    
                </children>
                <children>
                    <adjuststock>
                        <title>Adjust Stock</title>
                        <sort_order>20</sort_order>
                        <action>vendors/inventory_adjuststock/</action>
                    </adjuststock>                    
                </children>
                <children>
                    <physicalstock>
                        <title>Physical Stocktaking</title>
                        <sort_order>30</sort_order>
                        <action>vendors/inventory_physicalstocktaking/</action>
                    </physicalstock>                    
                </children>
                <children> 
                    <lowstock>
                        <title>Low Stock Alerts</title>
                        <sort_order>40</sort_order>
                        <action>vendors/inventory_notificationlog/</action>
                    </lowstock>                    
                </children>                
<!--                <children> 
                    <requeststock>
                        <title>Request Stock</title>
                        <sort_order>50</sort_order>
                        <action>vendors/inventory_requeststock/</action>
                    </requeststock>                    
                </children>                
                <children> 
                    <sendstock>
                        <title>Send Stock</title>
                        <sort_order>60</sort_order>
                        <action>vendors/inventory_sendstock/</action>
                    </sendstock>                    
                </children>                -->
                <children> 
                    <warehouse>
                        <title>Warehouse</title>
                        <sort_order>70</sort_order>
                        <action>vendors/inventory_warehouse/</action>
                    </warehouse>                    
                </children>                
<!--                <children> 
                    <purchase_order>
                        <title>Purchase Management</title>
                        <sort_order>80</sort_order>
                        <children> 
                            <purchaseorder>
                                <title>Manage Purchase Orders</title>
                                <sort_order>80</sort_order>
                                <action>vendors/inventory_purchaseorders/</action>
                            </purchaseorder>                    
                            <po_manually>
                                <title>Create P.O. Manually</title>
                                <sort_order>90</sort_order>
                                <action>vendors/inventory_purchaseorders/new</action>
                            </po_manually>   
                            <po_lowstock>
                                <title>Generate P.O. From Low Stocks</title>
                                <sort_order>100</sort_order>
                                <action>vendors/inventory_lowstock/</action>
                            </po_lowstock>   
                            <po_supplyneed>
                                <title>Generate P.O. From supply needs</title>
                                <sort_order>110</sort_order>
                                <action>vendors/inventory_inventorysupplyneeds/</action>
                            </po_supplyneed>   
                            <po_supplier>
                                <title>Manage Suppliers</title>
                                <sort_order>120</sort_order>
                                <action>vendors/inventory_supplier/</action>
                            </po_supplier>   
                        </children>  
                    </purchase_order>                
                </children>                             -->
            </inventory>            
        </menu>
        <group_options>
            <inventory module="vendorsinventory">
                <title>Inventory</title>
                <sort_order>40</sort_order>
                <fields>
                    <enabled>
                        <label>Enable Inventory Feature</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                    </enabled>
                    <max_warehouse>
                        <label>Max Number of Sub Accounts</label>
                        <frontend_type>text</frontend_type>
                        <frontend_class>validate-number</frontend_class>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <comment>Maximum number of warehouse that you allow this vendor group to add(leave blank or zero for unlimited)</comment>
                    </max_warehouse>                    
                </fields>
            </inventory>
        </group_options>
    </vendors> 
    <global>
        <events>
            <!-- Check if vendor has permission to see category menu. -->
            <ves_vendor_menu_check_acl>
                <observers>
                    <vendorsinventory>
                        <class>vendorsinventory/observer</class>
                        <method>ves_vendor_menu_check_acl</method>
                    </vendorsinventory>
                </observers>
            </ves_vendor_menu_check_acl>
            <!-- Vendor Category -->
            <ves_vendorsinventory_module_enable>
                <observers>
                    <vendorsinventory>
                        <class>vendorsinventory/observer</class>
                        <method>ves_vendorsinventory_module_enable</method>
                    </vendorsinventory>
                </observers>
            </ves_vendorsinventory_module_enable>
            <!-- Vendor Product Save Before -->
            
            <adjust_stock_html_before>
                <observers>
                    <inventorywarehouse_observers>
                        <class>vendorsinventory/observer</class>
                        <method>adjust_stock_html</method>
                    </inventorywarehouse_observers>
                </observers>
            </adjust_stock_html_before>
            <ves_vendorsinventory_warehouse_stock_action_buttons>
                <observers>
                    <inventorywarehouse_observers>
                        <class>vendorsinventory/observer</class>
                        <method>inventoryplus_warehouse_stock_action_buttons</method>
                    </inventorywarehouse_observers>
                </observers>
            </ves_vendorsinventory_warehouse_stock_action_buttons>
            <ves_vendorsinventory_add_top_tab_warehouse>
                <observers>
                    <inventorywarehouse_observers>
                        <type>model</type>
                        <class>vendorsinventory/observer</class>
                        <method>inventory_add_top_tab_warehouse</method>
                    </inventorywarehouse_observers>
                </observers>
            </ves_vendorsinventory_add_top_tab_warehouse>
            <ves_vendorsinventory_add_tab_warehouse>
                <observers>
                    <inventorywarehouse_observers>
                        <type>model</type>
                        <class>vendorsinventory/observer</class>
                        <method>addWarehouseTab</method>
                    </inventorywarehouse_observers>
                </observers>
            </ves_vendorsinventory_add_tab_warehouse>
            
            <ves_vendorsinventory_add_dashboard_tab_supplier>
                <observers>
                    <inventorypurchasing_observers>
                        <type>model</type>
                        <class>vendorsinventory/observer</class>
                        <method>addDashboardTabSupplier</method>
                    </inventorypurchasing_observers>
                </observers>
            </ves_vendorsinventory_add_dashboard_tab_supplier>
            
            <ves_vendorsinventory_add_supplier_tabs>
                <observers>
                    <inventorydropship_observers>
                        <type>singleton</type>
                        <class>vendorsinventory/observer</class>
                        <method>addSupplierTabs</method>
                    </inventorydropship_observers>
                </observers>
            </ves_vendorsinventory_add_supplier_tabs>
            
            <ves_vendorsinventory_supplier_form_after>
                <observers>
                    <inventorydropship_observers>
                        <class>vendorsinventory/observer</class>
                        <method>supplier_form_after</method>
                    </inventorydropship_observers>
                </observers>
            </ves_vendorsinventory_supplier_form_after>
            
            <ves_vendorsinventory_controller_supplier_save_before>
                <observers>
                    <inventorydropship_observers>
                        <type>singleton</type>
                        <class>vendorsinventory/observer</class>
                        <method>saveSupplierPassword</method>
                    </inventorydropship_observers>
                </observers>
            </ves_vendorsinventory_controller_supplier_save_before>
        </events>
        <models>
            <vendorsinventory>
                <class>VES_VendorsInventory_Model</class>
                <resourceModel>vendorinventory_resource</resourceModel>
            </vendorsinventory>
            <vendorinventory_resource>
                <class>VES_VendorsInventory_Model_Resource</class>
                <entities>
                    <permission>
                        <table>ves_vendor_warehouse_permission</table>
                    </permission>
                </entities>
            </vendorinventory_resource>
        </models>
        
        <resources>
            <vendorsinventory_setup>
                <setup>
                    <module>VES_VendorsInventory</module>
                    <class>VES_VendorsInventory_Model_Resource_Setup</class>
                </setup>
            </vendorsinventory_setup>
        </resources>
        
        <helpers>
            <vendorsinventory>
                <class>VES_VendorsInventory_Helper</class>
            </vendorsinventory>
        </helpers>
        <blocks>
            <vendorsinventory>
                <class>VES_VendorsInventory_Block</class>
            </vendorsinventory>
        </blocks>
        <helpers>
            <vendorsinventory>
                <class>VES_VendorsInventory_Helper</class>
            </vendorsinventory>
        </helpers>
    </global>
</config> 