<?xml version="1.0"?>
<config>
	<admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<vendorsquote before="Mage_Adminhtml">VES_VendorsQuote_Adminhtml</vendorsquote>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
	<frontend>
		<routers>
            <vendorsquote>
                <use>standard</use>
                <args>
                    <module>VES_VendorsQuote</module>
                    <frontName>vquote</frontName>
                </args>
            </vendorsquote>
            <customer>
				<args>
					<modules>
						<vendorsquote before="Mage_Customer">VES_VendorsQuote_Customer</vendorsquote>
					</modules>
				</args>
			</customer>
            <vendors>
				<args>
					<modules>
						<vendorsquote before="VES_Vendors">VES_VendorsQuote_Vendor</vendorsquote>
					</modules>
				</args>
			</vendors>
        </routers>
        <layout>
            <updates>
                <vendorsquote>
                    <file>ves_vendors/quote.xml</file>
                </vendorsquote>
            </updates>
        </layout>
        <translates>
            <modules>
                <VES_VendorsQuote>
                    <files>
                        <default>ves_vendors/quote.csv</default>
                    </files>
                </VES_VendorsQuote>
            </modules>
        </translates>
		<events>
			<customer_login>
                <observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>loadCustomerQuote</method>
                    </vendorsquote>
                </observers>
            </customer_login>
            <customer_logout>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>clearQuoteSession</method>
                    </vendorsquote>
                </observers>
            </customer_logout>
            <sales_quote_item_set_product>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>sales_quote_item_set_product</method>
                    </vendorsquote>
                </observers>
            </sales_quote_item_set_product>
            
            <controller_action_predispatch_checkout_cart_updatePost>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>predispatch_checkout_cart_updatePost</method>
                    </vendorsquote>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
            
            <controller_action_predispatch_checkout_cart_configure>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>predispatch_checkout_cart_configure</method>
                    </vendorsquote>
                </observers>
            </controller_action_predispatch_checkout_cart_configure>
            
            <controller_action_predispatch_checkout_cart_ajaxUpdate>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>predispatch_checkout_cart_ajaxUpdate</method>
                    </vendorsquote>
                </observers>
            </controller_action_predispatch_checkout_cart_ajaxUpdate>
            
<!--             <sales_convert_quote_item_to_order_item>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>sales_convert_quote_item_to_order_item</method>
                    </vendorsquote>
                </observers>
            </sales_convert_quote_item_to_order_item> -->
            <checkout_submit_all_after>
            	<observers>
                    <vendorsquote>
                        <class>vendorsquote/observer</class>
                        <method>checkout_submit_all_after</method>
                    </vendorsquote>
                </observers>
            </checkout_submit_all_after>
    	</events>
	</frontend>
	
	<adminhtml>
		<layout>
			<updates>
				<vendorsquote>
					<file>ves_vendors/quote.xml</file>
				</vendorsquote>
			</updates>
		</layout>
		<translates>
            <modules>
                <VES_VendorsQuote>
                    <files>
                        <default>ves_vendors/quote.csv</default>
                    </files>
                </VES_VendorsQuote>
            </modules>
        </translates>
	</adminhtml>
	<vendors>
    	<menu>
    		<sales module="vendorscredit" translate="label">
    			<children>
    				<quotation>
	    				<title>Quotations</title>
		    			<sort_order>100</sort_order>
		    			<action>vendors/quote/</action>
	    			</quotation>
    			</children>
    		</sales>
    	</menu>
    </vendors>
    <global>
   		<template>
            <email>
                <vendors_quote_email_template_new_request translate="label" module="vendors">
                    <label>New Quote Request</label>
                    <file>ves_vendors/quote/new_request.html</file>
                    <type>html</type>
                </vendors_quote_email_template_new_request>
                <vendors_quote_email_template_quote_message translate="label" module="vendors">
                    <label>CRM Email Template - Customer</label>
                    <file>ves_vendors/quote/crm_message_customer.html</file>
                    <type>html</type>
                </vendors_quote_email_template_quote_message>
                <vendors_quote_email_template_quote_message_vendor>
                	<label>CRM Email Template - Vendor</label>
                    <file>ves_vendors/quote/crm_message_vendor.html</file>
                    <type>html</type>
                </vendors_quote_email_template_quote_message_vendor>
                <vendors_quote_email_template_new_proposal>
                	<label>New proposal</label>
                    <file>ves_vendors/quote/new_proposal.html</file>
                    <type>html</type>
                </vendors_quote_email_template_new_proposal>
                <vendors_quote_email_template_request_cancelled>
                	<label>Cancel Quote Request</label>
                    <file>ves_vendors/quote/cancel_quote.html</file>
                    <type>html</type>
                </vendors_quote_email_template_request_cancelled>
                <vendors_quote_email_template_request_rejected>
                	<label>Reject proposal</label>
                    <file>ves_vendors/quote/reject_proposal.html</file>
                    <type>html</type>
                </vendors_quote_email_template_request_rejected>
                
                <vendors_quote_email_template_proposal_expired>
                	<label>Proposal Expired</label>
                    <file>ves_vendors/quote/proposal_expired.html</file>
                    <type>html</type>
                </vendors_quote_email_template_proposal_expired>
                
                <vendors_quote_email_template_proposal_reminder>
                	<label>Proposal Reminder</label>
                    <file>ves_vendors/quote/proposal_reminder.html</file>
                    <type>html</type>
                </vendors_quote_email_template_proposal_reminder>
                <!-- 
                <vendors_quote_email_template_proposal_accepted>
                	<label>Accept proposal</label>
                    <file>ves_vendors/quote/accept_proposal.html</file>
                    <type>html</type>
                </vendors_quote_email_template_proposal_accepted>
                 -->
			</email>
		</template>
        <models>
             <vendorsquote>
                <class>VES_VendorsQuote_Model</class>
                <resourceModel>vendorsquote_resource</resourceModel>
            </vendorsquote>
            <vendorsquote_resource>
                <class>VES_VendorsQuote_Model_Resource</class>
                <entities>
                    <quote>
                        <table>ves_vendor_quote</table>
                    </quote>
                    <item>
                        <table>ves_vendor_quote_item</table>
                    </item>
                    <proposal>
                        <table>ves_vendor_quote_item_proposal</table>
                    </proposal>
                    <message>
                    	 <table>ves_vendor_quote_message</table>
                   	</message>
                </entities>
           	</vendorsquote_resource>
        </models>

        <resources>
	        <vendorsquote_setup>
	            <setup>
	                <module>VES_VendorsQuote</module>
	                <class>VES_VendorsQuote_Model_Resource_Setup</class>
	            </setup>
	        </vendorsquote_setup>
	    </resources>

        <blocks>
            <vendorsquote>
                <class>VES_VendorsQuote_Block</class>
            </vendorsquote>
        </blocks>
        <helpers>
            <vendorsquote>
                <class>VES_VendorsQuote_Helper</class>
            </vendorsquote>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<quote>
    			<frontend_login_required>0</frontend_login_required>
    			
    			<config_expiration_time>60</config_expiration_time>
    			<config_reminder_time>3</config_reminder_time>
    			
    			<config_quote_prefix>Q</config_quote_prefix>
    			<config_quote_current_number>1</config_quote_current_number>
    			<config_quote_increment_number>1</config_quote_increment_number>
    			<config_quote_pad_length>6</config_quote_pad_length>
    			
    			<account_detail_email>Yes and Required</account_detail_email>
    			<account_detail_firstname>Yes and Required</account_detail_firstname>
    			<account_detail_lastname>Yes and Required</account_detail_lastname>
    			
    			<email_template_new_request>vendors_quote_email_template_new_request</email_template_new_request>
    			<email_template_new_proposal>vendors_quote_email_template_new_proposal</email_template_new_proposal>
    			<email_template_request_cancelled>vendors_quote_email_template_request_cancelled</email_template_request_cancelled>
    			<email_template_request_rejected>vendors_quote_email_template_request_rejected</email_template_request_rejected>
    			<email_template_proposal_reminder>vendors_quote_email_template_proposal_reminder</email_template_proposal_reminder>
    			
    			<email_template_quote_message>vendors_quote_email_template_quote_message</email_template_quote_message>
    			<email_template_quote_message_vendor>vendors_quote_email_template_quote_message_vendor</email_template_quote_message_vendor>
    		</quote>
    	</vendors>
    </default>
    <crontab>
        <jobs>
            <ves_vendorsquote_quote_process_expired_quotes>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vendorsquote/observer::processExpiredQuotesCron</model>
                </run>
            </ves_vendorsquote_quote_process_expired_quotes>
            
            <ves_vendorsquote_quote_send_reminder_emails>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vendorsquote/observer::sendReminderEmails</model>
                </run>
            </ves_vendorsquote_quote_send_reminder_emails>
        </jobs>
    </crontab>
</config>