<?xml version="1.0"?>
<config>
  <modules>
    <Evince_WhatsApp>
      <version>1.0.0</version>
    </Evince_WhatsApp>
  </modules>
  <global>
  <models>
	<whatsapp>
		<class>Evince_WhatsApp_Model</class>
	</whatsapp>
	</models>
    <helpers>
      <whatsapp>
        <class>Evince_WhatsApp_Helper</class>
      </whatsapp>
    </helpers>
    <blocks>
	<whatsapp>
		<class>Evince_WhatsApp_Block</class>
	</whatsapp>
	</blocks>
  </global>
  <frontend>
		<routers>
			<whatsapp>
				<use>standard</use>
				<args>
					<module>Evince_WhatsApp</module>
					<frontName>whatsapp</frontName>
				</args>
			</whatsapp>
		</routers>
		<layout>
			<updates>
				<whatsapp>
					<file>whatsapp.xml</file>
				</whatsapp>
			</updates>
		</layout>
		<translate>
        <modules>
            <Evince_WhatsApp>
                <files>
                    <default>Evince_WhatsApp.csv</default>
                </files>
            </Evince_WhatsApp>
        </modules>
    </translate>
	</frontend>
	<adminhtml>
	<layout>
		<updates>
			<whatsapp>
				<file>whatsapp.xml</file>
			</whatsapp>
		</updates>
	</layout>
	</adminhtml>
	<default>
    <evince_dev_section>
        <evince_dev_group>                
            <evnc_background>6E1E46</evnc_background>         
        </evince_dev_group>      
    </evince_dev_section>
	</default>
</config> 