<?xml version="1.0"?>
<config>
    <frontend>
		<secure_url>
            <vendor>/checkout/monepage/</vendor>
        </secure_url>
        <routers>
            <customer>
				<args>
					<modules>
						<membership before="Mage_Customer">VES_VendorsMemberShip</membership>
					</modules>
				</args>
			</customer>
			<checkout>
				<args>
					<modules>
						<membership before="Mage_Checkout">VES_VendorsMemberShip_Checkout</membership>
					</modules>
				</args>
			</checkout>
        </routers>
        <layout>
            <updates>
                <membership>
                    <file>ves_vendors/membership.xml</file>
                </membership>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsMemberShip>
                    <files>
                        <default>ves_vendors/membership.csv</default>
                    </files>
                </VES_VendorsMemberShip>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <VES_VendorsMemberShip>
                    <files>
                        <default>ves_vendors/membership.csv</default>
                    </files>
                </VES_VendorsMemberShip>
            </modules>
        </translate>
		<layout>
			<updates>
				<vendorsmembership>
					<file>ves_vendors/membership.xml</file>
				</vendorsmembership>
			</updates>
		</layout>
	</adminhtml>
    <global>
    	<catalog>
    		<product>
    			<type>
    				<membership translate="label" module="membership">
                        <label>Vendor Package</label>
                        <model>membership/product_type_membership</model>
                        <composite>0</composite>
                        <index_priority>20</index_priority>
                    </membership>
    			</type>
    		</product>
    	</catalog>
    	<events>
    		<ves_vendors_group_prepare_tabs_after>
    			<observers>
                    <membership>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>ves_vendors_group_prepare_tabs_after</method>
                    </membership>
                </observers>
    		</ves_vendors_group_prepare_tabs_after>
    		<catalog_product_type_prepare_full_options>
    			<observers>
                    <membership>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>catalog_product_type_prepare_full_options</method>
                    </membership>
                </observers>
    		</catalog_product_type_prepare_full_options>
    		<sales_order_invoice_save_after>
                <observers>
                    <membership>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </membership>
                </observers>
	         </sales_order_invoice_save_after>
	         <vendor_register_before>
	         	<observers>
                    <membership>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>vendor_register_before</method>
                    </membership>
                </observers>
	         </vendor_register_before>
	         
	         <ves_vendors_account_edit_tab_main_after>
	         	<observers>
                    <membership>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>ves_vendors_account_edit_tab_main_after</method>
                    </membership>
                </observers>
	         </ves_vendors_account_edit_tab_main_after>
	         
	         <core_block_abstract_to_html_before>
	         	<observers>
                    <membership>
                        <type>singleton</type>
                        <class>membership/observer</class>
                        <method>core_block_abstract_to_html_before</method>
                    </membership>
                </observers>
	         </core_block_abstract_to_html_before>
	         
	         <controller_action_predispatch_checkout_onepage_index>
				<observers>
					<membership>
	                    <class>membership/observer</class>
	                    <method>controller_action_predispatch_checkout_onepage_index</method>
	                </membership>
                 </observers>
			</controller_action_predispatch_checkout_onepage_index>
			
			<sales_quote_product_add_after>
				<observers>
					<membership>
	                    <class>membership/observer</class>
	                    <method>sales_quote_product_add_after</method>
	                </membership>
                 </observers>
			</sales_quote_product_add_after>
    	</events>
    	
        <models>
             <membership>
                <class>VES_VendorsMemberShip_Model</class>
            </membership>
        </models>

        <resources>
	        <membership_setup>
	            <setup>
	                <module>VES_VendorsMemberShip</module>
	                <class>VES_VendorsMemberShip_Model_Resource_Setup</class>
	            </setup>
	        </membership_setup>
	    </resources>

        <blocks>
            <membership>
                <class>VES_VendorsMemberShip_Block</class>
            </membership>
        </blocks>
        
        <helpers>
            <membership>
                <class>VES_VendorsMemberShip_Helper</class>
            </membership>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <ves_membership_checke_expired_account>
                <schedule><cron_expr>0 2 * * *</cron_expr></schedule>
                <run><model>membership/observer::dailyCheckExpiredVendor</model></run>
            </ves_membership_checke_expired_account>
        </jobs>
    </crontab>
    <default>
    	<vendors>
    		<create_account>
    			<replace_customer_register_frm>1</replace_customer_register_frm>
    			<default_group_expiry_period>12</default_group_expiry_period>
    			<expiry_action>disable_account</expiry_action>
    		</create_account>
    	</vendors>
    </default>
</config>