<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendors>
                <args>
                    <modules>
                        <vendorsreport before="VES_Vendors">VES_VendorsReport</vendorsreport>
                    </modules>
                </args>
            </vendors>
        </routers>
        <layout>
            <updates>
                <vendorsreport>
                    <file>ves_vendors/report.xml</file>
                </vendorsreport>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsReport>
                    <files>
                        <default>ves_vendors/report.csv</default>
                    </files>
                </VES_VendorsReport>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <vendorsreport>
                    <file>ves_vendors/report.xml</file>
                </vendorsreport>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsReport>
                    <files>
                        <default>ves_vendors/report.csv</default>
                    </files>
                </VES_VendorsReport>
            </modules>
        </translate>
    </adminhtml>
    <vendors>
        <menu>
            <report module="vendorsreport">
                <title>Reports</title>
                <frontend_class>reports</frontend_class>
                <sort_order>100</sort_order>
                <children>
                    <sales>
                        <title>Sales</title>
                        <sort_order>10</sort_order>
                        <children>
                            <orders>
                                <title>Orders</title>
                                <sort_order>10</sort_order>
                                <action>vendors/report_sales/sales</action>
                            </orders>
                            <sales>
                                <title>Sales</title>
                                <sort_order>20</sort_order>
                                <action>vendors/report_report/dashboard2</action>
                            </sales>
                        </children>
                    </sales>
                    <customer>
                        <title>Customer Reports</title>
                        <sort_order>40</sort_order>
                        <children>
                            <orders>
                                <title>Customer Report</title>
                                <sort_order>10</sort_order>
                                <action>vendors/report_report/customer</action>
                            </orders>
                        </children>
                    </customer>
                    <products>
                        <title>Products</title>
                        <sort_order>20</sort_order>
                        <children>
                            <bestseller>
                                <title>Bestseller</title>
                                <sort_order>10</sort_order>
                                <action>vendors/report_sales/bestsellers</action>
                            </bestseller>
                            <products_ordered>
                                <title>Products Ordered</title>
                                <sort_order>20</sort_order>
                                <action>vendors/report_product/sold</action>
                            </products_ordered>
                            <most_viewed>
                                <title>Most Viewed</title>
                                <sort_order>30</sort_order>
                                <action>vendors/report_product/viewed</action>
                            </most_viewed>
                            <low_stock>
                                <title>Low stock</title>
                                <sort_order>40</sort_order>
                                <action>vendors/report_product/lowstock</action>
                            </low_stock>
                        </children>
                    </products>
                    <inventory>
                        <title>Inventory Reports</title>
                        <sort_order>30</sort_order>
                        <children>
                            <dashboard>
                                <title>Reports</title>
                                <sort_order>10</sort_order>
                                <action>vendors/report_report/dashboard</action>
                            </dashboard>
                        </children>
                    </inventory>
                </children>
            </report>
        </menu>
		
        <group_options>
            <report module="vendorsreport">
                <title>Reports</title>
                <sort_order>60</sort_order>
                <fields>
                    <enabled>
                        <label>Enable Reports Feature</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                    </enabled>
                </fields>
            </report>
        </group_options>
    </vendors>
    <global>
        <events>
            <!-- Check if vendor has permission to see category menu. -->
            <ves_vendor_menu_check_acl>
                <observers>
                    <vendorsreport>
                        <class>vendorsreport/observer</class>
                        <method>ves_vendor_menu_check_acl</method>
                    </vendorsreport>
                </observers>
            </ves_vendor_menu_check_acl>
            <!-- Vendor Category -->
            <ves_vendorsreport_module_enable>
                <observers>
                    <vendorsreport>
                        <class>vendorsreport/observer</class>
                        <method>ves_vendorsreport_module_enable</method>
                    </vendorsreport>
                </observers>
            </ves_vendorsreport_module_enable>
            <!-- Vendor Product Save Before -->
        </events>
        <models>
            <vendorsreport>
                <class>VES_VendorsReport_Model</class>
                <resourceModel>vendorsreport_resource</resourceModel>
            </vendorsreport>
            <vendorsreport_resource>
                <class>VES_VendorsReport_Model_Resource</class>
            </vendorsreport_resource>
        </models>
        <blocks>
            <vendorsreport>
                <class>VES_VendorsReport_Block</class>
            </vendorsreport>
        </blocks>
        <helpers>
            <vendorsreport>
                <class>VES_VendorsReport_Helper</class>
            </vendorsreport>
        </helpers>
    </global>
</config>