<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendorsqap>
                <use>standard</use>
                <args>
                    <module>VES_VendorsQuickAddProduct</module>
                    <frontName>vendorsqap</frontName>
                </args>
            </vendorsqap>
            <vendors>
				<args>
					<modules>
						<vendorsqap before="VES_Vendors">VES_VendorsQuickAddProduct_Vendor</vendorsqap>
					</modules>
				</args>
			</vendors>
            <!--<vendorspage>
                <args>
                    <modules>
                        <vendorsqap before="VES_VendorsPage">VES_VendorsQuickAddProduct</vendorsqap>
                    </modules>
                </args>
            </vendorspage>-->
        </routers>
        <layout>
            <updates>
                <vendorsqap>
                    <file>ves_vendors/qap.xml</file>
                </vendorsqap>
            </updates>
        </layout>
    </frontend>
    <admin>
       <routers>
		<adminhtml>
			<args>
				<modules>
					<vendorsqap before="Mage_Adminhtml">VES_VendorsQuickAddProduct_Adminhtml</vendorsqap>
				</modules>
			</args>
		</adminhtml>
       </routers>
   	</admin>
	<adminhtml>
	    <menu>

		</menu>
	    <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorsqap>
					<file>ves_vendors/qap.xml</file>
				</vendorsqap>
			</updates>
		</layout>
	</adminhtml>
    <global>
    	<events>
            <ves_vendorsproduct_product_edit_tabs_prepare_after>
                <observers>
                    <vendorsqap>
                        <type>singleton</type>
                        <class>vendorsqap/observer</class>
                        <method>ves_vendorsproduct_product_edit_tabs_prepare_after</method>
                    </vendorsqap>
                </observers>
            </ves_vendorsproduct_product_edit_tabs_prepare_after>

            <catalog_product_prepare_save>
                <observers>
                    <vendorsqap>
                        <type>singleton</type>
                        <class>vendorsqap/observer</class>
                        <method>catalog_product_prepare_save</method>
                    </vendorsqap>
                </observers>
            </catalog_product_prepare_save>
    	</events>

        <models>
             <vendorsqap>
                <class>VES_VendorsQuickAddProduct_Model</class>
                <resourceModel>vendorsqap_mysql4</resourceModel>
            </vendorsqap>
            <vendorsqap_mysql4>
                <class>VES_VendorsQuickAddProduct_Model_Mysql4</class>
                <entities>

                </entities>
           	</vendorsqap_mysql4>
        </models>

        <resources>
	        <vendorsqap_setup>
                <setup>
                    <module>VES_VendorsQuickAddProduct</module>
                    <class>VES_VendorsQuickAddProduct_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorsqap_setup>
            <vendorsqap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorsqap_write>
            <vendorsqap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorsqap_read>
	    </resources>

        <blocks>
            <vendorsqap>
                <class>VES_VendorsQuickAddProduct_Block</class>
            </vendorsqap>
        </blocks>
        <helpers>
            <vendorsqap>
                <class>VES_VendorsQuickAddProduct_Helper</class>
            </vendorsqap>
        </helpers>
    </global>
    
    <default>

    </default>
</config>