<?xml version="1.0"?>
<config>
    <modules>
		<Mirasvit_Seo>
			<version>0.1.7</version>
		</Mirasvit_Seo>
	</modules>
	<global>
		<blocks>
			<seo>
				<class>Mirasvit_Seo_Block</class>
			</seo>
            <page>
                <rewrite>
                    <html_pager>Mirasvit_Seo_Block_Html_Pager</html_pager>
                    <html_head>Mirasvit_Seo_Block_Html_Head</html_head>
                    <html_breadcrumbs>Mirasvit_Seo_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
            <review>
                <rewrite>
                    <helper>Mirasvit_Seo_Block_Review_Helper</helper>
                    <product_view_list>Mirasvit_Seo_Block_Review_Product_View_List</product_view_list>
                    <view>Mirasvit_Seo_Block_Review_View</view>
                </rewrite>
            </review>
		</blocks>
		<models>
			<seo>
				<class>Mirasvit_Seo_Model</class>
				<resourceModel>seo_resource</resourceModel>
			</seo>
                <catalog>
                    <rewrite>
                        <product_attribute_backend_urlkey>Mirasvit_Seo_Model_Rewrite_Product_Attribute_Backend_Urlkey</product_attribute_backend_urlkey>
                        <url>Mirasvit_Seo_Model_Rewrite_Url</url>
                    </rewrite>
                </catalog>
            <seo_resource>
                <class>Mirasvit_Seo_Model_Resource</class>
                <entities>
                    <rewrite>
                        <table>m_seo_rewrite</table>
                    </rewrite>
                    <rewrite_store>
                        <table>m_seo_rewrite_store</table>
                    </rewrite_store>
                </entities>
            </seo_resource>
            <tag>
                <rewrite>
                    <tag>Mirasvit_Seo_Model_Rewrite_Tag</tag>
                </rewrite>
            </tag>
		</models>
		<helpers>
			<seo>
				<class>Mirasvit_Seo_Helper</class>
			</seo>
            <catalog>
                <rewrite>
                    <image>Mirasvit_Seo_Helper_Rewrite_Image</image>
                </rewrite>
            </catalog>
		</helpers>
		<resources>
			<seo_setup>
				<setup>
					<module>Mirasvit_Seo</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</seo_setup>
		</resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <m_seo_observer>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>checkUrl</method>
                    </m_seo_observer>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_render_before>
                <observers>
                    <m_seo_observer_meta>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>applyMeta</method>
                    </m_seo_observer_meta>
                </observers>
            </controller_action_layout_render_before>

            <adminhtml_catalog_category_tabs>
                <observers>
                    <m_seo_observer_categorytab>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>addCategorySeoTab</method>
                    </m_seo_observer_categorytab>
                </observers>
            </adminhtml_catalog_category_tabs>
            <controller_front_init_routers>
                <observers>
                    <seo>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Controller_Router</class>
                        <method>addSeoUrlsRouter</method>
                    </seo>
                </observers>
            </controller_front_init_routers>
            <catalog_product_collection_load_after>
                <observers>
                    <m_seo_observer_product_urls>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>setupProductUrls</method>
                    </m_seo_observer_product_urls>
                </observers>
            </catalog_product_collection_load_after>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <m_seo_observer_paging>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>setupPagingMeta</method>
                    </m_seo_observer_paging>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <catalog_controller_product_init_after>
                <observers>
                    <m_seo_observer_controller_product>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>checkProductUrlRedirect</method>
                    </m_seo_observer_controller_product>
                </observers>
            </catalog_controller_product_init_after>
            <http_response_send_before>
                <observers>
                    <m_seo_observer_http_response_send_before>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>httpResponseSendBeforeEvent</method>
                    </m_seo_observer_http_response_send_before>
                </observers>
            </http_response_send_before>
        </events>
	</global>
	<frontend>
		<layout>
			<updates>
				<seo>
					<file>seo.xml</file>
				</seo>
			</updates>
		</layout>
         <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <m_seo_snippets_observer>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Snippets_Observer</class>
                        <method>addProductSnippets</method>
                    </m_seo_snippets_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_helper_output_construct>
                 <observers>
                    <m_seo_observer_attributes>
                        <type>singleton</type>
                        <class>Mirasvit_Seo_Model_Observer</class>
                        <method>addCustomAttributeOutputHandler</method>
                    </m_seo_observer_attributes>
                 </observers>
             </catalog_helper_output_construct>
         </events>
        <translate>
            <modules>
                <Mirasvit_Seo>
                    <files>
                        <default>Mirasvit_Seo.csv</default>
                    </files>
                </Mirasvit_Seo>
            </modules>
        </translate>
	</frontend>
    <admin>
		<routers>
			<seo>
				<use>admin</use>
				<args>
					<module>Mirasvit_Seo</module>
					<frontName>seo</frontName>
				</args>
			</seo>
		</routers>
	</admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Seo>
                    <files>
                        <default>Mirasvit_Seo.csv</default>
                    </files>
                </Mirasvit_Seo>
            </modules>
        </translate>
        <layout>
            <updates>
                <seo>
                    <file>seo.xml</file>
                </seo>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <seo>
            <general>
                <is_add_canonical_url>1</is_add_canonical_url>
                <crossdomain></crossdomain>
                <trailing_slash>0</trailing_slash>
                <canonical_url_ignore_pages><![CDATA[catalogsearch_result_index
catalogsearch_advanced_index
catalogsearch_advanced_result
checkout_cart_index
checkout_onepage_index
cms_index_noroute]]></canonical_url_ignore_pages>
                <layered_navigation_friendly_urls>1</layered_navigation_friendly_urls>
                <is_enable_image_friendly_urls>0</is_enable_image_friendly_urls>
                <image_url_template>[product_name]</image_url_template>
                <is_enable_image_alt>0</is_enable_image_alt>
                <image_alt_template>[product_name]</image_alt_template>
                <breadcrumbs_separator><![CDATA[&rarr;]]></breadcrumbs_separator>
                <is_category_meta_tags_used>1</is_category_meta_tags_used>
                <is_product_meta_tags_used>1</is_product_meta_tags_used>
            </general>
        </seo>
    </default>
</config>