
#select-store {
    margin:0 0 0 10px;
}
#shipping_date{
    width:124px;
    float:left;
    margin:0 2px 5px 0;
}
#shipping_time{
    width:146px;
    float: left;
}
#store_id{
    width: 146px;
    float:left;
}

#date-notation, #store-notation,#shipping_date_trig{
    float:left;
    margin-top: 3px;
}

#date-notation, #store-notation{
    margin:0 0 0 10px;
    color:#FF0000;
    font-weight:bold;
}
.storepickup-box{
    margin: 0 0 10px 20px;        
}
.date-time{
    width: 45%;
    float: left;
    margin-right: 10px;
}

/* Guide Text*/
#storepickup-guid-text {
    margin:0px 20px 10px 20px;
    padding-bottom:10px;
}
#storepickup-guid-text ul {
    list-style-type: disc;
    list-style-position:inside;
    margin:10px 20px 10px 20px;
}	
/* End Guide Text*/

/*list Store */
#head-list-store{
    margin:10px 0 20px 40px;
}
#list-store.left_column
{	
    background-color:#F5F5F5;
    padding:20px;
}
.dottedBox {
    border-bottom:1px dotted #C8C8C8;
}

.result_store {
    height: 500px;
    overflow-x: scroll;
    border-top: 1px solid #C8C8C8;
}

.searchform {
    padding-bottom: 5px;
}

.search_store {
    width:100%;
    float:left;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 20px;
}

#list-store .right_column
{
    border-left:1px solid #AAAAAA;
    padding-left:15px;
}

.store-pickup-list select{margin-right:24px; float: right;}

.store-pickup-list input{margin-right:24px; float: right;}
.store-pickup-list-city input{margin-right:24px; float: right;}
.store-pickup-list-name input{margin-right:24px; float: right;}

#storepickup-form{
    margin: 0 0 0 40px;
}

#storepickup-form label{
    display:block;
}
#storepickup-form  select{
    width:180px;
    margin:0 20px 10px 0;
}
.pickup-main-outer li{
    float :left;
    margin-right: 8px;
    margin-bottom: 5px;
}
.pickup-main-outer .pickup-image-small{
    border: 2px solid #DDDDDD;
    float: left;
    height: 56px;
    overflow: hidden;
    width: 56px;
}
.pickup-image-main{
    margin: 0 0 13px;
}
.pickup-main-outer .more-views h2 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 11px;
    margin: 0 0 8px;
    text-transform: uppercase;
    font-weight:  bold;
}
#list-store .title{
    display:block;
    font-weight:bold;
}
#list-store .store-address{
    display:block;
    margin:2px 0 0 20px;
}


#list-store .storepickup-nav{
    margin: 20px 0 0 20px;
}
.part-left table td{padding: 0 2px!important;}
/*End list Store */

/*Shipping Method*/
.storepickup-box label{
    margin: 0 60px 0 0;
    float:left;
    display:block;
}

#free-location-box #list-location{
    width:300px;
    float:left;
}

#free-location-box .location-box {
    width:250px;
}

#free-location-box .location-box select{
    width:146px;
    margin:0 0 0 20px;
}
#free-location-box .location-box  label{
    margin:10px 0 0 20px;	
    display:block;
}
#free-location-box #store-location{
    float:left;
    width:300px;
}

#select-store{
    width:100%;
    float:left;
    margin:0 0 0 10px;	
}


#store-info{float:left; width: 100%;}
.shipment-methods #store-info{
    /*margin :20px 10px 0 40px;*/
    float:left;
    width:280px!important;
    margin-top: 10px;
}
.shipment-methods #store-info .st_map{
    float:left;
    margin-left:30px;
}

#store-info .title{
    display:block;
    font-weight:bold;
}
#store-info .store-address{
    display:block;
    margin:2px 0 0 20px;
}
.pickup_image{
    float: left;  
    width: 350px;
}
.pickup_contact{    
    background-color: #F6F6F6;
    border: 1px solid #DADADA;
    float: left !important;
    padding: 10px;
    width: 563px !important;
}
.pickup_imco{    
    overflow-y: auto;
    padding-top: 10px;
    border-top: 1px solid #C8C8C8;
    width: 100% !important;
    float:left;
    margin: 10px 0;
}
.button-pickup{
    margin-top: 8px !important;
}
.b-pickup{  
}

/*End Shipping Method*/


#list-storepickup ul{
    width: 50%;
    float: left;
}

.mapInfor{
    width:100%;
    float:left;     
}
.storeList{
    width:35%;    
    float:left;
}
.store-pickup-list-store-box{
    border:1px solid #ccc;
    float:left;
    width:90%;
    padding:5px 0px 5px 10px;
    height:440px;
}
.store-pickup-list-store-title{
    width:95%;
    font-size:16pt;
    border-bottom:1px solid #ccc;
    margin-bottom:5px;
}
.store-pickup-list-store{
    width:93%;
    padding-right:7%;
    height:400px;
    overflow:auto;
}
.store-pickup-list-store-item{
    width:100%;
    overflow: hidden;
    height: auto;
    margin-bottom:10px;
    border:1px solid #ccc;
    padding:2%;

}
.store-pickup-list-store-item:hover{
    background:#E9E9F3;
}
.store-pickup-item-content{
    color:#666;
    float:left;
    width:60%;
    font-size:8pt;
}
.store-pickup-item-name{
    font-size:9pt;
    color:#de5400;
    font-weight:bold;
}
.store-pickup-item-content a {
    color: #6699FF;
    font-style: italic;
    text-decoration: none;
}

.tooltip{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 10px;
    width: 15%;
    box-shadow: 0 0 4px 1px #888888;
    z-index:16000;
}
.store_info{
    float: left;
    width: 35%;
}
.store_info h1{
    color: #DB511E;
    font-weight: bold;
}
.store_info .label{
    font-weight: bold;
}
.date_time{
    float: left;
    width: 285px;
}

.closemap{
    background: url("../../images/close.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    position: inherit;
    right: -22px;
    top: -20px;
    width: 30px;
}

#store_info{
    float: left;
    width: 55%;
}
.store_image{
    float: left;
}
.list_image{
    float: left;
    overflow: hidden;
    width: 35%;
}

.calendar tbody .holiday{
    color: white;
    font-weight: bold;
    background: #CDA568;
}

.thumbnail_image img{
    border: 1px solid #808080;    
    float: left;
    margin: 10px 10px 0 0;
    padding: 1px;
}

.main_image img{
    border: 1px solid #808080;
    padding: 1px;
}

#date-box{
    margin-top: 5px;
}



