<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendorsattributeoptions>
                <use>standard</use>
                <args>
                    <module>VES_VendorsAttributeOptions</module>
                    <frontName>vendorsattributeoptions</frontName>
                </args>
            </vendorsattributeoptions>
            <vendors>
				<args>
					<modules>
						<vendorsattributeoptions before="VES_Vendors">VES_VendorsAttributeOptions_Vendor</vendorsattributeoptions>
					</modules>
				</args>
			</vendors>
            <!--<vendorspage>
                <args>
                    <modules>
                        <vendorsqap before="VES_VendorsPage">VES_VendorsQuickAddProduct</vendorsqap>
                    </modules>
                </args>
            </vendorspage>-->
        </routers>
        <layout>
            <updates>
                <vendorsattributeoptions>
                    <file>ves_vendors/attributeoptions.xml</file>
                </vendorsattributeoptions>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsAttributeOptions>
                    <files>
                        <VES_VendorsAttributeOptions>VES_VendorsAttributeOptions.csv</VES_VendorsAttributeOptions>
                    </files>
                </VES_VendorsAttributeOptions>
            </modules>
        </translate>
    </frontend>
    <admin>
       <routers>
		<adminhtml>
			<args>
				<modules>
					<vendorsattributeoptions before="Mage_Adminhtml">VES_VendorsAttributeOptions_Adminhtml</vendorsattributeoptions>
				</modules>
			</args>
		</adminhtml>
       </routers>
   	</admin>
	<adminhtml>
        <translate>
            <modules>
                <VES_VendorsAttributeOptions>
                    <files>
                        <default>VES_VendorsAttributeOptions.csv</default>
                    </files>
                </VES_VendorsAttributeOptions>
            </modules>
        </translate>

	    <menu>

		</menu>
	    <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vendorsattributeoptions>
                                            <title>Vendor Attribute Options</title>
                                        </vendorsattributeoptions>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorsattributeoptions>
					<file>ves_vendors/attributeoptions.xml</file>
				</vendorsattributeoptions>
			</updates>
		</layout>
	</adminhtml>
    <global>
    	<events>
            <ves_vendorsproduct_prepare_form>
                <observers>
                    <vendorsattributeoptions>
                        <type>singleton</type>
                        <class>vendorsattributeoptions/observer</class>
                        <method>ves_vendorsproduct_prepare_form</method>
                    </vendorsattributeoptions>
                </observers>
            </ves_vendorsproduct_prepare_form>

    	</events>

        <models>
             <vendorsattributeoptions>
                <class>VES_VendorsAttributeOptions_Model</class>
                <resourceModel>vendorsattributeoptions_mysql4</resourceModel>
            </vendorsattributeoptions>
            <vendorsattributeoptions_mysql4>
                <class>VES_VendorsAttributeOptions_Model_Mysql4</class>
                <entities>

                </entities>
           	</vendorsattributeoptions_mysql4>
        </models>

        <resources>
	        <vendorsattributeoptions_setup>
                <setup>
                    <module>VES_VendorsAttributeOptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorsattributeoptions_setup>
            <vendorsattributeoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorsattributeoptions_write>
            <vendorsattributeoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorsattributeoptions_read>
	    </resources>

        <blocks>
            <vendorsattributeoptions>
                <class>VES_VendorsAttributeOptions_Block</class>
            </vendorsattributeoptions>
        </blocks>
        <helpers>
            <vendorsattributeoptions>
                <class>VES_VendorsAttributeOptions_Helper</class>
            </vendorsattributeoptions>
        </helpers>
    </global>
    
    <default>
        <vendorsattributeoptions>
            <attributes>color,computer_manufacturers,manufacturer</attributes>
        </vendorsattributeoptions>
    </default>
</config>