<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendors>
                <args>
                    <modules>
                        <vendorssubaccount before="VES_Vendors">VES_VendorsSubAccount</vendorssubaccount>
                    </modules>
                </args>
            </vendors>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendorssubaccount before="Mage_Adminhtml">VES_VendorsSubAccount_Adminhtml</vendorssubaccount>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <!-- 
       <menu>
               <vendors>
                       <children>
                               <vendorssubaccount module="vendorssubaccount">
                                       <title>Vendors Sub Account</title>
                                       <sort_order>71</sort_order>               
                                       <sort_order>0</sort_order>
                                       <action>vendorssubaccount/adminhtml_vendorssubaccount</action>
                               </vendorssubaccount>
                       </children>
               </vendors>
       </menu>
       <acl>
               <resources>
                       <all>
                               <title>Allow Everything</title>
                       </all>
                       <admin>
                               <children>
                                       <vendors>
                                               <children>
                                                       <vendorssubaccount>
                                                               <title>Vendors Sub Account</title>
                                                               <sort_order>10</sort_order>
                                                       </vendorssubaccount>
                                               </children>
                                       </vendors>
                               </children>
                       </admin>
               </resources>
       </acl>
        -->
        <layout>
            <updates>
                <vendorssubaccount>
                    <file>ves_vendors/subaccount.xml</file>
                </vendorssubaccount>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsSubAccount>
                    <files>
                        <default>ves_vendors/subaccount.csv</default>
                    </files>
                </VES_VendorsSubAccount>
            </modules>
        </translate>
    </adminhtml>   
    <vendors>
        <menu>
            <subaccount module="vendorssubaccount">
                <title>Sub Accounts</title>
                <frontend_class>subaccount</frontend_class>
                <sort_order>90</sort_order>
                <children>
                    <roles>
                        <title>Roles</title>
                        <sort_order>10</sort_order>
                        <action>vendors/subaccount_role/</action>
                    </roles>
                    <users>
                        <title>Users</title>
                        <sort_order>20</sort_order>
                        <action>vendors/subaccount_account/</action>
                    </users>
                </children>
            </subaccount>
        </menu>
        <group_options>
            <subaccount module="vendorssubaccount">
                <title>Sub Accounts</title>
                <sort_order>40</sort_order>
                <fields>
                    <enabled>
                        <label>Enable Subaccount Feature</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                    </enabled>
                    <max_subaccount>
                        <label>Max Number of Sub Accounts</label>
                        <frontend_type>text</frontend_type>
                        <frontend_class>validate-number</frontend_class>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                        <comment>Maximum number of sub accounts that you allow this vendor group to add(leave blank or zero for unlimited)</comment>
                    </max_subaccount>
                </fields>
            </subaccount>
        </group_options>
    </vendors>
    <global>
        <events>
<!--            <vendor_save_before>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>vendor_save_before</method>
                    </vendorssubaccount>
                </observers>
            </vendor_save_before>-->
            <!-- Check if vendor has permission to see category menu. -->
            <ves_vendor_menu_check_acl>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>ves_vendor_menu_check_acl</method>
                    </vendorssubaccount>
                </observers>
            </ves_vendor_menu_check_acl>
            <!-- Vendor Category -->
            <ves_vendorssubaccount_module_enable>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>ves_vendorssubaccount_module_enable</method>
                    </vendorssubaccount>
                </observers>
            </ves_vendorssubaccount_module_enable>
            <!-- Vendor Product Save Before -->
            <controller_action_predispatch_vendors_subaccount_account_new>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>controller_action_predispatch_vendors_subaccount_account_new</method>
                    </vendorssubaccount>
                </observers>
            </controller_action_predispatch_vendors_subaccount_account_new>
			
            <controller_action_predispatch_vendors_subaccount_account_edit>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>controller_action_predispatch_vendors_subaccount_account_new</method>
                    </vendorssubaccount>
                </observers>
            </controller_action_predispatch_vendors_subaccount_account_edit>
			
            <controller_action_predispatch_vendors_index_loginPost>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>controller_action_predispatch_vendors_index_loginPost</method>
                    </vendorssubaccount>
                </observers>
            </controller_action_predispatch_vendors_index_loginPost>
			
            <controller_action_predispatch_vendors_account_index>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>controller_action_predispatch_vendors_account_index</method>
                    </vendorssubaccount>
                </observers>
            </controller_action_predispatch_vendors_account_index>
            <controller_action_predispatch_vendors>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>controller_action_predispatch_vendors</method>
                    </vendorssubaccount>
                </observers>
            </controller_action_predispatch_vendors>
            <ves_vendorsmessage_module_enable>
                <observers>
                    <vendorssubaccount>
                        <class>vendorssubaccount/observer</class>
                        <method>ves_vendorsmessage_module_enable</method>
                    </vendorssubaccount>
                </observers>
            </ves_vendorsmessage_module_enable>
        </events>
        <models>
            <vendorssubaccount>
                <class>VES_VendorsSubAccount_Model</class>
                <resourceModel>vendorssubaccount_mysql4</resourceModel>
            </vendorssubaccount>
            <vendorssubaccount_mysql4>
                <class>VES_VendorsSubAccount_Model_Mysql4</class>
                <entities>
                    <account>
                        <table>ves_vendor_subaccount</table>
                    </account>
                    <role>
                        <table>ves_vendor_subaccount_role</table>
                    </role>
                </entities>
            </vendorssubaccount_mysql4>
        </models>
        <resources>
            <vendorssubaccount_setup>
                <setup>
                    <module>VES_VendorsSubAccount</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorssubaccount_setup>
            <vendorssubaccount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorssubaccount_write>
            <vendorssubaccount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorssubaccount_read>
        </resources>
        <blocks>
            <vendorssubaccount>
                <class>VES_VendorsSubAccount_Block</class>
            </vendorssubaccount>
        </blocks>
        <helpers>
            <vendorssubaccount>
                <class>VES_VendorsSubAccount_Helper</class>
            </vendorssubaccount>
        </helpers>
    </global>
</config>