<?xml version="1.0"?>
<config>
  <modules>
    <EmizenTech_CatAttribute>
      <version>0.1.1</version>
    </EmizenTech_CatAttribute>
  </modules>
  <frontend>
    <routers>
      <catattribute>
        <use>standard</use>
          <args>
            <module>EmizenTech_CatAttribute</module>
            <frontName>catattribute</frontName>
          </args>
      </catattribute>
    </routers>
		<!-- <layout>
		  <updates>
			<catattribute>
			  <file>catattribute.xml</file>
			</catattribute>
		  </updates>
		</layout> -->
  </frontend>
  <global>
    <helpers>
      <catattribute>
        <class>EmizenTech_CatAttribute_Helper</class>
      </catattribute>
    </helpers>
    <blocks>
	  <catattribute>
		<class>EmizenTech_CatAttribute_Block</class>
	  </catattribute>
	</blocks>
	<models>
	  <catattribute>
		<class>EmizenTech_CatAttribute_Model</class>
		<resourceModel>catattribute_mysql4</resourceModel>
	  </catattribute>
		<!-- <catalog_resource>
			<rewrite>
				<category_tree>EmizenTech_CatAttribute_Model_Catalog_Resource_Category_Tree</category_tree>
			</rewrite>
		</catalog_resource> -->
	</models>
	<!-- <events>
	  <catalog_category_save_after> 
        <observers>
          <catalog_category_save_after_handler> 
            <type>model</type>
            <class>catattribute/observer</class>
            <method>categorySaveAfter</method>
            <args></args>
          </catalog_category_save_after_handler>
        </observers>
      </catalog_category_save_after>
    </events> -->
  </global>
  	<admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <EmizenTech_CatAttribute_Adminhtml before="Mage_Adminhtml">EmizenTech_CatAttribute_Adminhtml</EmizenTech_CatAttribute_Adminhtml>
	                </modules>
	            </args>
	        </adminhtml>
			<megamenu>
				<args>
	                <modules>
	                   <EmizenTech_CatAttribute before="ET_Megamenu">EmizenTech_CatAttribute_Megamenu</EmizenTech_CatAttribute>
	                </modules>
	            </args>
			</megamenu>
	    </routers>
	</admin>
  	<!-- <default>
	    <sectionsyncbutn>
	        <groupsyncbutn>
	            <fileldpsynctext>3</fileldpsynctext>
	        </groupsyncbutn>
	    </sectionsyncbutn>
	</default> -->
</config> 
