<?xml version="1.0"?>
<config>
    <modules>
        <Mish_Shipit>
            <version>0.1.0</version>
        </Mish_Shipit>
    </modules>
    <frontend>
        <routers>
            <shipit>
                <use>standard</use>
                <args>
                    <module>Mish_Shipit</module>
                    <frontName>shipit</frontName>
                </args>
            </shipit>
        </routers>
        <layout>
            <updates>
                <shipit>
                    <file>shipit.xml</file>
                </shipit>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<shipit>
				<use>admin</use>
				<args>
					<module>Mish_Shipit</module>
					<frontName>shipit</frontName>
				</args>
			</shipit>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<shipit module="shipit">
				<title>Shipit</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="shipit">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>shipit/adminhtml_shipit</action>
					</items>
				</children>
			</shipit>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mish_Shipit>
							<title>Shipit Module</title>
							<sort_order>10</sort_order>
						</Mish_Shipit>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<shipit>
					<file>shipit.xml</file>
				</shipit>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <shipit>
                <class>Mish_Shipit_Model</class>
                <resourceModel>shipit_mysql4</resourceModel>
            </shipit>
            <shipitmaintable>
                <class>Mish_Shipit_Model</class>
                <resourceModel>shipit_mysql4</resourceModel>
            </shipitmaintable>
            <shipit_mysql4>
                <class>Mish_Shipit_Model_Mysql4</class>
                <entities>
                    <shipit>
                        <table>shipit</table>
                    </shipit>
                     <shipitmaintable>
                        <table>shipitmaintable</table>
                    </shipitmaintable>
                </entities>
            </shipit_mysql4>
        </models>
        <resources>
            <shipit_setup>
                <setup>
                    <module>Mish_Shipit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipit_setup>
            <shipit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipit_write>
            <shipit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipit_read>
        </resources>
        <blocks>
            <shipit>
                <class>Mish_Shipit_Block</class>
            </shipit>
        </blocks>
        <helpers>
            <shipit>
                <class>Mish_Shipit_Helper</class>
            </shipit>
        </helpers>
    </global>
      <default>
        <carriers>
           <shipit>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <name>Shipit</name>
                <price>10.00</price>
                <title>Shipit Shipping Method</title>
                <model>shipit/carrier_shippingmethod</model>
               
          </shipit>
        </carriers>
    </default>
</config>