<?xml version="1.0"?>
<config>
	<modules>
		<Eisbehr_QrMage>
			<version>0.1.1</version>
		</Eisbehr_QrMage>
	</modules>
	<global>
		<resources>
			<eisbehr_qrmage_setup>
				<setup>
					<module>Eisbehr_QrMage</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
			</eisbehr_qrmage_setup>
		</resources>
		<models>
			<qrmage>
        		<class>Eisbehr_QrMage_Model</class>
			</qrmage>
		</models>
	    <blocks>
            <qrmage>
                <class>Eisbehr_QrMage_Block</class>
            </qrmage>
        </blocks>
		<helpers>
            <qrmage>
                <class>Eisbehr_QrMage_Helper</class>
            </qrmage>
        </helpers>
	</global>
	<frontend>
		<routers>
			<qrmage>
				<use>standard</use>
				<args>
					<module>Eisbehr_QrMage</module>
					<frontName>qrmage</frontName>
				</args>
			</qrmage>
		</routers>
		<layout>
			<updates>
				<qrmage>
					<file>qrmage.xml</file>
				</qrmage>
            </updates>
        </layout>
		<translate>
			<modules>
				<Eisbehr_QrMage>
					<files>
						<default>Eisbehr_QrMage.csv</default>
					</files>
				</Eisbehr_QrMage>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qrmage translate="title" module="qrmage">
                                            <title>Eisbehr QrMage</title>
                                            <sort_order>100</sort_order>
                                        </qrmage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>