<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsContact>
            <version>0.1.0</version>
        </VES_VendorsContact>
    </modules>
    <frontend>
        <routers>
            <vendors>
                <args>
                    <modules>
                        <vendorscontact before="VES_Vendors">VES_VendorsContact</vendorscontact>
                    </modules>
                </args>
            </vendors>
            <vendorspage>
                <args>
                    <modules>
                        <vendorscontact before="VES_VendorsPage">VES_VendorsContact</vendorscontact>
                    </modules>
                </args>
            </vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorscontact>
                    <file>ves_vendors/contact.xml</file>
                </vendorscontact>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsContact>
                    <files>
                        <default>ves_vendors/contact.csv</default>
                    </files>
                </VES_VendorsContact>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<vendorscontact>
				<use>admin</use>
				<args>
					<module>VES_VendorsContact</module>
					<frontName>vendorscontact</frontName>
				</args>
			</vendorscontact>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<VES_VendorsContact>
							<title>VendorsContact Module</title>
							<sort_order>10</sort_order>
						</VES_VendorsContact>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorscontact>
					<file>ves_vendors/contact.xml</file>
				</vendorscontact>
			</updates>
		</layout>
        <translate>
            <modules>
                <VES_VendorsContact>
                    <files>
                        <default>ves_vendors/contact.csv</default>
                    </files>
                </VES_VendorsContact>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <vendorscontact>
                <class>VES_VendorsContact_Model</class>
            </vendorscontact>
        </models>
        <blocks>
            <vendorscontact>
                <class>VES_VendorsContact_Block</class>
            </vendorscontact>
        </blocks>
        <helpers>
            <vendorscontact>
                <class>VES_VendorsContact_Helper</class>
            </vendorscontact>
        </helpers>
        <events>
            <ves_vendorspage_profile_prepare>
                <observers>
                    <vendorscontact>
                        <type>singleton</type>
                        <class>vendorscontact/observer</class>
                        <method>ves_vendorspage_contact_prepare</method>
                    </vendorscontact>
                </observers>
            </ves_vendorspage_profile_prepare>
        </events>
        <template>
            <email>
                <vendorcontact_email_email_template translate="label" module="vendorscontact">
                    <label>Contact Form</label>
                    <file>ves_vendors/contact_form.html</file>
                    <type>text</type>
                </vendorcontact_email_email_template>
            </email>
        </template>
    </global>

    <default>
        <vendors>
            <vendors_contact>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>vendorcontact_email_email_template</email_template>
            </vendors_contact>
        </vendors>
    </default>

    <vendor_config>
        <vendorscontact>
            <contact>
                <enable>1</enable>
                <email><![CDATA[]]></email>
            </contact>
        </vendorscontact>
    </vendor_config>
    -
</config>