<?xml version="1.0"?>
<config>
    <modules>
        <OTTO_AdvancedFaq>
            <version>1.0.0.2</version>
        </OTTO_AdvancedFaq>
    </modules>
    <frontend>
        <routers>
            <advancedfaq>
                <use>standard</use>
                <args>
                    <module>OTTO_AdvancedFaq</module>
                    <frontName>faq</frontName>
                </args>
            </advancedfaq>
             <sellers>
				<args>
					<modules>
						<advancedfaq before="OTTO_Sellers">OTTO_AdvancedFaq_Seller</advancedfaq>
					</modules>
				</args>
			</sellers>
			<sellerspage>
				<args>
					<modules>
						<advancedfaq before="OTTO_SellersPage">OTTO_AdvancedFaq</advancedfaq>
					</modules>
				</args>
			</sellerspage>
        </routers>
        <layout>
            <updates>
                <advancedfaq>
                    <file>otto_sellers/advancedfaq.xml</file>
                </advancedfaq>
            </updates>
        </layout>
    </frontend>
    <admin>
    	<routers>
            <adminhtml>
				<args>
					<modules>
						<advancedfaq before="Mage_Adminhtml">OTTO_AdvancedFaq_Adminhtml</advancedfaq>
					</modules>
				</args>
			</adminhtml>
			<advancedfaq_cp>
				<use>admin</use>
				<args>
					<module>OTTO_AdvancedFaq</module>
					<frontName>advancedfaq_cp</frontName>
				</args>
			</advancedfaq_cp>
        </routers>
    </admin>
   
    <adminhtml>
		<menu>
			<advancedfaq module="advancedfaq">
				<title>Advanced Faq</title>
				<sort_order>71</sort_order>               
				<children>
					<category module="advancedfaq">
						<title>Manage Topics</title>
						<sort_order>10</sort_order>
						<action>adminhtml/advancedfaq_category</action>
					</category>
					<faq module="advancedfaq">
						<title>Manage FAQs</title>
						<sort_order>20</sort_order>
						<action>adminhtml/advancedfaq_faq</action>
					</faq>
					<!--  
					<tag module="kbase">
						<title>Tags</title>
						<sort_order>30</sort_order>
						<children>
								<all_tag module="kbase">
										<title>All Tags</title>
										<sort_order>30</sort_order>
										<action>adminhtml/kbase_tag</action>
								</all_tag>
								<tag_summary module="kbase">
										<title>Tag Summary</title>
										<sort_order>40</sort_order>
										<action>adminhtml/kbase_tag_summary</action>
								</tag_summary>
						</children>
					</tag>
					-->
					<config module="advancedfaq">
						<title>Configuration</title>
						<sort_order>100</sort_order>
						<action>adminhtml/system_config/edit/section/advancedfaq/</action>
					</config>
				</children>
			</advancedfaq>
		</menu>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<advancedfaq module="advancedfaq">
							<title>Advance FAQ</title>
							<sort_order>71</sort_order>               
							<children>
								<category module="advancedfaq">
									<title>Manage Categories</title>
									<sort_order>10</sort_order>
								</category>
								<faq module="advancedfaq">
									<title>Manage FAQs</title>
									<sort_order>20</sort_order>
								</faq>
	
								<config module="advancedfaq">
									<title>Configuration</title>
									<sort_order>100</sort_order>
								</config>
							</children>
						</advancedfaq>
						<system>
	                            <children>
	                                <config>
	                                    <children>
	                                        <advancedfaq translate="title" module="advancedfaq">
	                                            <title>Advance FAQ</title>
	                                        </advancedfaq>
	                                    </children>
	                                </config>
	                            </children>
                   	   </system>
					</children>
				</admin>
			</resources>
		</acl>
		
		<layout>
			<updates>
				<advancedfaq>
					<file>otto_sellers/advancedfaq.xml</file>
				</advancedfaq>
			</updates>
		</layout>
    </adminhtml>
    <sellers>
    	<menu>
    		<advancedfaq>
    			<title>Advanced Faq</title>
				<sort_order>71</sort_order>
				<frontend_class>advancedfaq</frontend_class>            
		    	<children>
		    		<category module="advancedfaq">
						<title>Manage Topics</title>
						<sort_order>10</sort_order>
						<action>sellers/advancedfaq_category/</action>
					</category>
					<faq module="advancedfaq">
						<title>Manage FAQs</title>
						<sort_order>20</sort_order>
						<action>sellers/advancedfaq_faq/</action>
					</faq>
					<config module="advancedfaq">
						<title>Configuration</title>
						<sort_order>100</sort_order>
						<action>sellers/config/index/section/advancedfaq/</action>
					</config>
		    	</children>
    		</advancedfaq>
		</menu>
    	
    </sellers>
    <global>
        <models>
            <advancedfaq>
                <class>OTTO_AdvancedFaq_Model</class>
                <resourceModel>advancedfaq_mysql4</resourceModel>
            </advancedfaq>
            <advancedfaq_mysql4>
                <class>OTTO_AdvancedFaq_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>otto_advancedfaq_category</table>
                    </category>
                    <faq>
                   		 <table>otto_advancedfaq_faq</table>
                    </faq>
                </entities>
            </advancedfaq_mysql4>
        </models>
        <resources>
            <advancedfaq_setup>
                <setup>
                    <module>OTTO_AdvancedFaq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedfaq_setup>
            <advancedfaq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedfaq_write>
            <advancedfaq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedfaq_read>
        </resources>
        <blocks>
            <advancedfaq>
                <class>OTTO_AdvancedFaq_Block</class>
            </advancedfaq>
        </blocks>
        <helpers>
            <advancedfaq>
                <class>OTTO_AdvancedFaq_Helper</class>
            </advancedfaq>
        </helpers>
        
         <events>
         	<!--
            <controller_front_init_routers>
                <observers>
                    <advancedfaq>
                        <class>OTTO_AdvancedFaq_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </advancedfaq>
                </observers>
            </controller_front_init_routers>
            -->
            <seller_page_controller_router_match_before>
            	<observers>
                    <seller_page_controller_router_match_before>
                        <class>advancedfaq/observer</class>
                        <method>initControllerRouters</method>
                    </seller_page_controller_router_match_before>
                </observers>
            </seller_page_controller_router_match_before>
        </events>
        
    </global>
     <default>
		<advancedfaq>
			<config>
				<enable_faq>1</enable_faq>
				<url_key>faqs</url_key>
				<title>Frequently Asked Questions</title>
				<category_suffix>.html</category_suffix>
				<meta_keyword>Faqs</meta_keyword>
				<meta_description>Faqs</meta_description>
				<articeles_rating>1</articeles_rating>
				<articeles_page>5</articeles_page>
				<use_secure_url>0</use_secure_url>
			</config>
			<block>
			    <enable_block>1</enable_block>
			    <enable_search_block>1</enable_search_block>
			    <max_topic>3</max_topic>
			</block>
			<recapcha>
			    <enable_recapcha>0</enable_recapcha>
			</recapcha>
				
			<theme>
			   	<enable_accordion>1</enable_accordion>
			   	<bind>click</bind>
			   	<speed>slow</speed>
			</theme>
			
		</advancedfaq>
    </default>
     <seller_config>
     		<advancedfaq>
     			<advancedfaq>
     					<title>Frequently Asked Questions</title>
						<meta_keyword>Faqs</meta_keyword>
						<meta_description>Faqs</meta_description>
     			</advancedfaq>
     			<theme>
			   		<enable_accordion>1</enable_accordion>
			   		<bind>click</bind>
			   		<speed>slow</speed>
				</theme>
     		</advancedfaq>
     </seller_config>
</config>