// Box Modules 
// ========================================================================
$block-module-margin-bottom: 			30px !default;
$block-module-padding  :				20px !default;
$block-module-border-color: 			$border-color  !default;

$block-module-heading-border: 			0px !default;
$block-module-heading-transform:        none !default;
$block-module-heading-line-height:      normal !default;
$block-module-heading-font-family:    	$font-headding-family !default;
$block-module-heading-bg:				$nocolor !default;
$block-module-heading-padding: 			35px 20px !default;
$block-module-heading-font:				$font-family-secondary !default;
$block-module-heading-font-size:		$font-size-base + 4 !default;
$block-module-heading-color:			#333 !default;
$block-module-content-bg:				$white !default;
$block-module-content-border:			1px solid $border-color !default;
$block-module-content-padding:			20px !default;
$block-module-content-margin:         	1px !default;
$block-module-content-radius:         	0px !default;


$block-module-highlighted-bg			: $theme-color !default;
$block-module-highlighted-border		: solid 2px $theme-color !default;
$block-module-footer-heading-color:  	  #FFFFFF !default; 

$block-product-padding:               0 !default;
$block-heading-letter-spacing:        1px !default;


$footer-heading-font: 14px !default;
/*  
 * LAYOUT VARIABLES 
 */

// Header
// ========================================================================
$header-bg:  						$white !default;
$header-icon-bg:                    $wild-sand !default;
$header-border-color:               1px solid transparent !default;
$header-heading-color:              $theme-color-secondary !default;
$header-text-color:                 #666 !default;
$header-link-color: 				$header-text-color !default;
$header-icon-font-size:             $font-size-base + 4 !default;

// Topbar 
// ========================================================================
$topbar-bg: 						#f8f8f8 !default;
$topbar-color: 						#999 !default;
$topbar-font-size: 					$font-size-base !default;
$topbar-font-family:				$font-family-base !default;
$topbar-font-weight:                300 !default;
$topbar-link-color: 				#eb5767 !default;
$topbar-link-hover-color: 			$theme-color-default !default;
$color-icon-topbar: 				$theme-color-default !default;
$topbar-padding: 					0 8px !default;
$topbar-height:                     40px !default;
$topbar-border:                     1px solid $border-color !default;

// Mass header 
$masshead-outside-bg :			$theme-color-primary !default;
$masshead-bg: 			 		$theme-color-primary !default;
$masshead-content-padding:		8px 0 !default;
$masshead-color:				#999 !default;
$masshead-color-hover:			lighten($theme-color-primary,5%);	
// Main menu 


// Promotions
//Main Content
// Footer
// ========================================================================

$footer-bg: 						$white !default;
$footer-color: 						#999 !default;
$footer-heading-font-size: 			$font-size-base + 2!default;
$footer-heading-color: 				$white !default;
$footer-heading-padding:            0 !default;
$footer-link-color: 				#999 !default;
$footer-link-hover-color: 			$theme-color !default;
$footer-font-size:   	 			$font-size-base !default;
     
$footer-content-padding:            15px !default;
$footer-content-margin:             0 !default;
$footer-list-padding:               6px 0 !default;
$footer-margin:                     20px !default;

 /////// footer top
$footer-top-outside-border:		1px solid #505862 !default;
$footer-top-outside-bg :			$theme-color-tertiary !default;
$footer-top-bg: 			 		$theme-color-tertiary !default;
$footer-top-color:					#999 !default;
$footer-top-content-padding:		30px !default;
$footer-top-color-hover:			lighten($footer-top-color,5%);	
$footer-top-border:					#505862 !default;

/////// footer center 
$footer-center-outside-bg :			$white !default;
$footer-center-bg: 			 		$white !default;
$footer-center-content-padding:		40px 0!default;
$footer-center-color:				#999 !default;
$footer-center-color-hover:			lighten($footer-center-color,5%);	

/////// footer bottom 
$footer-bottom-outside-bg :			$theme-color-primary !default;
$footer-bottom-bg: 			 		$theme-color-primary !default;
$footer-bottom-content-padding:		30px 0!default;
$footer-bottom-color:				#999 !default;
$footer-bottom-color-hover:			lighten($footer-bottom-color,5%);	

// Powered By / Copyright
// ========================================================================
$power-bg:       					$white !default;
$power-color:                       $footer-color !default;
$power-link-color:                  $theme-color !default;
$power-padding:                     $padding-large-vertical * 3 !default;
$power-font-family  : 				$font-family-base;
$power-border-color:				#505862;

 
// Responsive
// ========================================================================
$respon-topbar-icon:                $white !default;
$respon-topbar-icon-font-size:      $font-size-base !default;
$respon-topbar-search-bg:           $white !default;
$respon-topbar-search-icon-color:   $black !default;