<?xml version="1.0"?>
<config>
    <modules>
        <Mish_Personallogistic>
            <version>0.1.0</version>
        </Mish_Personallogistic>
    </modules>
    <frontend>
        <routers>
            <personallogistic>
                <use>standard</use>
                <args>
                    <module>Mish_Personallogistic</module>
                    <frontName>personallogistic</frontName>
                </args>
            </personallogistic>
        </routers>
        <layout>
            <updates>
                <personallogistic>
                    <file>personallogistic.xml</file>
                </personallogistic>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<personallogistic>
				<use>admin</use>
				<args>
					<module>Mish_Personallogistic</module>
					<frontName>personallogistic</frontName>
				</args>
			</personallogistic>
        </routers>
    </admin>
    <adminhtml>
        <events>
              <personallogistic_custom_event_approve_after>
               <observers>
                 <Mish_Personallogistic_Model_Observer>
                    <type>singleton</type>
                    <class>Mish_Personallogistic_Model_Observer</class>
                    <method>personallogisticApproval</method>
                 </Mish_Personallogistic_Model_Observer>
               </observers>
            </personallogistic_custom_event_approve_after> 
        </events>
		<menu>
			<personallogistic module="personallogistic">
				<title>Personal Logistic</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="personallogistic">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>personallogistic/adminhtml_personallogistic</action>
					</items>
				</children>
			</personallogistic>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mish_Personallogistic>
							<title>Personallogistic Module</title>
							<sort_order>10</sort_order>
						</Mish_Personallogistic>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
        
             <updates>
				<personallogistic>
					<file>personallogistic.xml</file>
				</personallogistic>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <personallogistic>
                <class>Mish_Personallogistic_Model</class>
                <resourceModel>personallogistic_mysql4</resourceModel>
            </personallogistic>
            <personallogistic_mysql4>
                <class>Mish_Personallogistic_Model_Mysql4</class>
                <entities>
                    <personallogistic>
                        <table>personallogistic</table>
                    </personallogistic>
                </entities>
            </personallogistic_mysql4>
        </models>
        <resources>
            <personallogistic_setup>
                <setup>
                    <module>Mish_Personallogistic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </personallogistic_setup>
            <personallogistic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </personallogistic_write>
            <personallogistic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </personallogistic_read>
        </resources>
        <blocks>
            <personallogistic>
                <class>Mish_Personallogistic_Block</class>
            </personallogistic>
        </blocks>
        <helpers>
            <personallogistic>
                <class>Mish_Personallogistic_Helper</class>
            </personallogistic>
        </helpers>
    </global>
</config>