<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_AsyncCache>
            <active>true</active>
            <version>1.0.0</version>
        </Mirasvit_AsyncCache>
    </modules>
    <global>
        <models>
            <asynccache>
                <class>Mirasvit_AsyncCache_Model</class>
                <resourceModel>asynccache_mysql4</resourceModel>
            </asynccache>
            <asynccache_mysql4>
                <class>Mirasvit_AsyncCache_Model_Mysql4</class>
                <entities>
                    <asynccache>
                        <table>m_asynccache</table>
                    </asynccache>
                </entities>
            </asynccache_mysql4>
        </models>
        <helpers>
            <asynccache>
                <class>Mirasvit_AsyncCache_Helper</class>
            </asynccache>
        </helpers>
        <blocks>
            <asynccache>
                <class>Mirasvit_AsyncCache_Block</class>
            </asynccache>
        </blocks>
        <resources>
            <asynccache_setup>
                <setup>
                    <module>Mirasvit_AsyncCache</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </asynccache_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mirasvit_AsyncCache before="Mage_Adminhtml">Mirasvit_AsyncCache_Adminhtml</Mirasvit_AsyncCache>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <asynccache>
                    <file>asynccache.xml</file>
                </asynccache>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <asynccache>
                                            <title>Asynchronous Cache</title>
                                        </asynccache>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <asynccache>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>asynccache/observer::processQueue</model>
                </run>
            </asynccache>
            <asynccache_clear_old>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>asynccache/observer::cleanOld</model>
                </run>
            </asynccache_clear_old>
        </jobs>
    </crontab>
</config>