<?xml version="1.0"?>
<config>
    <modules>
        <Code5_Supplierinventory>
            <version>0.1.0</version>
        </Code5_Supplierinventory>
    </modules>
    <global>
        <blocks>
            <supplierinventory>
                <class>Code5_Supplierinventory_Block</class>
            </supplierinventory>
        </blocks>
        <helpers>
            <supplierinventory>
                <class>Code5_Supplierinventory_Helper</class>
            </supplierinventory>
        </helpers>
    </global>
    <admin>
        <routers>
            <supplierinventory>
                <use>admin</use>
                <args>
                    <module>Code5_Supplierinventory</module>
                    <frontName>admin_custom</frontName>
                </args>
            </supplierinventory>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <supplierinventory module="supplierinventory">
                <title>Supplier</title>
                <sort_order>100</sort_order>
                <children>                    
                    <supplierinventory translate="title" module="supplierinventory">                        
                        <title>Suppliers Inventories</title>                        
                        <action>admin_custom/adminhtml_supplierinventory</action>
                    </supplierinventory>
                </children>
                <children>
                    <lowinventory module="supplierinventory">
                        <title>Low or zero Inventories</title>
                        <sort_order>20</sort_order>
                        <action>admin_custom/adminhtml_lowstock</action>
                    </lowinventory>
                </children>
                <children>
                    <updatedinventory module="supplierinventory">
                        <title>Updated Inventory</title>
                        <sort_order>30</sort_order>
                        <action>admin_custom/adminhtml_updatedinventory</action>
                    </updatedinventory>
                </children>
                <children>
                    <unchangedinventory module="supplierinventory">
                        <title>Unchanged Inventory</title>
                        <sort_order>10</sort_order>
                        <action>admin_custom/adminhtml_unchangedinventory</action>
                    </unchangedinventory>
                </children>
            </supplierinventory>            
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <supplierinventory translate="title" module="supplierinventory">
                            <title>Custom</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <supplierinventory translate="title">
                                    <title>Manage Supplier Inventory</title>
                                </supplierinventory>
                            </children>
                        </supplierinventory>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <supplierinventory>
                    <file>supplierinventory.xml</file>
                </supplierinventory>
            </updates>
        </layout>
    </adminhtml>
</config> 