<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Deals>  
            <version>1.1.0</version>  
        </Ves_Deals>  
    </modules>  
    <frontend>
        <translate>
            <modules>
                <Ves_Deals>
                    <files>
                        <default>Ves_Deals.csv</default>
                    </files>
                </Ves_Deals>
            </modules>
        </translate>
        <routers>
            <deals>
                <use>standard</use>
                <args>
                    <module>Ves_Deals</module>
                    <frontName>vesdeals</frontName>
                </args>
            </deals>
        </routers>
        <layout>
            <updates>
                <deals>
                    <file>ves_deals.xml</file>
                </deals>
            </updates>
        </layout>

    </frontend> 
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ves_deals_observer>
                        <type>singleton</type>
                        <class>Ves_Deals_Model_Observer</class>
                        <method>initControllerRouters</method>
                    </ves_deals_observer>
                </observers>
            </controller_front_init_routers>

        </events>
        <blocks>
            <ves_deals>
                <class>Ves_Deals_Block</class>
            </ves_deals>
        </blocks>
       <models>
            <ves_deals>
                <class>Ves_Deals_Model</class>
                <resourceModel>ves_deals_mysql4</resourceModel>
            </ves_deals>
            
        </models>
        <helpers>
            <ves_deals>
                <class>Ves_Deals_Helper</class>
            </ves_deals>
        </helpers>
        <resources>
            <ves_deals_setup>
                <setup>
                    <module>Ves_Deals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_deals_setup>
            <ves_deals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_deals_write>
            <ves_deals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_deals_read>
        </resources>
    
    </global>  
    <admin>
        <routers>
            <deals>
                <use>admin</use>
                <args>
                    <module>Ves_Deals</module>
                    <frontName>vesdeals</frontName>
                </args>
            </deals>
        </routers>
    </admin>
        
    <default>
        <ves_deals>
            <ves_deals>
                <show>1</show>    
                <title>Latest Deals</title>  
                <theme>default</theme>
                <enable_deal_detail>1</enable_deal_detail>
                <moduleHeight>auto</moduleHeight>
                <moduleWidth>auto</moduleWidth>
                <thumbWidth>260</thumbWidth>                
                <thumbHeight>150</thumbHeight>   
                <enable_tab_available>1</enable_tab_available>
                <enable_tab_pass>1</enable_tab_pass>
                <blockPosition>content</blockPosition>
                <blockDisplay>before</blockDisplay>
                <menuAssignment>Mage_Cms_index</menuAssignment>
                <pretext></pretext>
                <cmsblock>0</cmsblock>
                <show_navigator>1</show_navigator>
                <show_pager>1</show_pager>
                <show_title>1</show_title>
                <show_date>0</show_date>
                <show_desc>0</show_desc>
                <show_price>1</show_price>
                <show_pricewithout>1</show_pricewithout>
                <show_addcart>1</show_addcart>
                <show_wc>0</show_wc>
                <review>1</review>
                <enable_quickview>0</enable_quickview>
                <enable_swap>0</enable_swap>
                <enable_new_icon>1</enable_new_icon>
                <enable_sale_icon>1</enable_sale_icon>
            </ves_deals>
            <catalog_source_setting>
                <catsid>3,5,7,8,9,10,11,12,13,14,15,17,18,19</catsid>
                <sourceProductsMode>latest</sourceProductsMode>
                <limit_item>8</limit_item>
                <date_start></date_start>
                <to_date></to_date>
                <prefix>mg</prefix> 
                <show>0</show>     
            </catalog_source_setting>
            <carousel_setting>
                <enable_owl_carousel>0</enable_owl_carousel>
                <auto_play>0</auto_play>
                <interval>3000</interval>
                <rtl>0</rtl>
                <show_navigator>1</show_navigator>
                <show_pager>1</show_pager>
                <loop>1</loop>
                <mouse_drag>1</mouse_drag>
                <touch_drag>1</touch_drag>
                <slide_by>1</slide_by>
                <margin_item>0</margin_item>
                <max_items_column>1</max_items_column>
                <mobile_items>1</mobile_items>
                <tablet_items>2</tablet_items>
                <portrait_items>3</portrait_items>
                <large_items>5</large_items>
            </carousel_setting>
            <effect_setting>
                <titleMaxchar>100</titleMaxchar>
                <descMaxchar>100</descMaxchar>
                <max_items>4</max_items>
                <limit_cols>4</limit_cols>
                <image_width>300</image_width>
                <image_height>300</image_height>
                <swap_image_number>0</swap_image_number>
                <popup_quickview_width>60%</popup_quickview_width>
                <popup_quickview_height>80%</popup_quickview_height>
            </effect_setting>
            <today_deals_setting>
                <date_start></date_start>
                <to_date></to_date>     
            </today_deals_setting>
            <deals_setting>
                <page_title>Hot Deals</page_title>
                <route>deals</route>
            </deals_setting>
        </ves_deals>
    </default>
</config>  