.aw-htp {
	float: left;
	width: 572px;
}

.aw-htp-tabs {
	list-style:none outside none; 
	height: 25px;
}

.aw-htp-tabs li                { 
	float:left; 
	border-right:1px solid #a4a4a4; 
	border-left:1px solid #fff; 
	font-size:1.1em; 
	line-height:1em;
    background: url("../images/tabs_bg.gif") repeat-x scroll 0 100% #f2f2f2;
    border-bottom:1px solid #a4a4a4;
}

.aw-htp-tabs li.first          { 
	border-left:0; 
}

.aw-htp-tabs li.last           { 
	border-right:0; 
}

.aw-htp-tabs a                 {
	text-decoration: none; 
	display:block; 
	padding:6px 15px; 
	color:#444; 
}

.aw-htp-tabs a:hover           { 
	background-color:#ddd; 
	text-decoration:none; 
	color:#444; 
}

.aw-htp-tabs li.active a,
.aw-htp-tabs li.active a:hover { 
	background-color:#666; 
	color:#fff;
}

.aw-htp-padder {
	border: 1px solid #C4C1BC;
	width: 572px;
	float: left;
}

.aw-htp-loader {
	margin-top: 12px;	
	position: absolute;
	text-align: center;
	display: none;
    z-index: 999;
}

.aw-htp-category .products-list {
    padding-top: 5px;
    border: none !important;
}
.aw-htp-category .products-grid {
    padding-top: 5px;
    border: none !important;
}

.col1-layout .aw-htp-padder, .col1-layout ul.aw-htp, .col1-layout .listing-type-grid#hometabspro .grid-row { width: 938px; }
.col1-layout .aw-htp { width: 940px; }
.col2-left-layout .listing-type-grid#hometabspro .grid-row,
.col2-right-layout .listing-type-grid#hometabspro .grid-row { width: 683px;}
.col2-left-layout .aw-htp-padder,
.col2-right-layout .aw-htp-padder { border-left: none; border-right: none; border-bottom: none; width: 755px;}
.col2-left-layout .aw-htp,
.col2-right-layout .aw-htp { margin: 0 -20px -20px; width: 755px; }
.col3-layout .aw-htp { margin: 0 -20px -20px; }
.col3-layout .aw-htp-padder { border-left: none; border-right: none; border-bottom: none; }
/*
.col1-layout .listing-type-list#hometabspro .listing-item { width: 898px; }
.col2-left-layout .listing-type-list#hometabspro .listing-item,
.col2-right-layout .listing-type-list#hometabspro .listing-item { width: 683px; }


.col1-layout .listing-type-grid#hometabspro li.item { width:279px; }
.col2-left-layout .listing-type-grid#hometabspro li.item,
.col2-right-layout .listing-type-grid#hometabspro li.item { width:207px; }*/

.col3-layout .category-view  .aw-htp,
.col3-layout .product-view .aw-htp,
.col2-left-layout .product-view .aw-htp,
.col2-right-layout .product-view .aw-htp,
.col2-left-layout .category-view .aw-htp,
.col2-right-layout .category-view .aw-htp { margin: 0px;  }

.messages{clear:both;}
.price-box{font-size:12px;}