<?xml version="1.0"?>

<config>
    <modules>
        <Evince_Trackyourorder>
            <version>0.1.1</version>
        </Evince_Trackyourorder>
    </modules>
    <frontend>
        <routers>
            <trackyourorder>
                <use>standard</use>
                <args>
                    <module>Evince_Trackyourorder</module>
                    <frontName>trackyourorder</frontName>
                </args>
            </trackyourorder>
        </routers>
        <layout>
            <updates>
                <trackyourorder>
                    <file>trackyourorder.xml</file>
                </trackyourorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<trackyourorder>
				<use>admin</use>
				<args>
					<module>Evince_Trackyourorder</module>
					<frontName>trackyourorder</frontName>
				</args>
			</trackyourorder>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Evince_Trackyourorder>
							<title>Trackyourorder Module</title>
							<sort_order>10</sort_order>
						</Evince_Trackyourorder>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <trackyourorder>
                                            <title>Track Your Order </title>
                                        </trackyourorder>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<trackyourorder>
					<file>trackyourorder.xml</file>
				</trackyourorder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <trackyourorder>
                <class>Evince_Trackyourorder_Model</class>
                <resourceModel>trackyourorder_mysql4</resourceModel>
            </trackyourorder>
            <trackyourorder_mysql4>
                <class>Evince_Trackyourorder_Model_Mysql4</class>
                <entities>
                    <trackyourorder>
                        <table>trackyourorder</table>
                    </trackyourorder>
                </entities>
            </trackyourorder_mysql4>
        </models>
        <resources>
            <trackyourorder_setup>
                <setup>
                    <module>Evince_Trackyourorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trackyourorder_setup>
            <trackyourorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </trackyourorder_write>
            <trackyourorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </trackyourorder_read>
        </resources>
        <blocks>
            <trackyourorder>
                <class>Evince_Trackyourorder_Block</class>
            </trackyourorder>
        </blocks>
        <helpers>
            <trackyourorder>
                <class>Evince_Trackyourorder_Helper</class>
            </trackyourorder>
        </helpers>
    </global>
</config>