.gallery-carousel{
    position:relative;
}

.price {        
    color: $product-price-color;           
    font-size: $font-size-base + 1; 
    font-family: $font-body-family; 
    font-weight: 600; 
    .price-label {
        display: none;
    }
    .price-old, .old-price {
        color: $product-price-old-color;       
        font-size: $font-size-base;
        font-weight: 400;  
        @include inline-block();
        @include rtl-margin-right(5px);
        .price {
            color: $product-price-old-color;
            font-size:$font-size-base;
            text-decoration: line-through;
            font-weight: 400 !important;
        }
    }    
}
.price-as-configured .price-label {
    @include inline-block();
    color: $theme-color-secondary;
    font-size: $font-size-base + 2;
    font-weight: 400;
}

.minimal-price-link {
    @include inline-block();
    .label { display:none;}
}

.special-price {
    @include inline-block();
}
 
.product-pricing,
.block-deal-info {
    font-size: $font-size-base;
    font-weight: 400;
    font-family: $font-family;
    color:  $theme-color-tertiary;
    padding-top:20px;
}

.block-deal-info {
    .block-title { display:none;}
   
    .block-content {background: $nocolor; padding: 0;}
    .deal_detail {
        padding: 20px 0;
    }
    
}

/* product style */

.product-block{
    position:relative;   
    margin: 0;
    text-align: center;
   .price{
        min-height: 25px;
        .price-label { 
            font-size: $font-size-base -1 !important;
            color:$product-name-color;
            font-weight: 300;
            display: none !important;
        }
        .price-from,
        .price-to { 
            @include inline-block();
        }
        p { margin-bottom:0;}
   }
    .description{
        display: none;
        font-size: $font-size-base - 1;
    }
    .product-rating, .norating { 
        line-height: 22px;
        min-height: 25px;
        height: 25px;
        height: auto !important;
        font-size: $product-rating-font-size;
    }

    .name {        
        margin-bottom: 8px;
        height: auto !important;
        line-height: $product-name-line-height;      
        a {
            color: $product-name-color!important;
            font-size: $product-name-font-size;
            font-weight: 500;     
            text-decoration: none;
            @include inline-block();                                       
            &:hover{
                color: #444!important;
            }
        }
    }
    
    .image-gallery{
        border:solid 4px $product-gallery-border-color;
        position:absolute;
        top:0;
        left: -80px;    
        display: none;
        .product-image{
            width: 75px;
            overflow: hidden;
            cursor:hand;cursor:pointer
        }
        .arrow {
            border-bottom: 5px solid rgba(0, 0, 0, 0);
            border-left: 5px solid $product-gallery-border-color;
            border-top: 5px solid rgba(0, 0, 0, 0);
            margin: -5px 0;
            position: absolute;
            right: -9px;
            top: 50%;
        }
    }

    .image{           
        position: relative;
        padding: 10px 15px 4px;
        border: $product-image-border;
        text-align: center;
        @include rounded-corners ($product-image-radius);
        .product-img a{@include inline-block(); width: 100%;}
        .product-image {
            @include transition (all 0.5s ease 0s);
            img {
                @include inline-block();
                max-width: 100%;
                height: auto;
            }
        }
        /*swap image*/
        .hover-image {
            position: absolute;
            text-align: center;
            top:0;
            width: 100%;
            visibility: hidden;
            transform: scale(0);
            @include opacity(0);
            @include transition (all 0.3s ease 0s);
            @include rtl-left(0);
            img {
                @include img-responsive();
            }        
        }

        &:hover {
            .hover-image {
                visibility: visible;
                overflow: hidden;
                @include transition (all 0.3s ease 0s);
                transform: scale(1);
                @include opacity(1);
            }
        }
    }
    .product-meta{
        width:100%;      
        padding:0 15px 15px;
        position: relative;
    }

    .availability {   
        span {
            &.available-now {
                background: $product-warning-avariable-now-bg;
                border: 1px solid darken( $product-warning-avariable-now-bg, 10% );
                color:$product-warning-avariable-now-color;
            }
            &.out-of-stock{
                background: $product-warning-outofstock-bg;
                border: 1px solid darken( $product-warning-outofstock-bg, 10% );
                color:$product-warning-outofstock-color;
            }
        }
    }

    .product-flags{
        @include opacity($product-warning-display);
    }
}

.onsale,
.new-icon {
    background: #f0575c;
    padding: 0 6px;
    line-height: 18px;
    color: $white;
    position: absolute;
    top:15px;
    font-weight: 300;
    font-size: $font-size-base - 3;
    z-index: 99;
    text-align: center;
    text-transform: uppercase;
    @include rtl-left(15px);
    &::before{
        content: "";
        @include rtl-border-left(4px solid transparent);
        border-bottom: 4px solid transparent;
        border-top: 4px solid #f0575c;
        position: absolute;
        @include rtl-right(0);
        bottom: -8px;
    }
}
.new-icon {
    background: #83b1ff;
    &::before{
        border-top: 4px solid #83b1ff!important;
    }
}
.onsale + .new-icon{@include rtl-left(62px);}

.availability{ 
    .out-of-stock { 
        font-size: $product-stock-font-size;   
        background: $product-instock-bg;
        color: $product-instock-color ; 
    }
    .available-now{
        font-size: $product-stock-font-size;   
        background: $product-outofstock-bg;
        color: $product-outofstock-color  
    }
}

.product-label { 
    color: $product-label-color;
    font-size: $product-label-font-size;
    font-weight: 700;
    text-align: center;        
    z-index: 3;  
    position: absolute; 
    left: 2px; 
    span{
        padding:6px 12px; 
    }
    &.product-label-new, &.new-box{
       
        @include label-variant($product-label-new-bg);
        top:2px;
    }

    &.product-label-special, &.sale-box{ 
        top: 20px; 
        @include label-variant($product-label-special-bg); 
    }
    &.sale-percent-box{
       @include label-variant($product-label-special-bg);
       right:0;
       left: inherit;
       bottom:0;
    }
}

.ratings{
    line-height: 20px;
    .separator{color: #999;}
    .rating-links{margin: 0!important;}
}
.rating-box{
    background: url(#{$image-theme-path-base}rating-blank-star.png) repeat-x;
    clear: right;
    margin: 4px 3px 0 0;
    position: relative;
    @include size (60px, 10px);
    @include rtl-float-left();
    .rating{
        background: url(#{$image-theme-path-base}rating-full-star.png) repeat-x;
        height: 10px;
        left: 0;
        position: absolute;
        top: 0;
    }
}

#products-grid.products-block,
.product-grid,
.products-grid {
    .desc, .rating-links{
        display: none;  
    }
    .product-block .rating-box {
	    display: inline-block;
	    float: none !important;
	}
}

#products-grid{
    .product-col.first{@include rtl-border-left(1px solid transparent);}
}
.row.products-row{
    margin: 0;
    border-bottom: 1px solid $border-color;
    .product-col{padding: 0; @include rtl-border-left(1px solid $border-color);}
}