<?xml version="1.0"?>
<!--
/**
 * Open Biz Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file OPEN-BIZ-LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mageconsult.net/terms-and-conditions
 *
 * @category   Magecon
 * @package    Magecon_AdvancedStockBar
 * @version    1.0.0
 * @copyright  Copyright (c) 2012 Open Biz Ltd (http://www.mageconsult.net)
 * @license    http://mageconsult.net/terms-and-conditions
 */
-->
<config>
    <modules>
        <Magecon_AdvancedStockBar>
            <version>0.0.1</version>
        </Magecon_AdvancedStockBar>
    </modules>
    <frontend>
        <layout>
            <updates>
                <advancedstockbar>
                    <file>advancedstockbar.xml</file>
                </advancedstockbar>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <advancedstockbar>
                <class>Magecon_AdvancedStockBar_Helper</class>
            </advancedstockbar>
        </helpers>
        <models>
            <advancedstockbar>
                <class>Magecon_AdvancedStockBar_Model</class>
            </advancedstockbar>
        </models>
        <resources>
            <advancedstockbar_setup>
                <setup>
                    <module>Magecon_AdvancedStockBar</module>
                    <class>Magecon_AdvancedStockBar_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedstockbar_setup>
 
            <advancedstockbar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedstockbar_write>
            <advancedstockbar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedstockbar_read>
        </resources>
        <blocks>
            <advancedstockbar>
                <class>Magecon_AdvancedStockBar_Block</class>
            </advancedstockbar>
            <catalog>
                <rewrite>
                    <product_view_type_simple>Magecon_AdvancedStockBar_Block_AdvancedStockBarSimple</product_view_type_simple>
                    <product_view_type_virtual>Magecon_AdvancedStockBar_Block_AdvancedStockBarVirtual</product_view_type_virtual>
                    <product_view_type_configurable>Magecon_AdvancedStockBar_Block_AdvancedStockBarConfigurable</product_view_type_configurable>
					<product_view_type_grouped>Magecon_AdvancedStockBar_Block_AdvancedStockBarGrouped</product_view_type_grouped>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <default>
        <advancedstockbar>
            <advancedstockbar_settings>
            	<enable_bar>1</enable_bar>
            	<animation>1</animation>
                <nostock_status>No Items In Stock</nostock_status>
                <fullstock_status>Full Stock! Buy all of them if you want! :)</fullstock_status>
                <height>15</height>
                <threshold></threshold>
            </advancedstockbar_settings>
        </advancedstockbar>
    </default>
</config>