.ticket-view-thread-message-box {
	border: 1px solid #ccc;
	border-left: 4px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding: 15px;
	overflow-x: auto;
	background-color: #F4F3E7;
	width: 80%;float: right;
}
.ticket-view-thread-message-box.customer-comment{ background-color:#EDFAFF !important; width: 80%;float: left;}
.ticket-view-thread-message-box-header-author {
	font-weight: bold;
}
.ticket-view-thread-message-box-body {
	margin-top: 8px;
	padding-top: 2px;
	border-top: 1px dotted #333;
}
.separator {
margin: 0 3px;
}
#tickets-table tr {cursor: pointer;}
#tickets-table tr:hover{background-color: #ffc;}
