<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
			 <vendorspage>
				<args>
					<modules>
						<vendorscatalogsearch before="VES_VendorsPage">VES_VendorsCatalogSearch</vendorscatalogsearch>
					</modules>
				</args>
			</vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorscatalogsearch>
                    <file>ves_vendors/catalogsearch.xml</file>
                </vendorscatalogsearch>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsCatalogSearch>
                    <files>
                        <default>ves_vendors/catalog_search.csv</default>
                    </files>
                </VES_VendorsCatalogSearch>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <vendorscatalogsearch>
                <class>VES_VendorsCatalogSearch_Model</class>
                <resourceModel>vendorscatalogsearch_mysql4</resourceModel>
            </vendorscatalogsearch>
            <vendorscatalogsearch_mysql4>
                <class>VES_VendorsCatalogSearch_Model_Mysql4</class>
                <entities>
                    <vendorscatalogsearch>
                        <table>vendorscatalogsearch</table>
                    </vendorscatalogsearch>
                </entities>
            </vendorscatalogsearch_mysql4>
        </models>
        <resources>
            <vendorscatalogsearch_setup>
                <setup>
                    <module>VES_VendorsCatalogSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorscatalogsearch_setup>
            <vendorscatalogsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorscatalogsearch_write>
            <vendorscatalogsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorscatalogsearch_read>
        </resources>
        <blocks>
            <vendorscatalogsearch>
                <class>VES_VendorsCatalogSearch_Block</class>
            </vendorscatalogsearch>
        </blocks>
        <helpers>
            <vendorscatalogsearch>
                <class>VES_VendorsCatalogSearch_Helper</class>
            </vendorscatalogsearch>
        </helpers>
    </global>
    <vendor_config>
    	<catalogsearch>
    		<config>
    			<enabled>1</enabled>
    			<layout>two_columns_left</layout>
    			<show_breadcrumbs>1</show_breadcrumbs>
    		</config>
    	</catalogsearch>
    </vendor_config>
</config>