<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <bannermanager>
                <use>standard</use>
                <args>
                    <module>VES_BannerManager</module>
                    <frontName>bannermanager</frontName>
                </args>
            </bannermanager>
            <vendors>
				<args>
					<modules>
						<vendorbanner before="VES_Vendors">VES_BannerManager_Vendor</vendorbanner>
					</modules>
				</args>
			</vendors>
        </routers>
        <layout>
            <updates>
                <bannermanager>
                    <file>ves_vendors/banner.xml</file>
                </bannermanager>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_BannerManager>
                    <files>
                        <default>ves_vendors/banner.csv</default>
                    </files>
                </VES_BannerManager>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<bannermanager>
				<use>admin</use>
				<args>
					<module>VES_BannerManager</module>
					<frontName>bannermanager</frontName>
				</args>
			</bannermanager>
			<adminhtml>
			<args>
				<modules>
					<bannermanager  before="Mage_Adminhtml">VES_BannerManager_Adminhtml</bannermanager>
				</modules>
			</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
    <!-- 
		<menu>
			<bannermanager module="bannermanager">
				<title>Banner Manager</title>
				<sort_order>71</sort_order>               
				<children>
					<banner module="bannermanager">
						<title>Manage Banners</title>
						<sort_order>0</sort_order>
						<action>adminhtml/banner</action>
					</banner>
					
					<item module="bannermanager">
						<title>Manage Items</title>
						<sort_order>1</sort_order>
						<action>adminhtml/banner_item</action>
					</item>
					<config>
						<title>Configuration</title>
						<sort_order>2</sort_order>
						<action>adminhtml/system_config/edit/section/bannermanager</action>
					</config>
				</children>
			</bannermanager>
		</menu>
		-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<bannermanager translate="title" module="bannermanager">
							<title>BannerManager Module</title>
							<sort_order>10</sort_order>
							<children>
								<banner module="bannermanager">
									<title>Manage Banners</title>
									<sort_order>0</sort_order>
								</banner>
								
								<item module="bannermanager">
									<title>Manage Items</title>
									<sort_order>1</sort_order>
								</item>
								<config>
									<title>Configuration</title>
									<sort_order>2</sort_order>
								</config>
							</children>
						</bannermanager>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <bannermanager translate="title" module="bannermanager">
                                            <title>Banner Manager</title>
                                        </bannermanager>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bannermanager>
					<file>ves_vendors/banner.xml</file>
				</bannermanager>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_BannerManager>
                    <files>
                        <default>ves_vendors/banner.csv</default>
                    </files>
                </VES_BannerManager>
            </modules>
        </translate>
    </adminhtml>
    <vendors>
    	<menu>
            <cms>
            <children>
                <banner module="bannermanager">
                    <title>Banner Manager</title>
                    <sort_order>25</sort_order>
                    <children>
                        <banner module="bannermanager">
                            <title>Banners</title>
                            <sort_order>10</sort_order>
                            <action>vendors/cms_banner/</action>
                        </banner>
                        <item module="bannermanager">
                            <title>Items</title>
                            <sort_order>20</sort_order>
                            <action>vendors/cms_banner_item/</action>
                        </item>
                    </children>
                </banner>
            </children>
         </cms>
   
		</menu>
		

        <!--
		 <group_options>
            <banner module="bannermanager">
                <title>Banner</title>
                <sort_order>50</sort_order>
                <fields>
                    <enabled>
                        <label>Enable Banner Feature</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                    </enabled>
                </fields>
            </banner>
        </group_options>
		-->
		<!-- Add  Frontend App Type-->
    	<ves_frontend_app>
    		<banner module="bannermanager">
    			<title>Banner</title>
    			<class>bannermanager/app_banner</class>
    		</banner>
    	</ves_frontend_app>
    </vendors>
    <global>
    	<!-- Add filter for cms template processor -->
    	<ves_filter>
    		<banner module="bannermanager">
    			<title>Banner</title>
    			<class>bannermanager/template_filter_banner</class>
    			<note><![CDATA[Use <strong>{{banner banner_id="BANNER_IDENTIFIER"}}</strong> to add a banner.]]></note>
    		</banner>
    		<image module="bannermanager">
    			<title>Image</title>
    			<class>bannermanager/template_filter_image</class>
    			<note><![CDATA[Use <strong>{{image image_id="BANNER_ITEM_IDENTIFIER"}}</strong> to add an image.]]></note>
    		</image>
    	</ves_filter>
    	<events>
			<!--
            <ves_banner_module_enable>
                <observers>
                    <bannermanager>
                        <class>bannermanager/observer</class>
                        <method>ves_banner_module_enable</method>
                    </bannermanager>
                </observers>
            </ves_banner_module_enable>
			-->
            <!-- Check if vendor has permission to see category menu. -->
            <ves_vendor_menu_check_acl>
                <observers>
                    <bannermanager>
                        <class>bannermanager/observer</class>
                        <method>ves_vendor_menu_check_acl</method>
                    </bannermanager>
                </observers>
            </ves_vendor_menu_check_acl>
            <!--
			<ves_bannermanager_app_type_banner>
				 <observers>
                    <bannermanager>
                        <class>bannermanager/observer</class>
                        <method>ves_banner_module_enable_app</method>
                    </bannermanager>
                </observers>
			</ves_bannermanager_app_type_banner>
            -->
    		<ves_vendorscms_cms_app_add_tab_banner>
    			<observers>
					<bannermanager>
						<type>singleton</type>
						<class>bannermanager/observer</class>
	                    <method>ves_vendorscms_cms_app_add_tab_banner</method>
					</bannermanager>
				</observers>
    		</ves_vendorscms_cms_app_add_tab_banner>
    		<vendorscms_app_save_after>
    			<observers>
					<bannermanager>
						<type>singleton</type>
						<class>bannermanager/observer</class>
	                    <method>vendorscms_app_save_after</method>
					</bannermanager>
				</observers>
    		</vendorscms_app_save_after>
    	</events>
        <models>
            <bannermanager>
                <class>VES_BannerManager_Model</class>
                <resourceModel>bannermanager_mysql4</resourceModel>
            </bannermanager>
            <bannermanager_mysql4>
                <class>VES_BannerManager_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>ves_banner</table>
                    </banner>
					<item>
                        <table>ves_banner_item</table>
                    </item>
                    <banner_store>
                    	<table>ves_banner_store</table>
                    </banner_store>
                </entities>
            </bannermanager_mysql4>
        </models>
        <resources>
            <bannermanager_setup>
                <setup>
                    <module>VES_BannerManager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannermanager_setup>
            <bannermanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannermanager_write>
            <bannermanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannermanager_read>
        </resources>
        <blocks>
            <bannermanager>
                <class>VES_BannerManager_Block</class>
            </bannermanager>
        </blocks>
        <helpers>
            <bannermanager>
                <class>VES_BannerManager_Helper</class>
            </bannermanager>
        </helpers>
    </global>
    
    <default>
		<bannermanager>
			<config>
				<enabled>1</enabled>
				<cache_time>86400</cache_time>
			</config>
		</bannermanager>
	</default>
</config>