/* 
    Document   : deliveryzone
    Created on : Apr 8, 2013, 1:07:47 PM
    Author     : maxim
    Description:
        Purpose of the stylesheet follows.
*/

.rate_table {
    border: 1px solid #D6D6D6;
    border-collapse: collapse;
    width: auto;
    background-color: #fff;
}
.rate_table td,th {
    padding: 2px;
    white-space: nowrap;
    border: 1px solid #D6D6D6;
    padding: 2px 5px;
    width: 10%;
    min-width: 90px;
}
.input_field {
    width: 100px;
}
button.add {
    width: 58px;
}
img.tooltip {
    width: 16px;
    height: 16px;
}
#tt {
    white-space: normal;
    position:absolute; 
    display:block; 
    background:url(images/tt_left.gif) top left no-repeat;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background:#666; 
    color:#FFF
}
#tttop {
    display:block; 
    height:5px; 
    margin-left:5px; 
    overflow:hidden;
}
#ttcont {
    display:block; 
    padding:2px 12px 3px 7px; 
    margin-left:5px;
}
#ttbot {
    display:block; 
    height:5px; 
    margin-left:5px; 
    overflow:hidden
}


#dialog-box{
    /*   OLD!!!!
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*
    z-index: 449;
    width: auto;
    max-width: 900px;
    margin: -220px 0 0 200px;
    */
    left: 35%;
    /*margin: -220px 0 0 200px;*/
    max-width: 900px;
    position: absolute;
    top: 200px;
    width: auto;
    z-index: 449;
    
}
#dialog-box[id]{ /* IE6 and below Can't See This */
    /*position: fixed;*/
}
#dialog-box .group-select 
{ 
    margin: 0; 
    background-color: #fff;
    padding: 30px;
    border: 3px solid #000;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:15px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Safari & Chrome */
    box-shadow: 0 0 20px rgba(255,255,255,0.8); /* Shadow Params */
}
#dialog-box .buttons {
    margin-top: 20px;
}
#dialog-box .list li {
    margin-top: 10px;
}
#dialog-box-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 448;   
    background-color: #000;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
}
#dialog-box-overlay[id]{ /* IE6 and below Can't See This */
    position: fixed;
}
.shipping-location {
    color: #FFFFFF;
}
.shipping-location a, .shipping-location a:hover { color: #ebbc58; }

.button .span {
        background: none repeat scroll 0 0 #618499;
    border-color: #406A83;
}
#dialog-box select {
    /*width: 200px;*/
}

#dialog-box .button .span {
    background: none;
}
#productGrid_table th {
    min-width: 60px;
    width: auto;
}

#dialog-box .multiselect {
    min-width: 400px;
}

#popup-content-block {
    min-width: 400px;
    width: auto;
}
.rate_table .price {
    background-color: #FFE7A1;
}
.price div {
    color: #f6bec1;
}

.exist_attr_value {
/*    max-width: 86px;
    overflow: hidden;
    position: absolute;
    color: #D5D5D5;
    margin-top: 2px;*/
/*    color: #D5D5D5;*/
    color: #666;
    float: left;
    margin-top: 2px;
    max-width: 75px;
    /*overflow: hidden;*/
    position: relative;
    z-index: 1;
}
.add_attrt_value {
/*    margin-top: 5px;
    position: relative;*/
    /*margin-left: 5px;*/
    margin-top: 5px;
    position: relative;
    z-index: 3;
}
#dialog-box .select {
    min-width: 200px;
}
#rates_tabs_values_content .entry-edit {
    overflow: auto;
}
.box, .entry-edit fieldset, .entry-edit .fieldset {
    overflow: auto;
}
.add_attrt_gradient {
    width: 100%;
    position: relative;
    z-index: 2;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.91) 78%, rgba(255,255,255,1) 86%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(78%,rgba(255,255,255,0.91)), color-stop(86%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 78%,rgba(255,255,255,1) 86%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 78%,rgba(255,255,255,1) 86%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 78%,rgba(255,255,255,1) 86%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 78%,rgba(255,255,255,1) 86%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}