<?xml version="1.0"?>
<config>
	  <tabs>
		<nextbits_extensions translate="label" module="helpdesk">
            <label>NextBits - Extensions</label>
            <sort_order>100</sort_order>
        </nextbits_extensions>
	  </tabs>
	  <sections>
		<help_desk  translate="label" module="helpdesk">                    
		<label>Help Desk</label>
		<tab>nextbits_extensions</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
			<groups>
			  <email translate="label"> 
			  <label>Help Desk</label>
			  <frontend_type>text</frontend_type>
			  <sort_order>0</sort_order>
			  <show_in_default>1</show_in_default>
			  <show_in_website>1</show_in_website>
			  <show_in_store>1</show_in_store>
			   <fields>
				  <enabled translate="label">
					<label>Enabled Module</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_enabledisable</source_model>
					<backend_model>helpdesk/system_config_backend_links</backend_model>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				  </enabled>
				  <help_desk_name translate="label">
					<label>HelpDesk Admin Name</label>
					<frontend_type>text</frontend_type>
					<validate>required-entry</validate>
					<depends><enabled>1</enabled></depends>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				  </help_desk_name>
				  <help_desk_email translate="label">
					<label>HelpDesk Admin Email</label>
					<frontend_type>text</frontend_type>
					 <validate>validate-email required-entry</validate>
					 <depends><enabled>1</enabled></depends>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				  </help_desk_email>
				  <email_template translate="label">
					<label>Email Template</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_email_template</source_model>
					<depends><enabled>1</enabled></depends>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				  </email_template> 
			   </fields>
			   </email>
			</groups>
		</help_desk>
	  </sections>
</config>
