<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Inventoryxpos>
            <version>0.1.1</version>
        </Magestore_Inventoryxpos>
    </modules>
    <frontend>
        <routers>
            <inventoryxpos>
                <use>standard</use>
                <args>
                    <module>Magestore_Inventoryxpos</module>
                    <frontName>inventoryxpos</frontName>
                </args>
            </inventoryxpos>
        </routers>
        <layout>
            <updates>
                <inventoryxpos>
                    <file>inventoryxpos.xml</file>
                </inventoryxpos>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Inventoryxpos>
                    <files>
                        <default>Magestore_Inventoryxpos.csv</default>
                    </files>
                </Magestore_Inventoryxpos>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <inventoryxposadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Inventoryxpos</module>
                    <frontName>inventoryxposadmin</frontName>
                </args>
            </inventoryxposadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <inventoryxpos>
                    <file>inventoryxpos.xml</file>
                </inventoryxpos>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Inventoryxpos>
                    <files>
                        <default>Magestore_Inventoryxpos.csv</default>
                    </files>
                </Magestore_Inventoryxpos>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <xpos_block_listproduct_event>
                <observers>
                    <magestore_inventoryxpos>
                        <type>singleton</type>
                        <class>inventoryxpos/observer</class>
                        <method>xposBlockListproductEvent</method>
                    </magestore_inventoryxpos>
                </observers>
            </xpos_block_listproduct_event>
            <!-- add more tab in warehouse -->
            <inventory_adminhtml_add_tab_warehouse>
                <observers>
                    <magestore_inventoryxpos>
                        <type>model</type>
                        <class>inventoryxpos/observer</class>
                        <method>addXPosUserTabInWarehouse</method>
                    </magestore_inventoryxpos>
                </observers>
            </inventory_adminhtml_add_tab_warehouse>

            <!--Convert location of xpos to warehouse when inventoryplus is installed-->
            <inventoryplus_is_installed>
                <observers>
                    <inventoryxpos_observers>
                        <type>model</type>
                        <class>inventoryxpos/observer</class>
                        <method>convertXposLocationToWarehouse</method>
                    </inventoryxpos_observers>
                </observers>
            </inventoryplus_is_installed>

            <save_xpos_user_in_warehouse>
                <observers>
                    <inventoryxpos_observers>
                        <type>model</type>
                        <class>inventoryxpos/observer</class>
                        <method>saveXposUserInWarehouse</method>
                    </inventoryxpos_observers>
                </observers>
            </save_xpos_user_in_warehouse>

            <inp_prepare_post_creditmemo_data>
                <observers>
                    <inventoryxpos_observers>
                        <type>model</type>
                        <class>inventoryxpos/observer</class>
                        <method>inp_prepare_post_creditmemo_data</method>
                    </inventoryxpos_observers>
                </observers>
            </inp_prepare_post_creditmemo_data>
        </events>
        <models>
            <inventoryxpos>
                <class>Magestore_Inventoryxpos_Model</class>
                <resourceModel>inventoryxpos_mysql4</resourceModel>
            </inventoryxpos>
            <inventoryxpos_mysql4>
                <class>Magestore_Inventoryxpos_Model_Mysql4</class>
                <entities>
                    <xposuser>
                        <table>erp_inventory_warehouse_xpos_user</table>
                    </xposuser>
                </entities>
            </inventoryxpos_mysql4>
        </models>
        <resources>
            <inventoryxpos_setup>
                <setup>
                    <module>Magestore_Inventoryxpos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inventoryxpos_setup>
            <inventoryxpos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inventoryxpos_write>
            <inventoryxpos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inventoryxpos_read>
        </resources>
        <blocks>
            <inventoryxpos>
                <class>Magestore_Inventoryxpos_Block</class>
            </inventoryxpos>
        </blocks>
        <helpers>
            <inventoryxpos>
                <class>Magestore_Inventoryxpos_Helper</class>
            </inventoryxpos>
        </helpers>
    </global>
</config>