<?xml version="1.0"?>
<config>
    <modules>
        <Mish_Zhipcode>
            <version>0.1.0</version>
        </Mish_Zhipcode>
    </modules>
    <frontend>
        <routers>
            <zhipcode>
                <use>standard</use>
                <args>
                    <module>Mish_Zhipcode</module>
                    <frontName>zhipcode</frontName>
                </args>
            </zhipcode>
        </routers>
        <layout>
            <updates>
                <zhipcode>
                    <file>zhipcode.xml</file>
                </zhipcode>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<zhipcode>
				<use>admin</use>
				<args>
					<module>Mish_Zhipcode</module>
					<frontName>zhipcode</frontName>
				</args>
			</zhipcode>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<zhipcode module="zhipcode">
				<title>Zhipcode</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="zhipcode">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>zhipcode/adminhtml_zhipcode</action>
					</items>
				</children>
			</zhipcode>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mish_Zhipcode>
							<title>Zhipcode Module</title>
							<sort_order>10</sort_order>
						</Mish_Zhipcode>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<zhipcode>
					<file>zhipcode.xml</file>
				</zhipcode>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <zhipcode>
                <class>Mish_Zhipcode_Model</class>
                <resourceModel>zhipcode_mysql4</resourceModel>
            </zhipcode>
             <zhipcodemaintable>
                <class>Mish_Zhipcode_Model</class>
                <resourceModel>zhipcode_mysql4</resourceModel>
            </zhipcodemaintable>
            <zhipcode_mysql4>
                <class>Mish_Zhipcode_Model_Mysql4</class>
                <entities>
                    <zhipcode>
                        <table>zhipcode</table>
                    </zhipcode>
                    <zhipcodemaintable>
                        <table>zhipcodemaintable</table>
                    </zhipcodemaintable>
                </entities>
            </zhipcode_mysql4>
        </models>
        <resources>
            <zhipcode_setup>
                <setup>
                    <module>Mish_Zhipcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zhipcode_setup>
            <zhipcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zhipcode_write>
            <zhipcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zhipcode_read>
        </resources>
        <blocks>
            <zhipcode>
                <class>Mish_Zhipcode_Block</class>
            </zhipcode>
        </blocks>
        <helpers>
            <zhipcode>
                <class>Mish_Zhipcode_Helper</class>
            </zhipcode>
        </helpers>
    </global>
      <default>
        <carriers>
           <zhipcode>
                <active>1</active>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <model>zhipcode/carrier_shippingzhipcode</model>
                <name>Zhipcode</name>
                <price>10.00</price>
                <title>Zhipcode Shipping Method</title>
          </zhipcode>
        </carriers>
    </default>
</config>