<?xml version="1.0"?>
<config>
  <modules>
    <Mish_OrderBlock>
      <version>1.0.0</version>
    </Mish_OrderBlock>
  </modules>
  <global>
    <helpers>
      <orderblock>
        <class>Mish_OrderBlock_Helper</class>
      </orderblock>
    </helpers>
	<blocks>
	  <orderblock>
		<class>Mish_OrderBlock_Block</class>
	  </orderblock>
	</blocks>
	 <models>
      <orderblock>
        <class>Mish_OrderBlock_Model</class>
      </orderblock>
    </models>
  </global>
  <admin>
	<routers>
	  <orderblock>
	    <use>admin</use>
		<args>
		  <module>Mish_OrderBlock</module>
		</args>
	  </orderblock>
	</routers>
  </admin>
  <adminhtml>
   <events>
      <core_block_abstract_to_html_after>
        <observers>
          <mish_ob_core_block_abstract_to_html_after>
            <class>Mish_OrderBlock_Model_Adminhtml_Observer</class>
            <method>addOrderBlock</method>
          </mish_ob_core_block_abstract_to_html_after>
        </observers>
      </core_block_abstract_to_html_after>
    </events>
	<layout>
	  <updates>
		<orderblock>
		  <file>mish/orderblock.xml</file>
		</orderblock>
	  </updates>
	</layout>
  </adminhtml>
</config> 