<?xml version="1.0"?>
<config>
    <modules>
        <Bluethink_Btslider>
            <version>0.1.0</version>
        </Bluethink_Btslider>
    </modules>
    <frontend>
        <routers>
            <btslider>
                <use>standard</use>
                <args>
                    <module>Bluethink_Btslider</module>
                    <frontName>btslider</frontName>
                </args>
            </btslider>
        </routers>
        <layout>
            <updates>
                <btslider>
                    <file>btslider.xml</file>
                </btslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<btslider>
				<use>admin</use>
				<args>
					<module>Bluethink_Btslider</module>
					<frontName>btslider</frontName>
				</args>
			</btslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<btslider module="btslider">
				<title>Mish Module</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="btslider">
						<title>Homepage Banner and Carousel</title>
						<sort_order>0</sort_order>
						<action>btslider/adminhtml_btslider</action>
					</items>
                    <items2 module="btslider">
                        <title>Category Banner</title>
                        <sort_order>0</sort_order>
                        <action>btslider/adminhtml_btslidercat</action>
                    </items2>
				</children>
			</btslider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <btslider translate="title" module="btslider">
                                            <title>btslider</title>
                                        </btslider>
                                        <fastmovingprpoducts translate="title" module="btslider">
                                            <title>fastmovingprpoducts</title>
                                        </fastmovingprpoducts>
                                    </children>
                                </config>
                            </children>
                        </system>
						<Bluethink_Btslider>
							<title>Btslider Module</title>
							<sort_order>10</sort_order>
						</Bluethink_Btslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<btslider>
					<file>btslider.xml</file>
				</btslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <btslider>
                <class>Bluethink_Btslider_Model</class>
                <resourceModel>btslider_mysql4</resourceModel>
            </btslider>
             <btproductslider>
                <class>Bluethink_Btslider_Model</class>
                <resourceModel>btslider_mysql4</resourceModel>
            </btproductslider>
             <btcatbrand>
                <class>Bluethink_Btslider_Model</class>
                <resourceModel>btslider_mysql4</resourceModel>
            </btcatbrand>
             <btcategoryslider>
                <class>Bluethink_Btslider_Model</class>
                <resourceModel>btslider_mysql4</resourceModel>
            </btcategoryslider>
            <btslider_mysql4>
                <class>Bluethink_Btslider_Model_Mysql4</class>
                <entities>
                    <btslider>
                        <table>btslider</table>
                    </btslider>
                     <btproductslider>
                        <table>btproductslider</table>
                    </btproductslider>
                    <btcatbrand>
                        <table>btcatbrand</table>
                    </btcatbrand>
                     <btcategoryslider>
                        <table>btcategoryslider</table>
                    </btcategoryslider>
                </entities>
            </btslider_mysql4>
        </models>
        <resources>
            <btslider_setup>
                <setup>
                    <module>Bluethink_Btslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </btslider_setup>
            <btslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </btslider_write>
            <btslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </btslider_read>
        </resources>
        <blocks>
            <btslider>
                <class>Bluethink_Btslider_Block</class>
            </btslider>
        </blocks>
        <helpers>
            <btslider>
                <class>Bluethink_Btslider_Helper</class>
            </btslider>
        </helpers>
    </global>
</config>