<?xml version="1.0"?>
<config>
	<tabs>
        <otto translate="label">
            <label>Otto Commerce</label>
            <sort_order>100</sort_order>
        </otto>
    </tabs>
    <sections>
        <advancedfaq translate="label" module="advancedfaq">
            <label>Advanced Faq</label>
            <tab>otto</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>               
               <config>
                  <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enable_faq>
							<label>Enable Module</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_faq>
						<url_key>
							<label>Url Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_class>required-entry</frontend_class>
						</url_key>
						<title>
							<label>Page Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_class>required-entry</frontend_class>
						</title>
						<meta_keyword>
							<label>META Keywords</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_class>required-entry</frontend_class>
						</meta_keyword>
						<meta_description>
							<label>META Description</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<frontend_class>required-entry</frontend_class>
						</meta_description>
						<articeles_rating>
							<label>Enable Faq Rating</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</articeles_rating>
						
						<articeles_page>
							<label>Number Of Question</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</articeles_page>
						<category_suffix>
							<label>Topic Url Suffix</label>
							<frontend_type>text</frontend_type>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</category_suffix>
						<!--  
						<use_secure_url>
							<label>Use Secure URLs In The Frontend</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</use_secure_url>
						-->
                    </fields>
                </config>
                <block>
             		<label>Faqs Block Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_block>
							<label>FAQs Block</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_block>
						<enable_search_block>
							<label>FAQs Search Block</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_search_block>
						<max_topic>
							<label>Maximum No Of Topics Displayed In Block</label>
							<frontend_type>text</frontend_type>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</max_topic>
                    </fields>
                </block>
                <recapcha>
                	 <label>Recapcha</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                	<fields>
                		<enable_recapcha>
                            <label>Enable CAPTCHA</label>
                            <frontend_type>select</frontend_type>
                            <source_model>advancedfaq/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </enable_recapcha>
                	  <public_key>
                            <label>Public Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_recapcha separator=",">1,2</enable_recapcha></depends>
                       </public_key>
                        <private_key>
                            <label>Private Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_recapcha separator=",">1,2</enable_recapcha></depends>
                       </private_key>
                       <theme_recapcha>
                       		<label>Theme Option</label>
                            <frontend_type>select</frontend_type>
                            <source_model>advancedfaq/system_config_source_recapcha_theme</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_recapcha separator=",">1,2</enable_recapcha></depends>
                       </theme_recapcha>
                        <language_recapcha>
                       		<label>Language Option</label>
                            <frontend_type>select</frontend_type>
                            <source_model>advancedfaq/system_config_source_recapcha_language</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_recapcha separator=",">1,2</enable_recapcha></depends>
                       </language_recapcha>
                      </fields>
                </recapcha>
                 <theme>
                	 <label>Theme Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                	<fields>

                	  <enable_accordion>
                            <label>Enable Accordion</label>
                            <frontend_type>select</frontend_type>
                            <source_model>advancedfaq/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                      </enable_accordion>

                       <speed>
                            <label>Speed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>advancedfaq/system_config_source_speed</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><theme_style>1</theme_style></depends>
                            <depends><enable_accordion>1</enable_accordion></depends>
                       </speed>
                        <bind>
                            <label>Bind</label>
                            <frontend_type>select</frontend_type>
                            <source_model>advancedfaq/system_config_source_bind</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><theme_style>1</theme_style></depends>
                            <depends><enable_accordion>1</enable_accordion></depends>
                       </bind>
                      </fields>
                </theme>
			</groups>
        </advancedfaq>
    </sections>
</config>