<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Helpdesk>
            <version>1.0.21</version>
        </Mirasvit_Helpdesk>
    </modules>
    <global>
        <blocks>
            <helpdesk>
                <class>Mirasvit_Helpdesk_Block</class>
            </helpdesk>
        </blocks>
        <models>
            <helpdesk>
                <class>Mirasvit_Helpdesk_Model</class>
                <resourceModel>helpdesk_resource</resourceModel>
            </helpdesk>
            <helpdesk_resource>
                <class>Mirasvit_Helpdesk_Model_Resource</class>
                <entities>
                    <status>
                        <table>m_helpdesk_status</table>
                    </status>
                    <priority>
                        <table>m_helpdesk_priority</table>
                    </priority>
                    <department>
                        <table>m_helpdesk_department</table>
                    </department>
                    <department_user>
                        <table>m_helpdesk_department_user</table>
                    </department_user>
                    <email>
                        <table>m_helpdesk_email</table>
                    </email>
                    <ticket>
                        <table>m_helpdesk_ticket</table>
                    </ticket>
                    <message>
                        <table>m_helpdesk_message</table>
                    </message>
                    <attachment>
                        <table>m_helpdesk_attachment</table>
                    </attachment>
                    <gateway>
                        <table>m_helpdesk_gateway</table>
                    </gateway>
                    <pattern>
                        <table>m_helpdesk_pattern</table>
                    </pattern>
                    <template>
                        <table>m_helpdesk_template</table>
                    </template>
                    <field>
                        <table>m_helpdesk_field</table>
                    </field>
                    <satisfaction>
                        <table>m_helpdesk_satisfaction</table>
                    </satisfaction>
                    <ticket_aggregated>
                        <table>m_helpdesk_ticket_aggregated</table>
                    </ticket_aggregated>
                    <rule>
                        <table>m_helpdesk_rule</table>
                    </rule>
                    <tag>
                        <table>m_helpdesk_tag</table>
                    </tag>
                    <ticket_tag>
                        <table>m_helpdesk_ticket_tag</table>
                    </ticket_tag>
                    <permission>
                        <table>m_helpdesk_permission</table>
                    </permission>
                    <permission_department>
                        <table>m_helpdesk_permission_department</table>
                    </permission_department>
                    <template_store>
                        <table>m_helpdesk_template_store</table>
                    </template_store>
                    <field_store>
                        <table>m_helpdesk_field_store</table>
                    </field_store>
                    <history>
                        <table>m_helpdesk_history</table>
                    </history>
                    <draft>
                        <table>m_helpdesk_draft</table>
                    </draft>
                    <user>
                        <table>m_helpdesk_user</table>
                    </user>
                </entities>
            </helpdesk_resource>
        </models>
        <helpers>
            <helpdesk>
                <class>Mirasvit_Helpdesk_Helper</class>
            </helpdesk>
        </helpers>
        <resources>
            <mst_helpdesk_setup>
                <setup>
                    <module>Mirasvit_Helpdesk</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_helpdesk_setup>
        </resources>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>checkCronStatus</method>
                    </m_helpdesk_observer>
                </observers>
            </adminhtml_block_html_before>
            <admin_user_load_after>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>onUserLoadAfter</method>
                    </m_helpdesk_observer>
                </observers>
            </admin_user_load_after>
            <admin_user_save_after>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>onUserSaveAfter</method>
                    </m_helpdesk_observer>
                </observers>
            </admin_user_save_after>
        </events>
        <template>
            <email>
               <helpdesk_notification_new_ticket_template translate="label" module="helpdesk">
                   <label>Helpdesk - Customer - New Ticket</label>
                   <file>mst_helpdesk/notification_new_ticket_template.html</file>
                   <type>html</type>
               </helpdesk_notification_new_ticket_template>
               <helpdesk_notification_staff_new_ticket_template translate="label" module="helpdesk">
                   <label>Helpdesk - Staff - New Ticket</label>
                   <file>mst_helpdesk/notification_staff_new_ticket_template.html</file>
                   <type>html</type>
               </helpdesk_notification_staff_new_ticket_template>
               <helpdesk_notification_new_message_template translate="label" module="helpdesk">
                   <label>Helpdesk - Customer - New Message</label>
                   <file>mst_helpdesk/notification_new_message_template.html</file>
                   <type>html</type>
               </helpdesk_notification_new_message_template>
               <helpdesk_notification_staff_new_message_template translate="label" module="helpdesk">
                   <label>Helpdesk - Staff - New Message</label>
                   <file>mst_helpdesk/notification_staff_new_message_template.html</file>
                   <type>html</type>
               </helpdesk_notification_staff_new_message_template>
               <helpdesk_notification_third_new_message_template translate="label" module="helpdesk">
                   <label>Helpdesk - Third Party - New Message</label>
                   <file>mst_helpdesk/notification_third_new_message_template.html</file>
                   <type>html</type>
               </helpdesk_notification_third_new_message_template>
               <helpdesk_notification_reminder_template translate="label" module="helpdesk">
                   <label>Helpdesk - Staff - Ticket Reminder</label>
                   <file>mst_helpdesk/notification_reminder_template.html</file>
                   <type>html</type>
               </helpdesk_notification_reminder_template>
               <helpdesk_notification_rule_template translate="label" module="helpdesk">
                   <label>Helpdesk - Template of Rule Notifications</label>
                   <file>mst_helpdesk/notification_rule_template.html</file>
                   <type>html</type>
               </helpdesk_notification_rule_template>
               <helpdesk_notification_staff_new_satisfaction_template translate="label" module="helpdesk">
                   <label>Helpdesk - Survey Satisfaction Result</label>
                   <file>mst_helpdesk/notification_staff_new_satisfaction_template.html</file>
                   <type>html</type>
               </helpdesk_notification_staff_new_satisfaction_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <helpdesk>
                    <file>mst_helpdesk.xml</file>
                </helpdesk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Helpdesk>
                    <files>
                        <default>Mirasvit_Helpdesk.csv</default>
                    </files>
                </Mirasvit_Helpdesk>
            </modules>
        </translate>
        <routers>
            <helpdesk>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Helpdesk</module>
                    <frontName>helpdesk</frontName>
                </args>
            </helpdesk>
       
            <vendors>
                <args>
                    <modules>
                        <helpdesk before="VES_Vendors">Mirasvit_Helpdesk_Vendors</helpdesk>
                    </modules>
                </args>
            </vendors>
        </routers>
    </frontend>
    <admin>
        <routers>
            <helpdeskadmin>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Helpdesk</module>
                    <frontName>helpdeskadmin</frontName>
                </args>
            </helpdeskadmin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Helpdesk>
                    <files>
                        <default>Mirasvit_Helpdesk.csv</default>
                    </files>
                </Mirasvit_Helpdesk>
            </modules>
        </translate>
        <layout>
            <updates>
                <helpdesk>
                    <file>mst_helpdesk.xml</file>
                </helpdesk>
            </updates>
        </layout>
    </adminhtml>
    <vendors>
       <menu>
              
        <helpdesk module="helpdesk">
            <title>Help Desk</title>
            <sort_order>70</sort_order>
            <children>
            <ticket module="helpdesk">
                <title>Tickets</title>
                <sort_order>10</sort_order>
                <action>vendors/vendors_ticket/</action>
            </ticket>

            <archive module="helpdesk">
                <title>Archive</title>
                <sort_order>20</sort_order>
                <action>vendors/vendors_archive</action>
            </archive>
            <spam module="helpdesk">
                <title>Spam</title>
                <sort_order>30</sort_order>
                <action>vendors/vendors_spam</action>
            </spam>
            <satisfaction module="helpdesk">
                <title>Customer Satisfaction</title>
                <sort_order>40</sort_order>
                <action>vendors/vendors_satisfaction</action>
            </satisfaction>
            <reports module="helpdesk">
                <title>Reports</title>
                <sort_order>50</sort_order>
                <children>
                <report_ticket module="helpdesk">
                    <title>Tickets Report</title>
                    <sort_order>10</sort_order>
                    <action>vendors/vendors_report_ticket</action>
                </report_ticket>
                <report_satisfaction module="helpdesk">
                    <title>Customer Satisfaction</title>
                    <sort_order>20</sort_order>
                    <action>vendors/vendors_report_satisfaction</action>
                </report_satisfaction>
                </children>
            </reports>
            <dictionary module="helpdesk">
                <title>Dictionaries</title>
                <sort_order>60</sort_order>
                <children>
                <department module="helpdesk">
                    <title>Departments</title>
                    <sort_order>10</sort_order>
                    <action>vendors/vendors_department</action>
                </department>
                <gateway module="helpdesk">
                    <title>Gateways</title>
                    <sort_order>20</sort_order>
                    <action>vendors/vendors_gateway</action>
                </gateway>
                <status module="helpdesk">
                    <title>Statuses</title>
                    <sort_order>30</sort_order>
                    <action>vendors/vendors_status</action>
                </status>
                <priority module="helpdesk">
                    <title>Priorities</title>
                    <sort_order>40</sort_order>
                    <action>vendors/vendors_priority</action>
                </priority>
                <template module="helpdesk">
                    <title>Quick Responses</title>
                    <sort_order>50</sort_order>
                    <action>vendors/vendors_template</action>
                </template>
                <field module="helpdesk">
                    <title>Custom Fields</title>
                    <sort_order>60</sort_order>
                    <action>vendors/vendors_field</action>
                </field>
                <pattern module="helpdesk">
                    <title>Spam Patterns</title>
                    <sort_order>70</sort_order>
                    <action>vendors/vendors_pattern</action>
                </pattern>
                <permission module="helpdesk">
                    <title>Permissions</title>
                    <sort_order>80</sort_order>
                    <action>vendors/vendors_permission</action>
                </permission>
                </children>
            </dictionary>
            <rule module="helpdesk">
                <title>Workflow Rules</title>
                <sort_order>70</sort_order>
                <action>vendors/vendors_rule</action>
            </rule>
            
            </children>
        </helpdesk>
    
       </menu>
   </vendors>
    <default>
        <helpdesk>
            <general>
                <ticket_grid_columns>code,name,last_reply_name,status_id,priority_id,user_id,department_id,customer_name,last_activity</ticket_grid_columns>
                <default_priority>3</default_priority>
                <default_department>1</default_department>
                <default_status>1</default_status>
                <sign_ticket_by>user</sign_ticket_by>
                <contact_us_is_active>1</contact_us_is_active>
                <is_wysiwyg>0</is_wysiwyg>
                <is_default_cron>1</is_default_cron>
            </general>
            <contact_form>
                <is_active>1</is_active>
                <default_department>1</default_department>
                <color>red</color>
                <title>Contact Us</title>
                <position>left</position>
                <form_title>How can we help you?</form_title>
                <subject_title>Question</subject_title>
                <subject_placeholder>Briefly describe your question</subject_placeholder>
                <description_title>Details</description_title>
                <description_placeholder>Fill in details here</description_placeholder>
                <is_active_attachment>0</is_active_attachment>
                <is_allow_priority>0</is_allow_priority>
                <is_allow_department>0</is_allow_department>
                <is_active_kb>1</is_active_kb>
            </contact_form>
            <notification>
                <is_show_code>0</is_show_code>
                <history_records_number>0</history_records_number>
                <new_ticket_template>helpdesk_notification_new_ticket_template</new_ticket_template>
                <staff_new_ticket_template>helpdesk_notification_staff_new_ticket_template</staff_new_ticket_template>
                <new_message_template>helpdesk_notification_new_message_template</new_message_template>
                <staff_new_message_template>helpdesk_notification_staff_new_message_template</staff_new_message_template>
                <third_new_message_template>helpdesk_notification_third_new_message_template</third_new_message_template>
                <reminder_template>helpdesk_notification_reminder_template</reminder_template>
                <rule_template>helpdesk_notification_rule_template</rule_template>
                <staff_new_satisfaction_template>helpdesk_notification_staff_new_satisfaction_template</staff_new_satisfaction_template>
            </notification>
            <satisfaction>
                <is_active>1</is_active>
                <is_send_results_owner>1</is_send_results_owner>
            </satisfaction>
            <frontend>
                <is_active>1</is_active>
                <is_allow_priority>1</is_allow_priority>
                <is_allow_department>1</is_allow_department>
                <is_allow_order>1</is_allow_order>
            </frontend>
            <developer>
                <is_active></is_active>
                <sandbox_email></sandbox_email>
            </developer>
        </helpdesk>
    </default>
    <crontab>
        <jobs>
            <mirasvit_helpdesk>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>helpdesk/cron::magentoCronRun</model>
                </run>
            </mirasvit_helpdesk>
            <mirasvit_helpdesk2>
                <schedule>
                    <!-- <cron_expr>* * * * *</cron_expr> -->
                    <cron_expr>10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>helpdesk/cron::magentoCronEveryHourRun</model>
                </run>
            </mirasvit_helpdesk2>
        </jobs>
    </crontab>
</config>
