<?xml version="1.0"?>
<config>
    <modules>
        <Jtech_TierPrices>
            <version>1.0.0</version>
        </Jtech_TierPrices>
    </modules>
    
    <global>
        <resources>
            <tierprices_setup>
                <setup>
                    <module>Jtech_TierPrices</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tierprices_setup>
        </resources>
        
        <blocks>
            <tierprices>
                <class>Jtech_TierPrices_Block</class>
            </tierprices>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_price_tier>Jtech_TierPrices_Block_Adminhtml_Catalog_Product_Edit_Tab_Price_Tier</catalog_product_edit_tab_price_tier>
                </rewrite>
            </adminhtml>
        </blocks>
        
        <models>
			<catalog>
				<rewrite>
					<product>Jtech_TierPrices_Model_Catalog_Product</product>
				</rewrite>
			</catalog>
            <catalog>
                <rewrite>
                    <product_type_price>Jtech_TierPrices_Model_Catalog_Product_Type_Price</product_type_price>
                    <product_attribute_backend_tierprice>Jtech_TierPrices_Model_Catalog_Product_Attribute_Backend_Tierprice</product_attribute_backend_tierprice>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Jtech_TierPrices_Model_Catalog_Resource_Product_Collection</product_collection>
                    <product_attribute_backend_tierprice>Jtech_TierPrices_Model_Catalog_Resource_Product_Attribute_Backend_Tierprice</product_attribute_backend_tierprice>
                </rewrite>
            </catalog_resource>
        </models>
        
        <helpers>
            <tierprices>
                <class>Jtech_TierPrices_Helper</class>
            </tierprices>
        </helpers>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Jtech_TierPrices_Adminhtml before="Mage_Adminhtml">Jtech_TierPrices_Adminhtml</Jtech_TierPrices_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <tierprices>
                    <file>tierprices.xml</file>
                </tierprices>
            </updates>
        </layout>
    </adminhtml>
</config> 