<?xml version="1.0"?>
<config>
    <sections>
        <vendors translate="label" module="vendors">
            <groups>                
                <pricecomparison translate="label">
                    <label>Price Comparison</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<logo_width>
                        	<label>Logo Width</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-number</frontend_class>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo_width>
                        <logo_height>
                        	<label>Logo Height</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-number</frontend_class>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo_height>
                    	<description_length>
                        	<label>Description length</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-number</frontend_class>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Max length of short description.</comment>
                        </description_length>
                    </fields>
                </pricecomparison>
            </groups>
            
        </vendors>
    </sections>
</config>
