"-- Please Select --","-- Selectionner --"
"-- Select an Order --","-- Selectionner un ordre --"
"1st Reply Time","1ère Réponse"
"1st Resolution Time","1ère Résolution"
"Actions","Actions"
"Activate Sandbox","Activer Sandbox"
"Active","Activé"
"Add New Department","Ajouter nouveau département"
"Add New Field","Ajouter nouveau champ"
"Add New Gateway","Ajouter nouvelle passerelle"
"Add New Pattern","Ajouter nouveau modèle"
"Add New Priority","Ajouter nouvelle priorité"
"Add New Rule","Ajouter nouvelle règle"
"Add New Spam","Ajouter nouveau spam"
"Add New Status","Ajouter nouveau statut"
"Add New Template","Ajouter nouveau modèle"
"Add Tags","Ajouter des Tags"
"Additional","Supplémentaire"
"Additional Information","Information supplémentaire"
"Allow Everything","Tout permettre"
"Allow customer to select Department","Permettre au client de choisir un département"
"Allow customer to select Order","Permettre au client de choisir un ordre"
"Allow customer to select Priority","Permettre au client de choisir une priorité"
"Approve","Aprouver"
"Aqua","Aqua"
"Archive","Archives"
"Are you sure?","Etes vous sûrs ?"
"Arranged in the ascending order. 0 is the highest.","Arrangé dans l'ordre croissant. 0 est le plus haut."
"Assign to Department","Assigner au Département"
"Assigned To Customer","Assigner au client"
"Assigned to Order","Assigner à l'ordre"
"Attach files","Attacher fichiers"
"Attach files which were attached to the last message","Attacher les fichiers qui ont été attachés au dernier message"
"Auto assign tickets from gateways","Billets auto-désignés des passerelles"
"Auto assign tickets to Store View","Billets auto- désignés à la vue de magasin"
"Auto assign tickets to department","Billets auto-désignes au département"
"Back to My Tickets","Retourner à mes billets"
"Bad","Mauvais"
"Bad Votes Number","Mauvais nombres de votes"
"Black","Noir"
"Blue","Bleu"
"Body","Corps"
"Change Owner","Changer Propriétaire"
"Change Status","Changer Statuts"
"Change status","Changer statuts"
"Channel","Manche"
"Check every hour","Vérifier chaque heure"
"Checkbox","Case à cocher"
"Close Ticket","Billet étroit"
"Code","Code"
"Color","Couleur"
"Comment","Commentaire"
"Conditions","Conditions"
"Conditions Combination","Conditions Combination"
"Contact Us","Contactez nous"
"Convert To RMA","Converti à RMA"
"Create New Department","Créer nouveau département"
"Create New Field","Créer nouveau champ"
"Create New Gateway","Créer nouvelle passerelle"
"Create New Pattern","Créer nouveau modèle"
"Create New Priority","Créer nouvelle priorité"
"Create New Rule","Créer nouvelle règle"
"Create New Satisfaction","Créer nouvelle satisfaction"
"Create New Status","Créer nouveau status"
"Create New Template","Créer nouveau modèle"
"Create New Ticket","Créer nouveau billet"
"Create Ticket","Créer billet"
"Create Tickets from Contact Us form","Créer les billets de la forme Contactez nous"
"Create ticket for this customer","Créer le billet pour ce client"
"Create ticket for this order","Créer le billet pour cet ordre"
"Created At","Créé à"
"Custom","Personnaliser"
"Custom Fields","Champs personnalisés"
"Customer","Client"
"Customer Account","Compte client"
"Customer Email","Email client"
"Customer Name","Nom client"
"Customer Satisfaction","Satisfaction client"
"Customer Satisfaction Report","Rapport de satisfaction client"
"Customer Satisfaction Survey","Sondage de satisfaction clientèle"
"Customer Tickets","Blillets client"
"Date","Date"
"Delete","Supprimer"
"Department","Département"
"Department (before change)","Département (avant changement)"
"Departments","Départements"
"Departments Members","Membres des départements"
"Description","Description"
"Description Placeholder","Description substituante"
"Description Title","Titre de description"
"Developer Settings","Paramètres développeur"
"Dictionaries","Dictionnaires"
"Disabled","Handicapé"
"Drop-down list","Liste déroulante"
"Edit Department '%s'","Editer département '%s'"
"Edit Field '%s'","Editer champ '%s'"
"Edit Gateway '%s'","Editer passerelles '%s'"
"Edit Pattern '%s'","Editer modèle '%s'"
"Edit Priority '%s'","Editer priorité '%s'"
"Edit Rule '%s'","Editer règle '%s'"
"Edit Status '%s'","Editer statut '%s'"
"Edit Template '%s'","Editer modèle '%s'"
"Edit Ticket '%s'","Editer billet '%s'"
"Email","Email"
"Email Notification Settings","Paramètres de notification d'Email"
"Email body","Corps d'Email"
"Email subject","Sujet de l'Email"
"Enable Feedback Tab","Prendrer Feedback Tab"
"Enabled","Permis"
"Encryption","Chiffrage"
"Event","Evénement"
"External Link","Lien externe"
"Fast, friendly, helpful, pleasant. Great job!","Rapide, amical, serviable, agréable. Bon travail !"
"Feedback Tab","Feedback Tab"
"Fetch Frequency (minutes)","Fréquence d'effort (minutes)"
"Fetch Max","Effort max"
"Filters","Filtres"
"Find Customer","Rechercher client"
"Fine, but definitely could have been better.","Très bien, mais ça aurai pu certainement être mieux"
"Follow Up","Suivi"
"Form Title","Titre de forme"
"Fuchsia","Fuchsia"
"Full Resolution Time","Temps de Pleinne Résolution"
"Gateways","Passerelles"
"General","General"
"General Information","Informations générales"
"General Settings","Paramètres généraux"
"Global Search","Recherche globale"
"Go back","Retour"
"Great","Super"
"Great Votes Number","Grand nombre de votes"
"Great!","Super!"
"Green","Vert"
"Grey","Grey"
"Headers","En-têtes"
"Help Desk","Bureau d'aide"
"Helpdesk - Customer - New Message","Bureau d'aide - Client - Nouveau message"
"Helpdesk - Customer - New Ticket","Bureau d'aide - Client - Nouveau billet"
"Helpdesk - Staff - New Message","Bureau d'aide - Personnel - Nouveau message"
"Helpdesk - Staff - New Ticket","Bureau d'aide - Personnel - Nouveau billet"
"Helpdesk - Staff - Ticket Reminder","Bureau d'aide - Personnel - Rappel billet"
"Helpdesk - Template of Rule Notifications","Bureau d'aide - Modèle de notifiations de règle"
"Host","Hôte"
"Hours since Created","Heures depuis création"
"Hours since Last reply","Heures depuis la dernière réponse"
"Hours since Updated","Heures depuis Mis à jour"
"ID","ID"
"IMAP","IMAP"
"If ticket is unsigned, send notifications to all department members","Si le billet est non signé, envoyez des notifications à tous les membres de département"
"If ticket is unsigned, send notifications to email","Si le billet est non signé, envoyez des notifications à l'Email"
"If you would like to provide additional comments, please do so below:","Si vous voudriez faire connaître des observations supplémentaires, prière de faire ci-dessous."
"In days...","Dans les jours ..."
"In hours...","Dans les heures ..."
"In minutes...","Dans les minutes ..."
"In months...","Dans les mois ..."
"In weeks...","Dans les semaines ..."
"Insert Predefined Response","Insérer la réponse prédéfinie"
"Internal Reply","Réponse Interne"
"Internal Title","Titre interne"
"Is Active","Est actif"
"Is Email Notification Active","Est actif pour notification d'Email"
"Is Stop Processing","Est le procédé d'arret"
"It was OK","C'était correct"
"It was great","C'était super"
"It wasn't good","Ce n'était pas bien"
"Last Activity","Dernière activité"
"Last Fetch Result","Dernier résultat d'effort"
"Last Fetched At","Dernière lecture au"
"Last Replier","Dernière personne à avoir répondu"
"Last Reply","Dernière réponse"
"Last Reply At","Dernière réponse à"
"Last Reply By","Dernière réponse par"
"Last message body","Dernier corps de message"
"Left","Gauche"
"Lime","Lime"
"Login","Connexion"
"Manually","Manuellement"
"Mark as spam","Marquer comme spam"
"Maroon","Marron"
"Members of Department","Membres du département"
"Message","Message"
"Message submitted. Thanks!","Le message est soumis. Merci !"
"Mirasvit Helpdesk","Bureau d'aide"
"Move Ticket to Archive if it has one of following statuses","Déplacez le billet vers les archives s'il a un des statuts suivants"
"Move to Archive","Déplacer vers les archives"
"Multi-line text","Texte multiligne"
"My Support Tickets","Mes billets de support"
"My Tickets","Mes billets"
"NONE","AUCUN"
"Name","Nom"
"Navy","Marine"
"New Department","Nouveau département"
"New Field","Nouveau champ"
"New Gateway","Nouvelle passerelle"
"New Pattern","Nouveau modèle"
"New Priority","Nouvelle priorité"
"New Rule","Nouvelle règle"
"New Satisfaction","Nouvelle satisfaction"
"New Spam","Nouveau spam"
"New Status","Nouveau statut"
"New Template","Nouveau modèle"
"New Ticket","Nouveau billet"
"New Tickets Number","Nouveau numéro de billet"
"New reply from customer","Nouvelle réponse de client"
"New reply from staff","Nouvelle réponse du personnel"
"New ticket created","Nouveau billet créé"
"Next","Suivant"
"No","Non"
"None of these are helpful - get in touch","Aucun d'entre eux sont utiles - entrer en contact"
"Notes","Notes"
"Notification","Notification"
"Notification Email","Email de notification"
"Notifications","Notifications"
"Number of last replies to show in the ticket history","Nombre de dernières réponses à afficher dans l'histoire de billets"
"OK","OK"
"OK Votes Number","Nombre de votes OK"
"Offline Message from on 18 Mar 2014, 04:19 PM","Message Hors connexion le 18 mars 2014, 16h19"
"Olive","Olive"
"Options list","Liste d'options"
"Orange","Orange"
"Order","Ordre"
"Owner","Propriétaire"
"POP","POP"
"Password","Mot de passe"
"Pattern","Modèle"
"Period","Période"
"Please take a second to rate my reply...","Veuillez prendre une seconde pour noter ma réponse"
"Port","Port"
"Post a Reply","Poster une réponse"
"Predefined Responses","Réponses prédéfinies"
"Priorities","Priorités"
"Priority","Priorité"
"Priority (before change)","Priorité (avant changement)"
"Priority for new tickets","Priorité pour les nouveaux billets"
"Prolocol","Prolocol"
"Public Reply","Réponse publique"
"Purple","Violet"
"Rate","Taux"
"Red","Red"
"Rejected by","Rejeté par"
"Remove Tags","Enlever les Tags"
"Reopen Ticket","Reouvrir billet"
"Replies","Réponses"
"Reply","Péponse"
"Reports","Rapport"
"Required Fields","Champs exigés"
"Required for customers","Requis pour clients"
"Required for staff","Requis pour personnel"
"Response Rate","Taux de réponse"
"Restore Ticket","Restaurer billet"
"Right","Droite"
"Rule Name","Nom de règle"
"Rules","Règles"
"SSL","SSL"
"Satisfaction Score","Score de satisfaction"
"Save","Sauvegarder"
"Save And Continue Edit","Sauvegarder et continuer l'édition"
"Scope","Portée"
"Search","Recherche"
"Search Knowledge Base Topics first","Sujets de Base de Connaissance de Recherche d'abord"
"See all results","Voir tout les résultats"
"Send All Outgoing emails to Email","Envoyez tous les emails sortants à l'email"
"Send Remind","Envoyer rappel"
"Send Survey Request via Email","Envoyer la demande d'enquête via Email"
"Send To Email","Envoyer à l'Email"
"Send email to all department users","Envoyer l'Email à tout les utilisateurs du département"
"Send email to customer","Envoyer l'Email au client"
"Send email to other email addresses","Envoyer l'Email à d'autres adresses mail"
"Send email to ticket owner","Envoyer l'Email au propriétaire du billet"
"Sender Email","Email d'expéditeur"
"Set Department","Paramétrer département"
"Set Owner","Paramétrer propriétaire"
"Set Owner To","Propriétaire paramétré à"
"Set Priority","Paramétrer priorité"
"Set Priority To","Priorité paramétrée à"
"Set Status","Paramétrer statut"
"Set Status To","Statut paramétré à"
"Settings","Paramètre"
"Show Columns in Ticket Grid","Voir les collones dans le réseau de billet"
"Show Help Desk section in Customer Account","Voir la section Bureau d'aide en compte client"
"Show Ticket ID in the email title","Voir ID de billet dans le titre de l'email"
"Show in contact us form","Voir dans la forme contactez nous"
"Show in create ticket form","Voir dans la forme créer le billet"
"Show value in customer account","Voir la valeur dans compte client"
"Sign staff replies","Signer réponses du personnel"
"Signature","Signature"
"Silver","Argent"
"Solved Tickets %","Billets résolus"
"Solved Tickets Number","Nombre de billets résolu"
"Sort Order","Ordre de tri"
"Spam","Spam"
"Spam Filter Patterns","Modèles de filtre de spam"
"Spam Folder","Dossier de spam"
"Spam Patterns","Modèles de spam"
"Staff","Personnel"
"Status","Statut"
"Status (before change)","Statut (avant changement)"
"Status for new tickets","Statut pour les nouveaux billets"
"Statuses","Statuts"
"Stop Further Rules Processing","Arrêtez davantage de traitement de règles"
"Store","Magasin"
"Store View","Vue de magasin"
"Subject","Sujet"
"Subject Placeholder","Endroit réservé au sujet"
"Subject Title","Titre du sujet"
"Submit","Soiumettre"
"Submit Message","Soumettre message"
"Submit Ticket","Soumettre billet"
"Success","Succès"
"Tab Color","Couleur d'onglet"
"Tab Position","Position d'onglet"
"Tab Title","Titre d'onglet"
"Tags","Tags"
"Teal","Teal"
"Telephone","Téléphone"
"Template","Modèle"
"Template of New Message Email for Customer","Modèle de nouveau message Email pour client"
"Template of New Message Email for Staff","Modèle de nouveau message Email pour personnel"
"Template of New Ticket Email for Customer","Modèle de nouveau billet Email pour client"
"Template of New Ticket Email for Staff","Modèle de nouveau billet Email pour personnel"
"Template of Rule Notification","Modèle de notification de règle"
"Template of Ticket Reminder","Modèle de rappel de billet"
"Text","Texte"
"Thank You","Merci"
"Thank you for participating in our survey!","Merci de votre particiation à notre enquête!"
"Thank you for your feedback!","Merci pour votre commentaire!"
"Ticket History","Historique billet"
"Ticket Information","Information billet"
"Ticket Owner","Propiétaire billet"
"Ticket assigned to staff","Billet assigné au personnel"
"Ticket was changed","Le billet à été changé"
"Ticket was successfuly closed","Le billet à été fermé avec succès"
"Tickets","Billets"
"Tickets Archive","Archives billet"
"Tickets Report","Rapport billet"
"Title","Titre"
"Total Responses Number","Nombre total de réponses"
"Total Tickets Number","Nombre total de bilet total"
"Type","Type"
"Unassigned","Non assigné"
"Unfortunately, I wasn't happy with it at all.","Malheureusement je n'ai pas été content de cela du tout"
"Update Ticket","Mise à jour billet"
"Updated At","Mise à jour à"
"User","Utilisateur"
"User (before change)","Utilisater (avant changement)"
"User Name","Nom d'utilisateur"
"Using Department Name (e.g. Sales)","Utiliser nom de département (par exemple Vente)"
"Using Staff Name (e.g. John Doe)","Utiliser nom de personnel (par exemple John Doe)"
"View Ticket","Billet de vue"
"We found the following topics that might be helpful:","Nous avons trouvé les sujets suivants qui pourraient être utiles :"
"What is your question?","Quelle est votre question ?"
"Yellow","Jaune"
"Yes","Oui"
"You don't have open tickets","Vous n'avez pas de billets ouverts"
"Your Email","Votre Email"
"Your message was successfuly posted","Votre message a été posté avec succès"
"Your ticket was successfuly posted","Votre billet a été posté avec succès"
"comma-separated list","Liste séparé de virgule"
"open page","Page ouverte"
"view","Vue"
