<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsSellerList>
            <version>1.0.0.0</version>
        </VES_VendorsSellerList>
    </modules>
    <frontend>
        <routers>
            <vendorssellerlist>
                <use>standard</use>
                <args>
                    <module>VES_VendorsSellerList</module>
                    <frontName>sellers</frontName>
                </args>
            </vendorssellerlist>
            <vendors>
				<args>
					<modules>
						<vendorssellerlist before="VES_Vendors">VES_VendorsSellerList_Vendor</vendorssellerlist>
					</modules>
				</args>
			</vendors>
			<vendorspage>
				<args>
					<modules>
						<vendorssellerlist before="VES_VendorsPage">VES_VendorsSellerList</vendorssellerlist>
					</modules>
				</args>
			</vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorssellerlist>
                    <file>ves_vendors/sellers.xml</file>
                </vendorssellerlist>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsSellerList>
                    <files>
                        <VES_VendorsSellerList>VES_VendorsSellerList.csv</VES_VendorsSellerList>
                    </files>
                </VES_VendorsSellerList>
            </modules>
        </translate>
    </frontend>
    <admin>
       <routers>
		<adminhtml>
			<args>
				<modules>
					<vendorssellerlist before="Mage_Adminhtml">VES_VendorsSellerList_Adminhtml</vendorssellerlist>
				</modules>
			</args>
		</adminhtml>
       </routers>
   	</admin>
    <adminhtml>
        <translate>
            <modules>
                <VES_VendorsSellerList>
                    <files>
                        <VES_VendorsSellerList>VES_VendorsSellerList.csv</VES_VendorsSellerList>
                    </files>
                </VES_VendorsSellerList>
            </modules>
        </translate>
		<menu>
<!--		    <vendors>
		        <children>
					<menu module="vendorssellerlist">
						<title>Menu</title>
						<sort_order>150</sort_order>               
						<children>
							<category module="vendorsmenu">
								<title>Manager Menus</title>
								<sort_order>0</sort_order>
								<action>adminhtml/vendors_menu_category</action>
							</category>
						</children>
					</menu>
				</children>
			</vendors>-->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<!--<children>
					    <vendors>
					        <children>
								<menu module="vendorsmenu">
									<title>Menu</title>
									<sort_order>100</sort_order>
									<children>
									    <category module="vendorsmenu">
									        <title>Manager Menus</title>
									        <sort_order>0</sort_order>
									        <action>adminhtml/vendors_menu_category</action>
									    </category>
									</children>
								</menu>
							</children>
						</vendors>
					</children>-->
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorssellerlist>
					<file>ves_vendors/sellers.xml</file>
				</vendorssellerlist>
			</updates>
		</layout>
    </adminhtml>  
     
<!--    <vendors>
    	<menu>
    		<menu module="vendorsmenu">
    			<title>Menu</title>
    			<sort_order>100</sort_order>
    			<children>
    				<category module="vendorsmenu">
		    			<title>Manager Menus</title>
		    			<sort_order>0</sort_order>
		    			<action>vendors/menu_category/</action>
		    		</category>
    			</children>
    		</menu>
		</menu>
    </vendors>-->
    
    <global>
        <events>
            <admin_system_config_changed_section_vendors>
                <observers>
                    <vendorssellerlist>
                        <class>vendorssellerlist/observer</class>
                        <method>admin_system_config_changed_section_vendors</method>
                    </vendorssellerlist>
                </observers>
            </admin_system_config_changed_section_vendors>
        </events>
        <models>
            <vendorssellerlist>
                <class>VES_VendorsSellerList_Model</class>
                <resourceModel>vendorssellerlist_mysql4</resourceModel>
            </vendorssellerlist>
            <vendorssellerlist_mysql4>
                <class>VES_VendorsSellerList_Model_Mysql4</class>
                <!--<entities>
                    <category>
                        <table>ves_vendorsmenu_category</table>
                    </category>
                </entities>-->
            </vendorssellerlist_mysql4>
        </models>
        <resources>
            <vendorssellerlist_setup>
                <setup>
                    <module>VES_VendorsSellerList</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorssellerlist_setup>
            <vendorssellerlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorssellerlist_write>
            <vendorssellerlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorssellerlist_read>
        </resources>
        <blocks>
            <vendorssellerlist>
                <class>VES_VendorsSellerList_Block</class>
            </vendorssellerlist>
        </blocks>
        <helpers>
            <vendorssellerlist>
                <class>VES_VendorsSellerList_Helper</class>
            </vendorssellerlist>
        </helpers>
    </global>
    
    <default>
        <vendors>
            <sellers_list>
                <layout>
                    <one_column>1</one_column>
                    <empty>0</empty>
                    <two_columns_left>0</two_columns_left>
                    <two_columns_right>0</two_columns_right>
                    <three_columns>0</three_columns>
                </layout>
                <enabled>1</enabled>
                <grid_per_page_values>10,20,30</grid_per_page_values>
            </sellers_list>
        </vendors>
    </default>
</config>