body{
    background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}
  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
   /* .row.content {height: 1500px}*/
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 763px;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    .customheader{
	text-align: center;
    background-color: #e1dddd;
    padding: 10px 18px 20px 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.editpicdimensions{
	height: 70px;
	width: 70px;
}