<?xml version="1.0"?>
<config>
    <sections>
        <vendors>
            <groups>                
                <quote translate="label comment paypal_title" module="vendors">
                    <label>Quotation</label>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>0</expanded>
                    <frontend_class>complex</frontend_class>
                    <frontend_model>paypal/adminhtml_system_config_fieldset_group</frontend_model>
                    <fields>
                        	<quotation_frontend type="group" translate="label">
                                <label>Quote Frontend</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>10</sort_order>
                                <expanded>1</expanded>
                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
			                        <login_required translate="label">
			                            <label>Login Required</label>
			                            <frontend_type>select</frontend_type>
			                            <source_model>adminhtml/system_config_source_yesno</source_model>
			                            <sort_order>10</sort_order>
			                            <show_in_default>1</show_in_default>
			                            <show_in_website>1</show_in_website>
			                            <show_in_store>0</show_in_store>
			                            <config_path>vendors/quote/frontend_login_required</config_path>
			                            <comment>Require customer login to submit a quote</comment>
			                        </login_required>
                                </fields>
                            </quotation_frontend>
                    		<quotation_account_details type="group" translate="label">
                                <label>Account Details</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>10</sort_order>
                                <expanded>1</expanded>
                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
			                        <email translate="label">
										<label>Email Address</label>
										<frontend_type>label</frontend_type>
										<sort_order>10</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
										<frontend_class>required-entry</frontend_class>
										<config_path>vendors/quote/account_detail_email</config_path>
									</email>
									<firstname translate="label">
										<label>First Name</label>
										<frontend_type>label</frontend_type>
										<sort_order>20</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
										<config_path>vendors/quote/account_detail_firstname</config_path>
									</firstname>
									<lastname translate="label">
										<label>Last Name</label>
										<frontend_type>label</frontend_type>
										<sort_order>30</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
										<config_path>vendors/quote/account_detail_lastname</config_path>
									</lastname>
									<telephone translate="label tooltip">
			                        	<label>Telephone</label>
			                            <frontend_type>select</frontend_type>
			                            <source_model>vendorsquote/source_field_options</source_model>
			                            <sort_order>40</sort_order>
			                            <show_in_default>1</show_in_default>
			                            <show_in_website>1</show_in_website>
			                            <show_in_store>1</show_in_store>
			                            <config_path>vendors/quote/account_detail_telephone</config_path>
			                        </telephone>
			                        <company translate="label tooltip">
			                        	<label>Company</label>
			                            <frontend_type>select</frontend_type>
			                            <source_model>vendorsquote/source_field_options</source_model>
			                            <sort_order>50</sort_order>
			                            <show_in_default>1</show_in_default>
			                            <show_in_website>1</show_in_website>
			                            <show_in_store>1</show_in_store>
			                            <config_path>vendors/quote/account_detail_company</config_path>
			                        </company>
			                        <taxvat translate="label tooltip">
			                        	<label>VAT/Tax Id</label>
			                            <frontend_type>select</frontend_type>
			                            <source_model>vendorsquote/source_field_options</source_model>
			                            <sort_order>60</sort_order>
			                            <show_in_default>1</show_in_default>
			                            <show_in_website>1</show_in_website>
			                            <show_in_store>1</show_in_store>
			                            <config_path>vendors/quote/account_detail_taxvat</config_path>
			                        </taxvat>
                                </fields>
                            </quotation_account_details>
                            <quote_config type="group" translate="label">
                                <label>Quote Configuration</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>20</sort_order>
                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <expanded>1</expanded>
                                <fields>
                                	<quote_config_expiry_time type="group" translate="label">
		                                <label>Expiration Times and Notifications</label>
		                                <frontend_type>text</frontend_type>
		                                <show_in_default>1</show_in_default>
		                                <show_in_website>1</show_in_website>
		                                <sort_order>10</sort_order>
		                                <expanded>1</expanded>
		                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
		                                <fields>
					                        <expiration_time translate="label">
												<label>Default Expiration Time</label>
												<frontend_type>text</frontend_type>
												<sort_order>10</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<frontend_class>required-entry validate-number</frontend_class>
												<config_path>vendors/quote/config_expiration_time</config_path>
												<comment>In days</comment>
												<tooltip><![CDATA[The number of days it takes for a quote proposal to be expired.]]></tooltip>
											</expiration_time>
											<reminder_notice translate="label">
												<label>Default Reminder Notice</label>
												<frontend_type>text</frontend_type>
												<sort_order>20</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<frontend_class>required-entry validate-number</frontend_class>
												<config_path>vendors/quote/config_reminder_time</config_path>
												<comment>In days. Set to "0" to disable this feature</comment>
												<tooltip><![CDATA[This option determines after how many days a reminder will be send for the active quotes.]]></tooltip>
											</reminder_notice>
										</fields>
									</quote_config_expiry_time>
			                        <quote_config_id_format type="group" translate="label">
		                                <label>Quote Id Format</label>
		                                <frontend_type>text</frontend_type>
		                                <show_in_default>1</show_in_default>
		                                <show_in_website>1</show_in_website>
		                                <sort_order>20</sort_order>
		                                <expanded>1</expanded>
		                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
		                                <fields>
					                        <prefix translate="label">
												<label>Quote Prefix</label>
												<frontend_type>text</frontend_type>
												<sort_order>10</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<config_path>vendors/quote/config_quote_prefix</config_path>
												<tooltip><![CDATA[Prefix that is used to numbering your quote.]]></tooltip>
											</prefix>
											<curren_value translate="label">
												<label>Current Numeral Value</label>
												<frontend_type>text</frontend_type>
												<sort_order>20</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>0</show_in_website>
												<show_in_store>0</show_in_store>
												<frontend_class>required-entry validate-number</frontend_class>
												<config_path>vendors/quote/config_quote_current_number</config_path>
												<tooltip><![CDATA[Here you can define the current numeral value. This is automatically set after new quote is created.]]></tooltip>
											</curren_value>
											<increment translate="label">
												<label>Increment</label>
												<frontend_type>text</frontend_type>
												<sort_order>30</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<frontend_class>required-entry validate-number</frontend_class>
												<config_path>vendors/quote/config_quote_increment_number</config_path>
												<tooltip><![CDATA[Here you can set the value with which the numeral value part of the quote number should increment.]]></tooltip>
											</increment>
											<pad_length translate="label">
												<label>Pad Length</label>
												<frontend_type>text</frontend_type>
												<sort_order>40</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<frontend_class>validate-number</frontend_class>
												<config_path>vendors/quote/config_quote_pad_length</config_path>
												<tooltip><![CDATA[Here you can specify the length of the numeral part of the quote number. If this is set 0 or is left empty then it will add leading zero's meaning it will just have the incremented value as numeral part.]]></tooltip>
											</pad_length>
										</fields>
									</quote_config_id_format>
                                </fields>
                            </quote_config>
                            
                            <quote_emails type="group" translate="label">
                                <label>Quote Emails</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>30</sort_order>
                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <expanded>1</expanded>
                                <fields>
                                	<quote_email_sales_representatives type="group" translate="label">
		                                <label>Sales Representatives</label>
		                                <frontend_type>text</frontend_type>
		                                <show_in_default>1</show_in_default>
		                                <show_in_website>1</show_in_website>
		                                <sort_order>10</sort_order>
		                                <expanded>1</expanded>
		                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
		                                <fields>
					                        <email_sender translate="label">
												<label>Email Sender</label>
												<frontend_type>select</frontend_type>
												<sort_order>10</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>adminhtml/system_config_source_email_identity</source_model>
												<config_path>vendors/quote/email_sales_representatives_sender</config_path>
												<tooltip><![CDATA[With this option you can select the sender from which the e-mail will be sent.]]></tooltip>
											</email_sender>
										</fields>
									</quote_email_sales_representatives>
                                	<quote_email_templates type="group" translate="label">
		                                <label>Email Templates</label>
		                                <frontend_type>text</frontend_type>
		                                <show_in_default>1</show_in_default>
		                                <show_in_website>1</show_in_website>
		                                <sort_order>20</sort_order>
		                                <expanded>1</expanded>
		                                <frontend_model>paypal/adminhtml_system_config_fieldset_expanded</frontend_model>
		                                <fields>
					                        <new_request translate="label">
												<label>New Request Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>10</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_new_request</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when a new quote request is submited.]]></tooltip>
											</new_request>
											<new_proposal translate="label">
												<label>New Proposal Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>20</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_new_proposal</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when a vendor submit the proposal.]]></tooltip>
											</new_proposal>
											<request_cancelled translate="label">
												<label>Request Cancelled Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>30</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_request_cancelled</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when the request is cancelled.]]></tooltip>
											</request_cancelled>
											<request_rejected translate="label">
												<label>Request Reject Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>40</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_request_rejected</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when the request is rejected.]]></tooltip>
											</request_rejected>
											<proposal_reminder translate="label">
												<label>Proposal Reminder Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>50</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_proposal_reminder</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when the proposal is reminded.]]></tooltip>
											</proposal_reminder>
											<proposal_expired translate="label">
												<label>Proposal Expired Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>60</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_proposal_expired</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when the proposal is expired.]]></tooltip>
											</proposal_expired>
											<!-- 
											<proposal_accepted>
												<label>Proposal Accepted Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>70</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_proposal_accepted</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when the proposal is accepted.]]></tooltip>
											</proposal_accepted>
											 -->
											<quote_message translate="label">
												<label>CRM Email Template</label>
												<frontend_type>select</frontend_type>
												<sort_order>80</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_quote_message</config_path>
												<tooltip><![CDATA[The e-mail that is sent to customer when vendor send a message.]]></tooltip>
											</quote_message>
											<quote_message_vendor translate="label">
												<label>CRM Email Template for Vendor</label>
												<frontend_type>select</frontend_type>
												<sort_order>90</sort_order>
												<show_in_default>1</show_in_default>
												<show_in_website>1</show_in_website>
												<show_in_store>1</show_in_store>
												<source_model>vendorsquote/source_system_config_source_email_template</source_model>
												<config_path>vendors/quote/email_template_quote_message_vendor</config_path>
												<tooltip><![CDATA[The e-mail that is sent to vendor when customer send a message.]]></tooltip>
											</quote_message_vendor>
										</fields>
									</quote_email_templates>
                                </fields>
                            </quote_emails>
						</fields>
					</quote>
            </groups>
        </vendors>
    </sections>
</config>