<?xml version="1.0"?>
<config>
    <frontend>
        <translate>
            <modules>
                <VES_VendorsFlatrate>
                    <files>
                        <default>ves_vendors/flatrate_shipping.csv</default>
                    </files>
                </VES_VendorsFlatrate>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <vendorsflatrate>
                    <file>ves_vendors/flatrate.xml</file>
                </vendorsflatrate>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsFlatrate>
                    <files>
                        <default>ves_vendors/flatrate_shipping.csv</default>
                    </files>
                </VES_VendorsFlatrate>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <ves_vendorsconfig_form_fieldset_prepare_before>
                <observers>
                    <vendorsflatrate>
                        <type>singleton</type>
                        <class>vendorsflatrate/observer</class>
                        <method>ves_vendorsconfig_form_fieldset_prepare_before</method>
                    </vendorsflatrate>
                </observers>
            </ves_vendorsconfig_form_fieldset_prepare_before>
        </events>
        <models>
            <vendorsflatrate>
                <class>VES_VendorsFlatrate_Model</class>
            </vendorsflatrate>
        </models>
        <blocks>
            <vendorsflatrate>
                <class>VES_VendorsFlatrate_Block</class>
            </vendorsflatrate>
        </blocks>
        <helpers>
            <vendorsflatrate>
                <class>VES_VendorsFlatrate_Helper</class>
            </vendorsflatrate>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <shipping>
                        <renderer>vendorsflatrate/checkout_shipping</renderer>
                    </shipping>
				</totals>
			</quote>
		</sales>
    </global>
    
    <default>
        <carriers>
            <vendor_flatrate>
                <active>1</active>
                <multi_shipping>1</multi_shipping>
                <title>Vendor Flat Rate</title>
                <name>Flat Rate</name>
                <model>vendorsflatrate/carrier_community</model>
            </vendor_flatrate>
        </carriers>
    </default>
</config>