<?xml version="1.0"?>
<config>
	<modules>
		<Ves_Tabs>
			<version>1.1.0</version>
		</Ves_Tabs>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Ves_Tabs>
					<files>
						<default>Ves_Tabs.csv</default>
					</files>
				</Ves_Tabs>
			</modules>
		</translate>
		<layout>
			<updates>
				<tabs module="ves_tabs">
					<file>ves_tabs.xml</file>
				</tabs>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<ves_tabs>
				<class>Ves_Tabs_Block</class>
			</ves_tabs>
		</blocks>
		<models>
			<ves_tabs>
				<class>Ves_Tabs_Model</class>
				<resourceModel>ves_tabs_mysql4</resourceModel>
			</ves_tabs>
		</models>
		<helpers>
			<ves_tabs>
				<class>Ves_Tabs_Helper</class>
			</ves_tabs>
		</helpers>
		<resources>
			<ves_tabs_setup>
				<setup>
					<module>Ves_Tabs</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ves_tabs_setup>
			<ves_tabs_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ves_tabs_write>
			<ves_tabs_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ves_tabs_read>
		</resources>
	</global>
	<events>
		<catalog_product_save_before>
			<observers>
				<ves_tabs_product_changes>
					<type>singleton</type>
					<class>Ves_Tabs_Model_Product_Changes</class>
					<method>detectProductChanges</method>
				</ves_tabs_product_changes>
			</observers>
		</catalog_product_save_before>
		<catalog_product_attribute_update_before>
			<observers>
				<ves_tabs_product_attribute_changes>
					<type>singleton</type>
					<class>Ves_Tabs_Model_Product_Changes</class>
					<method>detectProductAttributeChanges</method>
				</ves_tabs_product_attribute_changes>
			</observers>
		</catalog_product_attribute_update_before>
	</events>
	<admin>
		<routers>
			<tabs>
				<use>admin</use>
				<args>
					<module>Ves_Tabs</module>
					<frontName>Tabs</frontName>
				</args>
			</tabs>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Ves_Tabs>
					<files>
						<default>Ves_Tabs.csv</default>
					</files>
				</Ves_Tabs>
			</modules>
		</translate>
		<layout>
			<updates>
				<tabs module="ves_tabs">
					<file>ves_tabs.xml</file>
				</tabs>
			</updates>
		</layout>
	</adminhtml>

	<default>
		<ves_tabs>
			<ves_tabs>
				<show>1</show>
				<title>Ves Tabs</title>
				<cmsblock>0</cmsblock>
				<pretext><![CDATA[ Lorem ipsum dolor sit amet consectetur adipiscing elit non tempor dignissim, velit leo  ante condimentum lorem odio cipit ultrices elit]]></pretext>
				<ajax_type>default</ajax_type>
				<desc_maxchar>100</desc_maxchar>
				<itemsrow>4</itemsrow>
				<itemspage>4</itemspage>
				<image_width>300</image_width>
				<image_height>300</image_height>
			</ves_tabs>
			<catalog_source_setting>
				<source_products_mode>latest</source_products_mode>
				<limit_item>12</limit_item>
				<catsid>2</catsid>
				<show_tab_icon_background>1:blue;2:yellow;3:#FF0000
					;4:red;5:pink</show_tab_icon_background>
					<show_tab_title>1</show_tab_title>
					<show_tab_icon>0</show_tab_icon>
					<icon_width>50</icon_width>
					<icon_height>50</icon_height>
				</catalog_source_setting>
				<append_block_setting>
					<show_number_tab>3</show_number_tab>
					<source_type>news</source_type>
					<source_limit_item>3</source_limit_item>
					<position_childblock>pull-right</position_childblock>
					<position_staticblock>pull-right</position_staticblock>
					<enable_tab>0</enable_tab>
					<source_limit_item>3</source_limit_item>
					<position_staticblock>alignleft</position_staticblock>
					<thumbwidth_childblock>150</thumbwidth_childblock>
					<thumbheight_childblock>130</thumbheight_childblock>
					<width_child_block>3</width_child_block>
					<number_subcat>5</number_subcat>
					<enable_tab>0</enable_tab>
					<newsarrival_label>News Arrival</newsarrival_label>
					<latest_label>Latest</latest_label>
					<bestseller_label>Best Seller</bestseller_label>
					<mostviewed_label>Most Viewed</mostviewed_label>
					<special_label>Special</special_label>
					<featured_label>Featured</featured_label>
				</append_block_setting>
				<main_slider>
					<show_desc>1</show_desc>
					<show_price>1</show_price>
					<show_title>1</show_title>
					<show_img>1</show_img>
					<show_wc>1</show_wc>
					<show_btn>1</show_btn>
					<enable_quickview>1</enable_quickview>
					<popup_quickview_width>60%</popup_quickview_width>
					<popup_quickview_height>80%</popup_quickview_height>
					<enable_swap>1</enable_swap>
					<swap_image_number>2</swap_image_number>
					<enable_sale_icon>1</enable_sale_icon>
					<enable_new_icon>1</enable_new_icon>
				</main_slider>

			</ves_tabs>
		</default>
	</config>