<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsVacation>
            <version>1.0.0</version>
        </VES_VendorsVacation>
    </modules>
    <frontend>
        <routers>
            <vendorsvacation>
                <use>standard</use>
                <args>
                    <module>VES_VendorsVacation</module>
                    <frontName>vendorsvacation</frontName>
                </args>
            </vendorsvacation>
            <vendors>
                <args>
                    <modules>
                        <vendorsvacation before="VES_Vendors">VES_VendorsVacation_Vendor</vendorsvacation>
                    </modules>
                </args>
            </vendors>
            <vendorspage>
                <args>
                    <modules>
                        <vendorsvacation before="VES_VendorsPage">VES_VendorsVacation</vendorsvacation>
                    </modules>
                </args>
            </vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorsvacation>
                    <file>ves_vendors/vacation.xml</file>
                </vendorsvacation>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsVacation>
                    <files>
                        <VES_VendorsVacation>ves_vendors/vacation.csv</VES_VendorsVacation>
                    </files>
                </VES_VendorsVacation>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendorsvacation before="Mage_Adminhtml">VES_VendorsVacation_Adminhtml</vendorsvacation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <VES_VendorsVacation>
                    <files>
                        <VES_VendorsVacation>ves_vendors/vacation.csv</VES_VendorsVacation>
                    </files>
                </VES_VendorsVacation>
            </modules>
        </translate>
        <menu>
            <vendors>
                <children>
                    <vacation module="vendorsvacation">
                        <title>Vacation</title>
                        <sort_order>300</sort_order>
                        <action>adminhtml/vendors_vacation</action>
                    </vacation>
                </children>
            </vendors>
        </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <vendors>
                            <children>
                                <vacation module="vendorsvacation">
                                    <title>Vacation</title>
                                    <sort_order>300</sort_order>
                                    <action>adminhtml/vendors_vacation</action>
                                </vacation>
                            </children>
                        </vendors>
                    </children>
                </admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorsvacation>
					<file>ves_vendors/vacation.xml</file>
				</vendorsvacation>
			</updates>
		</layout>
    </adminhtml>


    <global>
        <events>
            <ves_vendorsconfig_form_field_prepare_before>
                <observers>
                    <vendorsvacation>
                        <class>vendorsvacation/observer</class>
                        <method>ves_vendorsconfig_form_field_prepare_before</method>
                    </vendorsvacation>
                </observers>
            </ves_vendorsconfig_form_field_prepare_before>
            <ves_vendorsproduct_product_list_prepare_after>
                <observers>
                    <vendorsvacation>
                        <class>vendorsvacation/observer</class>
                        <method>ves_vendorsproduct_product_list_prepare_after</method>
                    </vendorsvacation>
                </observers>
            </ves_vendorsproduct_product_list_prepare_after>
            <vendor_homepage_prepare_layout>
                <observers>
                    <vendorsvacation>
                        <type>model</type>
                        <class>vendorsvacation/observer</class>
                        <method>vendor_homepage_prepare_layout</method>
                    </vendorsvacation>
                </observers>
            </vendor_homepage_prepare_layout>
        </events>

        <models>
            <vendorsvacation>
                <class>VES_VendorsVacation_Model</class>
                <resourceModel>vendorsvacation_mysql4</resourceModel>
            </vendorsvacation>
            <vendorsvacation_mysql4>
                <class>VES_VendorsVacation_Model_Mysql4</class>
                <entities>
                    <vacation>
                        <table>ves_vendorsvacation_vacation</table>
                    </vacation>
                </entities>
            </vendorsvacation_mysql4>
        </models>
        <resources>
            <vendorsvacation_setup>
                <setup>
                    <module>VES_VendorsVacation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorsvacation_setup>
            <vendorsvacation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorsvacation_write>
            <vendorsvacation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorsvacation_read>
        </resources>
        <blocks>
            <vendorsvacation>
                <class>VES_VendorsVacation_Block</class>
            </vendorsvacation>
        </blocks>
        <helpers>
            <vendorsvacation>
                <class>VES_VendorsVacation_Helper</class>
            </vendorsvacation>
        </helpers>
    </global>

    <default>
        <vendors>
            <vacation>
                <style><![CDATA[<p style="color: red; font-weight: bold;">$vacation</p>]]></style>
            </vacation>
        </vendors>
    </default>
</config>