<?xml version="1.0"?>
<config>
    <modules>
        <Ves_FAQ>
            <version>1.0.0</version>
        </Ves_FAQ>
    </modules>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Ves_FAQ</module>
                    <frontName>venusfaq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <ves_faq>
                    <file>ves_faq.xml</file>
                </ves_faq>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ves_FAQ>
                    <files>
                        <default>Ves_FAQ.csv</default>
                    </files>
                </Ves_FAQ>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <faqadmin>
                <use>admin</use>
                <args>
                    <module>Ves_FAQ</module>
                    <frontName>faqadmin</frontName>
                </args>
            </faqadmin>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_FAQ after="Mage_Adminhtml">Ves_FAQ_Adminhtml</Ves_FAQ>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ves_faq>
                    <file>ves_faq.xml</file>
                </ves_faq>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ves_FAQ>
                    <files>
                        <default>Ves_FAQ.csv</default>
                    </files>
                </Ves_FAQ>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ves_faq_observer>
                        <type>singleton</type>
                        <class>Ves_FAQ_Model_Observer</class>
                        <method>initControllerRouters</method>
                    </ves_faq_observer>
                </observers>
            </controller_front_init_routers>
        </events>
        <models>
            <ves_faq>
                <class>Ves_FAQ_Model</class>
                <resourceModel>ves_faq_mysql4</resourceModel>
            </ves_faq>
            <ves_faq_mysql4>
                <class>Ves_FAQ_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>ves_faq_category</table>
                    </category>
                    <category_store>
                        <table>ves_faq_category_store</table>
                    </category_store>
                    <answer>
                        <table>ves_faq_answer</table>
                    </answer>
                    <answer_store>
                        <table>ves_faq_answer_store</table>
                    </answer_store>
                    <question>
                        <table>ves_faq_question</table>
                    </question>
                    <question_store>
                        <table>ves_faq_question_store</table>
                    </question_store>
                </entities>
            </ves_faq_mysql4>
        </models>
        <resources>
            <ves_faq_setup>
                <setup>
                    <module>Ves_FAQ</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_faq_setup>
            <ves_faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_faq_write>
            <ves_faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_faq_read>
        </resources>
        <template>
            <email>
                <ves_faq_email_email_template translate="label" module="ves_faq">
                    <label>Ves FAQ: Submit A Question</label>
                    <file>ves_question_form.html</file>
                    <type>html</type>
                </ves_faq_email_email_template>
            </email>
        </template>
        <blocks>
            <ves_faq>
                <class>Ves_FAQ_Block</class>
            </ves_faq>
        </blocks>
        <helpers>
            <ves_faq>
                <class>Ves_FAQ_Helper</class>
            </ves_faq>
        </helpers>
    </global>

    <default>
        <ves_faq>
            <general_setting>
                <enable>1</enable>
                <enable_colorbox>1</enable_colorbox>
                <enable_bootstrap>0</enable_bootstrap>
                <route>venusfaq</route>
            </general_setting>
            <faq_page>
                <mode_list>mode4</mode_list>
                <questions_count>5</questions_count>
                <show_seeall_button>1</show_seeall_button>
                <cols>3</cols>
                <show_author>1</show_author>
                <show_author_date>1</show_author_date>
                <show_search_box>1</show_search_box>
                <show_pager>1</show_pager>
                <list_per_page_values>5,10,15,20</list_per_page_values>
                <page_title>Venus - FAQ Extension</page_title>
                <meta_keywords>Venus - FAQ Extension</meta_keywords>
                <meta_description>Venus - FAQ Extension</meta_description>
                <show_category>1</show_category>
                <category_block_title>Category FAQ</category_block_title>
            </faq_page>
            <recaptcha>
                <enabled>0</enabled>
                <public_key>6LdXNAMTAAAAAKjLq-srgGc7dPIFi6S0EggiL39G</public_key>
                <private_key>6LdXNAMTAAAAAC5lRyp11CBf28-wTxb3Z77rGZXw</private_key>
                <theme>clean</theme>
                <lang>en</lang>
            </recaptcha>
            <product_page>
                <enable_faq>1</enable_faq>
                <show_all_faq>0</show_all_faq>
                <show_pager>1</show_pager>
                <show_category_info>1</show_category_info>
                <show_author>1</show_author>
                <show_author_date>1</show_author_date>
                <show_category_filter>0</show_category_filter>
                <list_per_page_values>5,10,15,20</list_per_page_values>
                <questions_count>5</questions_count>
                <status_question>1</status_question>
            </product_page>
            <email>
                <enabled>1</enabled>
                <sender_name>VenusTheme</sender_name>
                <sender_email>venustheme@gmail.com</sender_email>
            </email>
        </ves_faq>
    </default>
</config>