<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Kb>
            <version>1.0.0</version>
        </Mirasvit_Kb>
    </modules>
    <global>
        <blocks>
            <kb>
                <class>Mirasvit_Kb_Block</class>
            </kb>
        </blocks>
        <models>
            <kb>
                <class>Mirasvit_Kb_Model</class>
                <resourceModel>kb_resource</resourceModel>
            </kb>
            <kb_resource>
                <class>Mirasvit_Kb_Model_Resource</class>
                <entities>
                    <article>
                        <table>m_kb_article</table>
                    </article>
                    <article_store>
                        <table>m_kb_article_store</table>
                    </article_store>
                    <category>
                        <table>m_kb_category</table>
                    </category>
                    <article_category>
                        <table>m_kb_article_category</table>
                    </article_category>
                    <attachment>
                        <table>m_kb_attachment</table>
                    </attachment>
                    <tag>
                        <table>m_kb_tag</table>
                    </tag>
                    <article_tag>
                        <table>m_kb_article_tag</table>
                    </article_tag>
                </entities>
            </kb_resource>
        </models>
        <helpers>
            <kb>
                <class>Mirasvit_Kb_Helper</class>
            </kb>
        </helpers>
        <resources>
            <mst_kb_setup>
                <setup>
                    <module>Mirasvit_Kb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_kb_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <kb>
                        <type>singleton</type>
                        <class>Mirasvit_Kb_Model_Observer</class>
                        <method>registerUrlRewrite</method>
                    </kb>
                </observers>
            </controller_front_init_before>
            <controller_front_init_routers>
                <observers>
                    <kb>
                        <type>singleton</type>
                        <class>Mirasvit_Kb_Model_Observer</class>
                        <method>registerUrlRewrite</method>
                    </kb>
                </observers>
            </controller_front_init_routers>
        </events>
        <template>
            <email>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <kb>
                    <file>mst_kb.xml</file>
                </kb>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Kb>
                    <files>
                        <default>Mirasvit_Kb.csv</default>
                    </files>
                </Mirasvit_Kb>
            </modules>
        </translate>
        <routers>
            <kb>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Kb</module>
                    <frontName>kb</frontName>
                </args>
            </kb>
        </routers>
    </frontend>
    <admin>
        <routers>
            <kbadmin>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Kb</module>
                    <frontName>kbadmin</frontName>
                </args>
            </kbadmin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Kb>
                    <files>
                        <default>Mirasvit_Kb.csv</default>
                    </files>
                </Mirasvit_Kb>
            </modules>
        </translate>
        <layout>
            <updates>
                <kb>
                    <file>mst_kb.xml</file>
                </kb>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <kb>
            <general>
                <base_url>knowledge-base</base_url>
                <is_rating_enabled>true</is_rating_enabled>
                <is_url_rewrite_enabled>true</is_url_rewrite_enabled>
            </general>
        </kb>
    </default>
</config>