<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendors>
                <args>
                    <modules>
                        <vendorscategory before="VES_Vendors">VES_VendorsCategory_Vendor</vendorscategory>
                    </modules>
                </args>
            </vendors>
            <vendorspage>
                <args>
                    <modules>
                        <vendorscategory before="VES_VendorsPage">VES_VendorsCategory</vendorscategory>
                    </modules>
                </args>
            </vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorscategory>
                    <file>ves_vendors/category.xml</file>
                </vendorscategory>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsCategory>
                    <files>
                        <default>ves_vendors/category.csv</default>
                    </files>
                </VES_VendorsCategory>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <vendorscategory>
                    <file>ves_vendors/category.xml</file>
                </vendorscategory>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsCategory>
                    <files>
                        <default>ves_vendors/category.csv</default>
                    </files>
                </VES_VendorsCategory>
            </modules>
        </translate>
    </adminhtml>
    <vendors>
        <menu>
            <catalog>
                <children>
                    <category>
                        <title>Manage Categories</title>
                        <sort_order>20</sort_order>
                        <action>vendors/catalog_category/</action>
                    </category>
                </children>
            </catalog>
        </menu>
        <!-- Add  Frontend App Type-->
        <ves_frontend_app>
            <category_navigation module="vendorscms">
                <title>Category Navigation</title>
                <class>vendorscategory/app_navigation</class>
            </category_navigation>
        </ves_frontend_app>
        <navigation_templates>
            <simple_vertical module="vendorscategory">
                <title>Simple Vertical</title>
                <template>ves_vendorscategory/page/simple_vertical_nav.phtml</template>
            </simple_vertical>
            <horizontal_menu module="vendorscategory">
                <title>Horizontal Menu</title>
                <template>ves_vendorscategory/page/horizontal_menu.phtml</template>
            </horizontal_menu>
            <vertical_menu module="vendorscategory">
                <title>Vertical Menu</title>
                <template>ves_vendorscategory/page/vertical_menu.phtml</template>
            </vertical_menu>
        </navigation_templates>
    	
        <group_options>
            <category module="vendorscategory">
                <title>Category</title>
                <sort_order>40</sort_order>
                <fields>
                    <enabled>
                        <label>Enable Category Feature</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                    </enabled>
                </fields>
            </category>
        </group_options>
    </vendors> 
    <global>
        <app_page_groups>
            <category module="vendorscategory">
                <title>Categories</title>
                <class>vendorscategory/app_page_group_category</class>
                <sort_order>10</sort_order>
            </category>
        </app_page_groups>
        <index>
            <indexer>		
                <vendor_catalog_indexer>		
                    <model>vendorscategory/indexer</model>		
                    <depends>		
                        <catalog_url />		
                    </depends>		
                </vendor_catalog_indexer>		
            </indexer>
        </index>
		
        <events>
            <ves_vendorscms_cms_app_add_tab_category_navigation>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>ves_vendorscms_cms_app_add_tab_category_navigation</method>
                    </vendorscategory>
                </observers>
            </ves_vendorscms_cms_app_add_tab_category_navigation>
            <vendorscms_app_save_after>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>vendorscms_app_save_after</method>
                    </vendorscategory>
                </observers>
            </vendorscms_app_save_after>
            <ves_vendorsproduct_product_edit_tabs_prepare_after>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>ves_vendorsproduct_product_edit_tabs_prepare_after</method>
                    </vendorscategory>
                </observers>
            </ves_vendorsproduct_product_edit_tabs_prepare_after>
            <ves_vendorsproduct_prepare_form>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>ves_vendorsproduct_prepare_form</method>
                    </vendorscategory>
                </observers>
            </ves_vendorsproduct_prepare_form>
            <ves_vendorsproduct_before_save>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>ves_vendorsproduct_before_save</method>
                    </vendorscategory>
                </observers>
            </ves_vendorsproduct_before_save>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>adminhtml_catalog_product_edit_prepare_form</method>
                    </vendorscategory>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <admin_system_config_changed_section_vendors>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>admin_system_config_changed_section_vendors</method>
                    </vendorscategory>
                </observers>
            </admin_system_config_changed_section_vendors>
            
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <vendorscategory>
                        <type>singleton</type>
                        <class>vendorscategory/observer</class>
                        <method>controller_action_predispatch_adminhtml_system_config_edit</method>
                    </vendorscategory>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            
            <!-- Check if vendor has permission to see category menu. -->
            <ves_vendor_menu_check_acl>
                <observers>
                    <vendorscategory>
                        <class>vendorscategory/observer</class>
                        <method>ves_vendor_menu_check_acl</method>
                    </vendorscategory>
                </observers>
            </ves_vendor_menu_check_acl>
        </events>

        <models>
            <vendorscategory>
                <class>VES_VendorsCategory_Model</class>
                <resourceModel>vendorscategory_mysql4</resourceModel>
            </vendorscategory>
            <vendorscategory_mysql4>
                <class>VES_VendorsCategory_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>ves_vendor_catalog_category</table>
                    </category>
                </entities>
            </vendorscategory_mysql4>
        </models>

        <resources>
            <vendorscategory_setup>
                <setup>
                    <module>VES_VendorsCategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorscategory_setup>
            <vendorscategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorscategory_write>
            <vendorscategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorscategory_read>
        </resources>

        <blocks>
            <vendorscategory>
                <class>VES_VendorsCategory_Block</class>
            </vendorscategory>
        </blocks>
        <helpers>
            <vendorscategory>
                <class>VES_VendorsCategory_Helper</class>
            </vendorscategory>
        </helpers>
    </global>
</config>