<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<ves translate="label" module="ves_priceslider">
			<label>Venus Theme</label>
			<sort_order>211</sort_order>
		</ves>
	</tabs>
	<sections>
		<ves_priceslider>
			<label>Ves Priceslider</label>
			<tab>ves</tab>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<priceslider_setting translate="label">
					<label>General Setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<last_update translate="label">
							<label>Current Update Time</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_priceslider/system_config_form_field_notification</frontend_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</last_update> 
						<show translate="label" module="core">
							<label>Enabled</label>
							<sort_order>10</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show>          
					</fields>
				</priceslider_setting>

				<ves_priceslider_conf translate="label">
          <label>Price Slider Configuration</label>
          <frontend_type>text</frontend_type>
          <sort_order>2000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>

            <wrapper_selector>
              <label>Main Wrapper Selector</label>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Input wrapper css selector (#page or .page or any css selector in your theme)</comment>
            </wrapper_selector>
            <timeout>
              <label>Timeout</label>
              <frontend_type>text</frontend_type>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Set this in milliseconds. It refers to the time to await for user's action on the other handle after changing the first. if the user does not change the other range within specified time, the selected settings will be applied.</comment>
            </timeout>
           
            <amount_style>
              <label>Amount style</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>120</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>This applies to the price that appears above slider.</comment>
            </amount_style>
            <textbox>
              <label>Use textbox for amount?</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>130</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Set it to Yes for applying textbox for amount, NO will use the labels for amount</comment>
            </textbox>
            <textBoxCss>
              <label>Amount text-box style</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>140</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>This applies to the text boxes for amount.</comment>
            </textBoxCss>
            <goBtnText>
              <label>Name for your GO button .</label> 
              <frontend_type>text</frontend_type>
              <sort_order>141</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>This applies to the Go button for amount. By Default nameis "Go"</comment>
            </goBtnText>
            <goBtnCss>
              <label>Style your GO button here.</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>142</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>This applies to the Go button for amount.</comment>
            </goBtnCss>
          </fields>
        </ves_priceslider_conf>

        <ajax_conf translate="label">
          <label>AJAX Configuration</label>
          <frontend_type>text</frontend_type>
          <sort_order>3000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enable_priceslider>
              <label>Enable Price Slider?</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>0</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enable price slider or not</comment>
            </enable_priceslider>
            <range_slider_skin translate="label">
                <label>Price Slider Skin</label>
                <frontend_type>select</frontend_type>
                <source_model>ves_priceslider/system_config_source_ListSkin</source_model>
                <sort_order>5</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <depends>
                    <enable_priceslider>1</enable_priceslider>
                </depends>
            </range_slider_skin>

            <layered>
              <label>Enable AJAX for layered navigation?</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Set it to Yes for applying AJAX on layered navigation, NO will remove AJAX</comment>
            </layered>
            <slider>
              <label>Enable AJAX for Price Slider?</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Set it to Yes for applying AJAX on layered navigation, NO will remove AJAX</comment>
            </slider>

            <toolbar>
              <label>Enable AJAX for product Toolbar?</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Set it to Yes for applying AJAX on entire toolbar , NO will remove AJAX</comment>
            </toolbar>

            <afterAjax>
              <label>After Ajax Call Back JavaScript</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>18</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Callback Javascript after AJAX call for all the above entities.</comment>
              <tooltip>This JS will be called after the ajax request is completed.</tooltip>
            </afterAjax>

            <overlay_color>
              <label>Ajax Overlay color</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Color for the AJAX Overlay</comment>
            </overlay_color>
            <overlay_opacity>
              <label>Ajax Overlay opacity</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Opacity for the AJAX Overlay</comment>
            </overlay_opacity>

            <loading_image>
              <label>Loading Image</label>
              <frontend_type>image</frontend_type>
              <backend_model>adminhtml/system_config_backend_image</backend_model>
              <upload_dir config="system/filesystem/media" scope_info="1">ves_priceslider</upload_dir>
              <!-- would upload into media/uploaddir -->
              <base_url type="media" scope_info="1">ves_priceslider</base_url>
              <!-- same as previous line -->
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Image to show while the results are loading</comment>
            </loading_image>
            <loading_text>
              <label>Results Loading Text</label>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Text to display when the results are loading via AJAX</comment>
            </loading_text>
            <loading_text_color>
              <label>Results Loading Text Color</label>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Color for text to display when the results are loading via AJAX</comment>
            </loading_text_color>
          </fields>
        </ajax_conf>
        <!-- Information -->
        <advanded_parameter>
          <label>Information - Support</label>
          <frontend_type>text</frontend_type>
          <sort_order>6101</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields> 
            <module_information translate="label">
              <label>Set Module Visable On Pages, Position</label>
              <frontend_type>label</frontend_type>
              <frontend_model>ves_priceslider/system_config_form_field_information</frontend_model>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
            </module_information>                        
          </fields>
        </advanded_parameter>
      </groups>
    </ves_priceslider>
  </sections>
</config>