<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsRelatedCustomerAccount>
            <version>1.0.0.0</version>
        </VES_VendorsRelatedCustomerAccount>
    </modules>
    <frontend>
        <routers>
            <customer>
				<args>
					<modules>
						<relatedcustomer before="Mage_Customer">VES_VendorsRelatedCustomerAccount</relatedcustomer>
					</modules>
				</args>
			</customer>
        </routers>
        <layout>
            <updates>
                <relatedcustomer>
                    <file>ves_vendors/relatedcustomer.xml</file>
                </relatedcustomer>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsRelatedCustomerAccount>
                    <files>
                        <default>ves_vendors/relatedcustomer.csv</default>
                    </files>
                </VES_VendorsRelatedCustomerAccount>
            </modules>
        </translate>
    </frontend>
    <admin>
    	<routers>
			<adminhtml>
				<args>
					<modules>
						<relatedcustomer before="Mage_Adminhtml">VES_VendorsRelatedCustomerAccount_Adminhtml</relatedcustomer>
					</modules>
				</args>
			</adminhtml>
       	</routers>
   	</admin>
	<adminhtml>
		<layout>
			<updates>
				<relatedcustomer>
					<file>ves_vendors/relatedcustomer.xml</file>
				</relatedcustomer>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsRelatedCustomerAccount>
                    <files>
                        <default>ves_vendors/relatedcustomer.csv</default>
                    </files>
                </VES_VendorsRelatedCustomerAccount>
            </modules>
        </translate>
	</adminhtml>

    <global>
    	<events>
	         <vendors_controller_pre_dispatch_before>
	         	<observers>
                    <relatedcustomer>
                        <type>singleton</type>
                        <class>relatedcustomer/observer</class>
                        <method>vendors_controller_pre_dispatch_before</method>
                    </relatedcustomer>
                </observers>
	         </vendors_controller_pre_dispatch_before>
	         
	         <controller_action_predispatch_customer_account_createpost>
	         	<observers>
                    <relatedcustomer>
                        <type>singleton</type>
                        <class>relatedcustomer/observer</class>
                        <method>controller_action_predispatch_customer_account_createpost</method>
                    </relatedcustomer>
                </observers>
	         </controller_action_predispatch_customer_account_createpost>
	         
	         <customer_save_after>
	         	<observers>
                    <relatedcustomer>
                        <type>singleton</type>
                        <class>relatedcustomer/observer</class>
                        <method>customer_save_after</method>
                    </relatedcustomer>
                </observers>
	         </customer_save_after>
	         
	         <controller_action_predispatch_customer_account_logout>
	         	<observers>
                    <relatedcustomer>
                        <type>singleton</type>
                        <class>relatedcustomer/observer</class>
                        <method>controller_action_predispatch_customer_account_logout</method>
                    </relatedcustomer>
                </observers>
	         </controller_action_predispatch_customer_account_logout>
	         
	         <controller_action_predispatch_customer>
	         	<observers>
                    <relatedcustomer>
                        <type>singleton</type>
                        <class>relatedcustomer/observer</class>
                        <method>controller_action_predispatch_customer</method>
                    </relatedcustomer>
                </observers>
	         </controller_action_predispatch_customer>
    	</events>

        <models>
             <relatedcustomer>
                <class>VES_VendorsRelatedCustomerAccount_Model</class>
            </relatedcustomer>
        </models>

        <resources>
	        <relatedcustomer_setup>
	            <setup>
	                <module>VES_VendorsRelatedCustomerAccount</module>
	                <class>VES_VendorsRelatedCustomerAccount_Model_Resource_Setup</class>
	            </setup>
	        </relatedcustomer_setup>
	    </resources>

        <blocks>
            <relatedcustomer>
                <class>VES_VendorsRelatedCustomerAccount_Block</class>
            </relatedcustomer>
        </blocks>
        <helpers>
            <relatedcustomer>
                <class>VES_VendorsRelatedCustomerAccount_Helper</class>
            </relatedcustomer>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<create_account>
    			<replace_customer_register_frm>1</replace_customer_register_frm>
    			<vendor_auto_login>1</vendor_auto_login>
    		</create_account>
    	</vendors>
    </default>
</config>