<?xml version="1.0"?>
<config>
    <modules>
        <Mish_Blueexpress>
            <version>0.1.0</version>
        </Mish_Blueexpress>
    </modules>
    <frontend>
        <routers>
            <blueexpress>
                <use>standard</use>
                <args>
                    <module>Mish_Blueexpress</module>
                    <frontName>blueexpress</frontName>
                </args>
            </blueexpress>
        </routers>
        <layout>
            <updates>
                <blueexpress>
                    <file>blueexpress.xml</file>
                </blueexpress>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<blueexpress>
				<use>admin</use>
				<args>
					<module>Mish_Blueexpress</module>
					<frontName>blueexpress</frontName>
				</args>
			</blueexpress>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<blueexpress module="blueexpress">
				<title>Blueexpress</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="blueexpress">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>blueexpress/adminhtml_blueexpress</action>
					</items>
				</children>
			</blueexpress>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mish_Blueexpress>
							<title>Blueexpress Module</title>
							<sort_order>10</sort_order>
						</Mish_Blueexpress>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<blueexpress>
					<file>blueexpress.xml</file>
				</blueexpress>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <blueexpress>
                <class>Mish_Blueexpress_Model</class>
                <resourceModel>blueexpress_mysql4</resourceModel>
            </blueexpress>
            <blueexpressmaintable>
                <class>Mish_Blueexpress_Model</class>
                <resourceModel>blueexpress_mysql4</resourceModel>
            </blueexpressmaintable>
            <blueexpress_mysql4>
                <class>Mish_Blueexpress_Model_Mysql4</class>
                <entities>
                    <blueexpress>
                        <table>blueexpress</table>
                    </blueexpress>
                     <blueexpressmaintable>
                        <table>blueexpressmaintable</table>
                    </blueexpressmaintable>
                </entities>
            </blueexpress_mysql4>
        </models>
        <resources>
            <blueexpress_setup>
                <setup>
                    <module>Mish_Blueexpress</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blueexpress_setup>
            <blueexpress_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blueexpress_write>
            <blueexpress_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blueexpress_read>
        </resources>
        <blocks>
            <blueexpress>
                <class>Mish_Blueexpress_Block</class>
            </blueexpress>
        </blocks>
        <helpers>
            <blueexpress>
                <class>Mish_Blueexpress_Helper</class>
            </blueexpress>
        </helpers>
    </global>
     <default>
        <carriers>
           <blueexpress>
                <active>1</active>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <model>blueexpress/carrier_shippingblueexpress</model>
                <name>Blueexpress</name>
                <price>10.00</price>
                <title>BlueExpress Shipping Method</title>
          </blueexpress>
        </carriers>
    </default>
</config>