<?xml version="1.0"?>

<config>     
 
	<modules>
		<Cartin24_Cmsimport>
			<version>1.0.0</version>
		</Cartin24_Cmsimport>
	</modules>
	<admin>
      <routers>
	  <cmsimport>
		<use>admin</use>
		  <args>
			<module>Cartin24_Cmsimport</module>
			<frontName>cmsimport</frontName>
		  </args>
	 </cmsimport>
    </routers>
    </admin>
   <global>
	   
	   <helpers>
			<cmsimport>
                <class>Cartin24_Cmsimport_Helper</class>
             </cmsimport>
		</helpers>
		  <models>
	        <cmsimport>
                <class>Cartin24_Cmsimport_Model</class>
            </cmsimport>
        </models>
		 <blocks>
	    <adminhtml>
                <rewrite>
					<cms_page>Cartin24_Cmsimport_Block_Adminhtml_Cms_Page</cms_page>                  
                    <cms_page_grid>Cartin24_Cmsimport_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>                  
                    <cms_block>Cartin24_Cmsimport_Block_Adminhtml_Cms_Block</cms_block>                    
                    <cms_block_grid>Cartin24_Cmsimport_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>  
                </rewrite>
            </adminhtml>
            <cmsimport>
                <class>Cartin24_Cmsimport_Block</class>
            </cmsimport>
        </blocks>
      
     </global> 
     
 
	
</config>
