<?xml version="1.0"?>
<config>
   	<frontend>
        <routers>
            <vendors>
				<args>
					<modules>
						<selectandsell before="VES_Vendors">VES_VendorsSelectAndSell</selectandsell>
					</modules>
				</args>
			</vendors>
        </routers>
        <layout>
            <updates>
                <selectandsell>
                    <file>ves_vendors/selectandsell.xml</file>
                </selectandsell>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsSelectAndSell>
                    <files>
                        <default>ves_vendors/selectandsell.csv</default>
                    </files>
                </VES_VendorsSelectAndSell>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<selectandsell>
					<file>ves_vendors/selectandsell.xml</file>
				</selectandsell>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsSelectAndSell>
                    <files>
                        <default>ves_vendors/selectandsell.csv</default>
                    </files>
                </VES_VendorsSelectAndSell>
            </modules>
        </translate>
    </adminhtml>
    <vendors>
        <menu>
            <catalog>
                <children>
                    <sell>
                        <title>Select and Sell</title>
                        <sort_order>30</sort_order>
                        <action>vendors/vendor_selectandsell/select</action>
                    </sell>
                </children>
            </catalog>
        </menu>
        <sell>
            <!-- allow attributes select and sell -->
            <attributes>
                <status><keep_value>0</keep_value><tab>general</tab></status>
                <price><keep_value>1</keep_value><tab>general</tab></price>
                <vendor_sku><keep_value>0</keep_value><tab>general</tab></vendor_sku>
                <qty><keep_value>0</keep_value><tab>general</tab></qty>
                <is_in_stock><keep_value>0</keep_value><tab>general</tab></is_in_stock>
                <!--<tax_class_id><keep_value>0</keep_value><tab>general</tab></tax_class_id>-->
                <!--<description><keep_value>1</keep_value><tab>general</tab></description>-->
            </attributes>
            <!-- tabs showed select and sell -->
            <tabs>
                <general><label>General</label><is_attribute>1</is_attribute><code>general</code></general>
                <customer_options><label>Custom Options</label><is_attribute>0</is_attribute><code>customer_options</code></customer_options>
            </tabs>
        </sell>
    </vendors>
    <global>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <selectandsell>
                        <class>selectandsell/observer</class>
                        <method>core_block_abstract_prepare_layout_before</method>
                    </selectandsell>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <selectandsell>
                        <class>selectandsell/observer</class>
                        <method>core_block_abstract_prepare_layout_after</method>
                    </selectandsell>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <selectandsell>
                        <class>selectandsell/observer</class>
                        <method>adminhtml_catalog_product_edit_prepare_form</method>
                    </selectandsell>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <catalog_product_load_after>
                <observers>
                    <selectandsell>
                        <class>selectandsell/observer</class>
                        <method>catalog_product_load_after</method>
                    </selectandsell>
                </observers>
            </catalog_product_load_after>
            <catalog_product_save_before>
                <observers>
                    <selectandsell>
                        <class>selectandsell/observer</class>
                        <method>catalog_product_save_before</method>
                    </selectandsell>
                </observers>
            </catalog_product_save_before>
        </events>
        <models>
            <selectandsell>
                <class>VES_VendorsSelectAndSell_Model</class>
                <resourceModel>selectandsell_resource</resourceModel>
            </selectandsell>
            <selectandsell_resource>
                <class>VES_VendorsSelectAndSell_Model_Resource</class>
           	</selectandsell_resource>
        </models>
        <resources>
	        <selectandsell_setup>
	            <setup>
	                <module>VES_VendorsSelectAndSell</module>
	                <class>VES_VendorsSelectAndSell_Model_Resource_Setup</class>
	            </setup>
	        </selectandsell_setup>
	    </resources>
        <blocks>
            <selectandsell>
                <class>VES_VendorsSelectAndSell_Block</class>
            </selectandsell>
        </blocks>
        <helpers>
            <selectandsell>
                <class>VES_VendorsSelectAndSell_Helper</class>
            </selectandsell>
        </helpers>
    </global>
    <default>
        <vendors>
            <sell>
                <enabled_front>1</enabled_front>
            </sell>
        </vendors>
    </default>
</config>