<?xml version="1.0"?>
<config>
    <sections>
        <vendors>
            <groups>                
                <create_account translate="label">
                    <fields>
                        <default_group_expiry_period translate="label tooltip">
                        	<label>Default group expires after</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>required-entry validate-number</frontend_class>
                            <comment>12 = 12 months</comment>
                        </default_group_expiry_period>
                        <expiry_action translate="label tooltip">
                        	<label>Expiry Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>membership/source_expiryaction</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>After customer account is expired, This action will be executed.</tooltip>
                        </expiry_action>
                        <upgrade_url translate="label tooltip">
                        	<label>Upgrade Account URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>The url to your packages list page(e.g. http://www.yourwebsite.com/packages.html). This url will be displayed to vendor cpanel when he is notified for expiration.</tooltip>
                        </upgrade_url>
                    </fields>
                </create_account>
            </groups>
        </vendors>
    </sections>
</config>
