<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * Currency Switcher Extension
 *
 * @category   MageWorx
 * @package    MageWorx_CurrencySwitcher
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
-->
<config>
    <modules>
        <MageWorx_CurrencySwitcher>
            <version>1.2.1</version>
        </MageWorx_CurrencySwitcher>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_CurrencySwitcher after="Mage_Adminhtml">MageWorx_CurrencySwitcher_Adminhtml</MageWorx_CurrencySwitcher>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <translate>
            <modules>
                <MageWorx_CurrencySwitcher>
                    <files>
                        <default>MageWorx_CurrencySwitcher.csv</default>
                    </files>
                </MageWorx_CurrencySwitcher>
            </modules>
        </translate>
    </frontend>

    <global>
        <models>
            <mageworx_currencyswitcher>
                <class>MageWorx_CurrencySwitcher_Model</class>
                <resourceModel>mageworx_currencyswitcher_resource</resourceModel>
            </mageworx_currencyswitcher>
            <mageworx_currencyswitcher_resource>
                <class>MageWorx_CurrencySwitcher_Model_Resource</class>
                <entities>
                    <relations>
                        <table>mageworx_currencyswitcher_relations</table>
                    </relations>
                </entities>
            </mageworx_currencyswitcher_resource>
        </models>
        <resources>
            <mageworx_currencyswitcher_setup>
                <setup>
                    <module>MageWorx_CurrencySwitcher</module>
                </setup>
            </mageworx_currencyswitcher_setup>
        </resources>
        <blocks>
            <mageworx_currencyswitcher>
                <class>MageWorx_CurrencySwitcher_Block</class>
            </mageworx_currencyswitcher>
        </blocks>
        <helpers>
            <mageworx_currencyswitcher>
                <class>MageWorx_CurrencySwitcher_Helper</class>
            </mageworx_currencyswitcher>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mageworx_currencyswitcher_switch_currency>
                        <type>singleton</type>
                        <class>mageworx_currencyswitcher/observer</class>
                        <method>switchCurrency</method>
                    </mageworx_currencyswitcher_switch_currency>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_directory_currency_switch>
                <observers>
                    <mageworx_currencyswitcher_set_currency>
                        <type>singleton</type>
                        <class>mageworx_currencyswitcher/observer</class>
                        <method>setCurrency</method>
                    </mageworx_currencyswitcher_set_currency>
                </observers>
            </controller_action_predispatch_directory_currency_switch>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <mageworx_currencyswitcher>
                    <file>mageworx_currencyswitcher.xml</file>
                </mageworx_currencyswitcher>
            </updates>
        </layout>
        <events>
            <adminhtml_cache_flush_all>
                <observers>
                    <mageworx_currencyswitcher_flush_all_cache>
                        <class>mageworx_currencyswitcher/observer</class>
                        <method>refreshCurrencySwitcherCache</method>
                    </mageworx_currencyswitcher_flush_all_cache>
                </observers>
            </adminhtml_cache_flush_all>
            <adminhtml_cache_refresh_type>
                <observers>
                    <mageworx_currencyswitcher_refresh_cache>
                        <class>mageworx_currencyswitcher/observer</class>
                        <method>refreshCurrencySwitcherCache</method>
                    </mageworx_currencyswitcher_refresh_cache>
                </observers>
            </adminhtml_cache_refresh_type>
        </events>
    </adminhtml>

    <default>
        <mageworx_geoip>
            <mageworx_currencyswitcher>
                <enable>1</enable>
                <user_agent_list>googlebot*
yahoo*
msnbot*
facebook*</user_agent_list>
            </mageworx_currencyswitcher>
        </mageworx_geoip>
    </default>
</config>
