<?xml version="1.0"?>
<config>
   	<frontend>
        <routers>
            <vendorspage>
                <use>standard</use>
                <args>
                    <module>VES_VendorsPage</module>
                    <frontName>vendorspage</frontName>
                </args>
            </vendorspage>
        </routers>
        <layout>
            <updates>
                <vendorspage>
                    <file>ves_vendors/page.xml</file>
                </vendorspage>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsPage>
                    <files>
                        <default>ves_vendors/page.csv</default>
                    </files>
                </VES_VendorsPage>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<vendorspage>
					<file>ves_vendors/page.xml</file>
				</vendorspage>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsPage>
                    <files>
                        <default>ves_vendors/page.csv</default>
                    </files>
                </VES_VendorsPage>
            </modules>
        </translate>
    </adminhtml>
    
    <global>
    	<index>
			<indexer>		
				<vendor_product_indexer>		
					<model>vendorspage/product_indexer</model>
				</vendor_product_indexer>		
			</indexer>
		</index>
    	<events>
    		<controller_front_init_routers>
                <observers>
                    <vendorspage>
                        <type>singleton</type>
                        <class>vendorspage/observer</class>
                        <method>handleControllerFrontInitRouters</method>
                    </vendorspage>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_load_before>
            	<observers>
                    <vendorspage>
                        <class>vendorspage/observer</class>
                        <method>controller_action_layout_load_before</method>
                    </vendorspage>
                </observers>
            </controller_action_layout_load_before>
            <catalog_product_save_after>
				 <observers>
                    <vendorspage>
                        <class>vendorspage/observer</class>
                        <method>catalog_product_save_after</method>
                    </vendorspage>
                </observers>
			</catalog_product_save_after>
    	</events>
        <models>
            <vendorspage>
                <class>VES_VendorsPage_Model</class>
            </vendorspage>
        </models>
        <blocks>
            <vendorspage>
                <class>VES_VendorsPage_Block</class>
            </vendorspage>
        </blocks>
        <helpers>
            <vendorspage>
                <class>VES_VendorsPage_Helper</class>
            </vendorspage>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<vendor_page>
    			<url_key>shop</url_key>
    		</vendor_page>
    	</vendors>
    </default>
    <vendor_config>
    	<design>
    		<config>
    			<vendor_profile>left</vendor_profile>
    		</config>
    		<home>
    			<layout>2columns-left</layout>
    			<list_mode>grid-list</list_mode>
    			<product_count>4</product_count>
    		</home>
    	</design>
    	<general>
    		<test>
    			<test>This is test value 111</test>
    		</test>
    	</general>
    </vendor_config>
</config>