<?xml version="1.0"?>
<config>
    <modules>
        <Bluethink_Quesanswer>
            <version>0.1.0</version>
        </Bluethink_Quesanswer>
    </modules>
    <frontend>
         <routers>
          <!--  <vendors>
                <args>
                    <modules>
                        <quesanswer before="VES_Vendors">Bluethink_Quesanswer_Vendors</quesanswer>
                    </modules>
                </args>
            </vendors> -->
            <vendors>
                <args>
                    <modules>
                        <quesanswer before="VES_Vendors">Bluethink_Quesanswer</quesanswer>
                    </modules>
                </args>
            </vendors>
            <quesanswer>
                <use>standard</use>
                <args>
                    <module>Bluethink_Quesanswer</module>
                    <frontName>quesanswer</frontName>
                </args>
            </quesanswer>
        </routers>
        <layout>
            <updates>
                <quesanswer>
                    <file>quesanswer.xml</file>
                </quesanswer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<quesanswer>
				<use>admin</use>
				<args>
					<module>Bluethink_Quesanswer</module>
					<frontName>quesanswer</frontName>
				</args>
			</quesanswer>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<quesanswer module="quesanswer">
				<title>Ques and Ans</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="quesanswer">
						<title>Manage QA</title>
						<sort_order>0</sort_order>
						<action>quesanswer/adminhtml_quesanswer</action>
					</items>
				</children>
			</quesanswer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Bluethink_Quesanswer>
							<title>Quesanswer Module</title>
							<sort_order>10</sort_order>
						</Bluethink_Quesanswer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quesanswer>
					<file>quesanswer.xml</file>
				</quesanswer>
			</updates>
		</layout>
    </adminhtml>  
     <vendors>
       <menu>
               <quesanswer module="quesanswer">
                           <title>Ques and Ans</title>
                           <sort_order>71</sort_order>
                         
               <children>
                   <items module="quesanswer">
                       <title>Manage QA</title>
                       <sort_order>0</sort_order>
                        <action>vendors/vendors_quesanswer/index/</action> 
                       
                   </items>
                   
               </children>
           </quesanswer>
       </menu>
   </vendors> 
    <global>
        <models>
            <quesanswer>
                <class>Bluethink_Quesanswer_Model</class>
                <resourceModel>quesanswer_mysql4</resourceModel>
            </quesanswer>
            <quesanswer_mysql4>
                <class>Bluethink_Quesanswer_Model_Mysql4</class>
                <entities>
                    <quesanswer>
                        <table>quesanswer</table>
                    </quesanswer>
                </entities>
            </quesanswer_mysql4>
        </models>
        <resources>
            <quesanswer_setup>
                <setup>
                    <module>Bluethink_Quesanswer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quesanswer_setup>
            <quesanswer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quesanswer_write>
            <quesanswer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quesanswer_read>
        </resources>
        <blocks>
            <quesanswer>
                <class>Bluethink_Quesanswer_Block</class>
            </quesanswer>
        </blocks>
        <helpers>
            <quesanswer>
                <class>Bluethink_Quesanswer_Helper</class>
            </quesanswer>
        </helpers>
    </global>
</config>