<?xml version="1.0"?>
<config>
    <modules>
        <Mish_Correoschile>
            <version>0.1.0</version>
        </Mish_Correoschile>
    </modules>
    <frontend>
        <routers>
            <correoschile>
                <use>standard</use>
                <args>
                    <module>Mish_Correoschile</module>
                    <frontName>correoschile</frontName>
                </args>
            </correoschile>
        </routers>
        <layout>
            <updates>
                <correoschile>
                    <file>correoschile.xml</file>
                </correoschile>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<correoschile>
				<use>admin</use>
				<args>
					<module>Mish_Correoschile</module>
					<frontName>correoschile</frontName>
				</args>
			</correoschile>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<correoschile module="correoschile">
				<title>Correoschile</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="correoschile">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>correoschile/adminhtml_correoschile</action>
					</items>
				</children>
			</correoschile>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mish_Correoschile>
							<title>Correoschile Module</title>
							<sort_order>10</sort_order>
						</Mish_Correoschile>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<correoschile>
					<file>correoschile.xml</file>
				</correoschile>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <correoschile>
                <class>Mish_Correoschile_Model</class>
                <resourceModel>correoschile_mysql4</resourceModel>
            </correoschile>
            <correosmaintable>
                <class>Mish_Correoschile_Model</class>
                <resourceModel>correoschile_mysql4</resourceModel>
            </correosmaintable>
            <correoschile_mysql4>
                <class>Mish_Correoschile_Model_Mysql4</class>
                <entities>
                    <correoschile>
                        <table>correoschile</table>
                    </correoschile>
                      <correosmaintable>
                        <table>correosmaintable</table>
                    </correosmaintable>
                </entities>
            </correoschile_mysql4>
        </models>
        <resources>
            <correoschile_setup>
                <setup>
                    <module>Mish_Correoschile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </correoschile_setup>
            <correoschile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </correoschile_write>
            <correoschile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </correoschile_read>
        </resources>
        <blocks>
            <correoschile>
                <class>Mish_Correoschile_Block</class>
            </correoschile>
        </blocks>
        <helpers>
            <correoschile>
                <class>Mish_Correoschile_Helper</class>
            </correoschile>
        </helpers>
    </global>
     <default>
        <carriers>
           <correoschile>
                <active>1</active>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <model>correoschile/carrier_shippingcorreoschile</model>
                <name>Correoschile</name>
                <price>10.00</price>
                <title>CorreosChile Shipping Method</title>
          </correoschile>
        </carriers>
    </default>
</config>