<?xml version="1.0"?>
<!-- 
/**
 * @category   Mercadolibre
 * @package    Mercadolibre_Items
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Mercadolibre_Items>
            <version>0.1.5</version>
        </Mercadolibre_Items>
    </modules>
    <frontend>
        <routers>
            <items>
                <use>standard</use>
                <args>
                    <module>Mercadolibre_Items</module>
                    <frontName>items</frontName>
                </args>
            </items>
        </routers>
        <layout>
            <updates>
                <items>
                    <file>items.xml</file>
                </items>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<items>
				<use>admin</use>
				<args>
					<module>Mercadolibre_Items</module>
					<frontName>items</frontName>
				</args>
			</items>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<items module="items">
				<title>MercadoLibre</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="items">
						<title>Items</title>
						<children>
							<itemslisting>
								<title>Create listing</title>
								<sort_order>10</sort_order>
								<action>items/adminhtml_itemlisting</action>	
							</itemslisting>
							<itempublishing>
								<title>Publish</title>
								<sort_order>20</sort_order>
								<action>items/adminhtml_itempublishing</action>	
							</itempublishing>
						</children>
						<sort_order>1</sort_order>

					</items>
					<questions module="items">
						<title>Questions</title>
						<children>
							<questionlisting>
								<title>Questions</title>
								<sort_order>10</sort_order>
								<action>items/adminhtml_questions/question</action>
							</questionlisting>
							<questemplatelisting>
								<title>Answer Template</title>
								<sort_order>20</sort_order>
								<action>items/adminhtml_anstemplate</action>
							</questemplatelisting>
						</children>
					</questions>
					<orders module="items">
						<title>Orders</title>
						<sort_order>20</sort_order>
						<action>items/adminhtml_itemorders/itemorder</action>
					</orders>
					<dashboard module="items">
						<title>Dashboard</title>
						<sort_order>0</sort_order>
						<action>items/adminhtml_dashboard</action>	
					</dashboard>
					<feedback module="items">
						<title>Feedback</title>
						<sort_order>40</sort_order>
						<action>items/adminhtml_feedbacks</action>
					</feedback>
					<itemtemprofile>
								<title>Templates</title>
								<sort_order>30</sort_order>
								<children>
									<shippingprofile>
										<title>Shipping </title>
										<sort_order>20</sort_order>
										<action>items/adminhtml_shippingprofile</action>	
									</shippingprofile>
									<itemdetailprofile>
										<title>Description </title>
										<sort_order>10</sort_order>
										<action>items/adminhtml_itemdetailprofile</action>	
									</itemdetailprofile>
									<!--paymentprofile>
										<title>Payment </title>
										<sort_order>30</sort_order>
										<action>items/adminhtml_paymentprofile</action>	
									</paymentprofile-->								
									<itemtemplates>
										<title>Listing </title>
										<sort_order>40</sort_order>
										<action>items/adminhtml_itemtemplates</action>	
									</itemtemplates>
									<mastertemplates>
										<title>Master </title>
										<sort_order>50</sort_order>
										<action>items/adminhtml_mastertemplates</action>	
									</mastertemplates>
								</children>
							</itemtemprofile>
					<mlsetup module="items">
						<title>Setup</title>
						<sort_order>75</sort_order>
						<children>
							<categorymapping module="items">
								<title>Category Mapping</title>
								<sort_order>10</sort_order>
								<action>items/adminhtml_categorymapping</action>
							</categorymapping>
							<attributemapping>
								<title>Attribute Mapping</title>
								<sort_order>20</sort_order>
								<action>items/adminhtml_attributemapping</action>	
							</attributemapping>
						</children>
					</mlsetup>
				</children>
			</items>
		</menu>

		<acl>
			<resources>
				<admin>  <!--This is acl based on URL. If you see URL it would be /admin/system_config/ -->
					<children>
						<system>
							<children>
	                               		 <config>
	                                  			  <children>
											<mlitems translate="title" module="items">  <!-- This is name of the section created by us -->
												<title>Settings</title>  <!-- Title as shown in User->Roles->Permissions Window -->
												<sort_order>99</sort_order>
											</mlitems>
										</children>
								</config>
							</children>
						</system>
						<mrcadolibre>
							<children>
	                               		 <items>
	                                  			  <children>
											<categorymapping translate="title" module="items">  <!-- This is name of the section created by us -->
												<title>Category Mapping</title>  <!-- Title as shown in User->Roles->Permissions Window -->
												<sort_order>99</sort_order>
											</categorymapping>
      									</children>
								</items>
							</children>
						</mrcadolibre>
					</children>
				</admin>
			</resources>
		</acl>

		<layout>
			<updates>
				<items>
					<file>items.xml</file>
				</items>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <items>
                <class>Mercadolibre_Items_Model</class>
                <resourceModel>items_mysql4</resourceModel>
            </items>
            <items_mysql4>
                <class>Mercadolibre_Items_Model_Mysql4</class>
                <entities>
					<melicategoryupdate>
                        <table>mercadolibre_category_update</table>
                    </melicategoryupdate>
					<melicategories>
                        <table>mercadolibre_categories</table>
                    </melicategories>
					<melicategoryattributes>
                        <table>mercadolibre_category_attributes</table>
                    </melicategoryattributes>
					<melicategoryattributevalues>
                        <table>mercadolibre_category_attribute_values</table>
                    </melicategoryattributevalues>
					<melicategoriesmapping>
                        <table>mercadolibre_categories_mapping</table>
                    </melicategoriesmapping>
					<melicategoriesfilter>
                        <table>mercadolibre_categories_filter</table>
                    </melicategoriesfilter>
					<mercadolibreitem>
                        <table>mercadolibre_item</table>
                    </mercadolibreitem>
					<mercadolibreorder>
                        <table>mercadolibre_order</table>
                    </mercadolibreorder>
					<meliordervariationattributes>
                        <table>mercadolibre_order_variation_attributes</table>
                    </meliordervariationattributes>
					<meliorderitems> 
                        <table>mercadolibre_order_items</table>
                    </meliorderitems>
					<melibuyer> 
                        <table>mercadolibre_buyer</table>
                    </melibuyer>
					<meliproducttemplates>
                        <table>mercadolibre_product_templates</table>
                    </meliproducttemplates>
					<meliitemattributes>
                        <table>mercadolibre_item_attributes</table>
                    </meliitemattributes> 
					<meliitempriceqty>
                        <table>mercadolibre_item_price_qty</table>
                    </meliitempriceqty>
					<meliattributevaluemapping>
                        <table>mercadolibre_attribute_value_mapping</table>
                    </meliattributevaluemapping>    
					<meliitemprofiledetail>
                        <table>mercadolibre_item_profile_detail</table>
                    </meliitemprofiledetail> 
					<melishipping>
                        <table>mercadolibre_shipping</table>
                    </melishipping> 
					<melishippingcustom>
                        <table>mercadolibre_shipping_custom</table>
                    </melishippingcustom> 	
					<meliquestions>
                        <table>mercadolibre_questions</table>
                    </meliquestions>
					<melifeedbacks>
                        <table>mercadolibre_order_feedback</table>
                    </melifeedbacks>
					<melianswertemplate>
						<table>mercadolibre_answer_template</table>
					</melianswertemplate>	
					<melisites>
						<table>mercadolibre_sites</table>
					</melisites>
					<melipaymentmethods> 
                        <table>mercadolibre_payment_methods</table>
                    </melipaymentmethods>
					<melimastertemplates> 
                        <table>mercadolibre_master_templates</table>
                    </melimastertemplates>
                </entities>
            </items_mysql4>
        </models>
        <resources>
            <items_setup>
                <setup>
                    <module>Mercadolibre_Items</module>					
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </items_setup>
            <items_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </items_write>
            <items_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </items_read>
        </resources>
        <blocks>
            <items>
                <class>Mercadolibre_Items_Block</class>
            </items>
        </blocks>
        <helpers>
            <items>
                <class>Mercadolibre_Items_Helper</class>
            </items>
        </helpers>
		<template>
			<email>                                                                   
			  <meli_notification-template>
				<label>Cron Job Notification Message</label>
				<file>meli_notification-template.html</file>
				<type>html</type>
			  </meli_notification-template>
			</email>
	  </template>
	  
	  <events>
      <controller_action_postdispatch_adminhtml_system_config_save>
        <observers>
          <Mercadolibre_Items_Model_Observer>
            <type>singleton</type>
            <class>Mercadolibre_Items_Model_Observer</class>
            <method>costomMLActionOnSaveConfig</method>
          </Mercadolibre_Items_Model_Observer>
        </observers>
      </controller_action_postdispatch_adminhtml_system_config_save>     
    </events>
	</global>
	
   <crontab>
        <jobs>
            <mercadolibre_items_getallcategoriesData>
                <schedule>
					<!-- <cron_expr>* * * * *</cron_expr> every time-->
                   <cron_expr>0 0 * * 0</cron_expr>  <!--  every week run at 11PM -->
                </schedule>
                <run>
                    <model>items/observer::getMLCatergoriesAllData</model>
                </run>
            </mercadolibre_items_getallcategoriesData>
            <mercadolibre_items_getallcategoriesattrData>
                <schedule>
                    <cron_expr>30 0 * * 0</cron_expr><!-- every week run at 11PM -->
                </schedule>
                <run>
                    <model>items/observer::getMLCategoryAttributes</model>
                </run>
            </mercadolibre_items_getallcategoriesattrData>      
			<mercadolibre_items_logcleanup>
                <schedule>
                    <cron_expr>50 0 * * 0</cron_expr><!-- every week run at 11PM -->
                </schedule>
                <run>
                    <model>items/observer::getCleanUpLog</model>
                </run>
            </mercadolibre_items_logcleanup>   
			<mercadolibre_items_tokenaccess>
                <schedule>
                    <cron_expr>30 0 * * 0</cron_expr><!-- every week run at 11PM -->
                </schedule>
                <run>
                    <model>items/observer::getMLTokenAccess</model>
                </run>
            </mercadolibre_items_tokenaccess>     
			<mercadolibre_items_updatepriceqtycronjob>
                <schedule>
					<cron_expr>* * * * *</cron_expr> <!--  every time-->
					 <!-- <cron_expr>*/30 * * * * </cron_expr> Every 30 minutes -->
                   <!--  <cron_expr>30 0 * * 0</cron_expr>every week run at 11PM -->
                </schedule>
                <run>
                    <model>items/observer::getMLInventoryPriceUpdate</model>
                </run>
            </mercadolibre_items_updatepriceqtycronjob>            
        </jobs>
    </crontab>

	<default>  <!-- This needs to be placed direct inside <config> tag -->
        <mlitems>  <!-- Name of section -->
        	<meligeneralsetting> <!-- Name of group -->
        		<enablelogging>1</enablelogging> <!-- Name of field -->
				<logcleanup>7</logcleanup> <!-- Name of field -->
				<notificationemailid>gupta.p@indiabulls.com</notificationemailid>
        	</meligeneralsetting>
			<categoriesupdateinformation></categoriesupdateinformation>
			<mltokenaccess>
				<mlapiurl>https://api.mercadolibre.com</mlapiurl>
				<mlsiteid>MLA</mlsiteid>
				<changeaccesstoken>Yes</changeaccesstoken>
			</mltokenaccess>
			<meliinventorysetting>
				<updatepriceqtycronjob>No</updatepriceqtycronjob>
				<enableinventoryded>No</enableinventoryded>
				<!--<includeproductimg>No</includeproductimg>-->
				<mainimageintemplatebody>NO</mainimageintemplatebody>
				<producttypeinlisting>configurable</producttypeinlisting>
			</meliinventorysetting>
        </mlitems>
    </default>


</config>
