<?xml version="1.0"?>
<config>

	<tabs>
		<items translate="label" module="items">
            <label>MercadoLibre</label>
            <sort_order>9000212</sort_order>
        </items>
	</tabs>
	<sections>
		<mlitems translate="label">
		  <label>Settings</label>
		  <tab>items</tab>
		  <frontend_type>text</frontend_type>
		  <sort_order>1000</sort_order>
		  <show_in_default>1</show_in_default>
		  <show_in_website>1</show_in_website>
		  <show_in_store>1</show_in_store>
		  <groups>
		  		<defaultstoresettings translate="label">
					<label>Default Store View Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<mldefaultstoreview translate="label">
                            <label>Choose your default store view</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Mercadolibre_items_model_system_config_source_defaultstore</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>0</can_be_empty>
                        </mldefaultstoreview>
					</fields>		
				</defaultstoresettings>
		  		<meliinventorysetting translate="label">
						<label>Inventory Settings</label>
						<frontend_type>text</frontend_type>
						<sort_order>40</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<fields>
							<producttypeinlisting translate="label comment">
								<label>Show Product Type On Item Listing</label>
								<frontend_type>multiselect</frontend_type>
								<source_model>Mercadolibre_items_model_system_config_source_producttype</source_model>
								<sort_order>3</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</producttypeinlisting>
							<updatepriceqtycronjob translate="label comment">
								<label>Enable cron job to update price and qty on MercadoLibre when change in magento</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>3</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</updatepriceqtycronjob>
							<mainimageintemplatebody translate="label comment">
								<label>Include Main Image In Description Template</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>2</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</mainimageintemplatebody>
						</fields>
				</meliinventorysetting>
				<meliordersyncsetting translate="label">
						<label>Orders Synchronization</label>
						<frontend_type>text</frontend_type>
						<sort_order>40</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<fields>
							<enableinventoryded translate="label comment">
								<label>Enabled</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>2</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</enableinventoryded>
						</fields>
				</meliordersyncsetting>
				<meligeneralsetting translate="label">
						<label>Log Settings</label>
						<frontend_type>text</frontend_type>
						<sort_order>30</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<fields>
							<enablelogging translate="label comment">
								<label>Enable Logging</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>2</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
								<comment>
									<![CDATA[Path For Log File : var / log / meli_logger </span>]]>
								</comment>
							</enablelogging>
							<logcleanup translate="label comment">
								<label>Log Cleanup interval</label>
								<comment>
									<![CDATA[Enter numeric value only,value will be considered as in days</span>]]>
								</comment>
								<frontend_type>text</frontend_type>
								<validate>required-entry</validate>
								<sort_order>10</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</logcleanup>
							<notificationemailid translate="label comment">
								<label>Notification Email Id</label>
								<comment>
									<![CDATA[Notification Email Id from Magento "Manage Template" Interface</span>]]>
								</comment>
								<frontend_type>text</frontend_type>
								<validate>required-entry</validate>
								<sort_order>10</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</notificationemailid>
						</fields>		
					</meligeneralsetting>
				<categoriesupdateinformation translate="label">
					<label>Categories Update Information</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<mlrootcategories translate="label">
                            <label>ML Root Categories</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Mercadolibre_items_model_system_config_source_rootcategories</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mlrootcategories>
						<mlgetSubCatButt translate="label">
                           <frontend_type>button</frontend_type>
						   <frontend_model>Mercadolibre_items_model_system_config_source_MlgetSubCatAjax</frontend_model>
						   <sort_order>2</sort_order>
						   <show_in_default>1</show_in_default>
						   <show_in_website>1</show_in_website>
						   <show_in_store>1</show_in_store>
						   <comment>
								<![CDATA[It will import all subcategories of the above selected ML Root Categories. The process can take some time and will depend on number of categories selected. </span>]]>
							</comment>
                        </mlgetSubCatButt>
						<!--contentcreationdate translate="label comment">
							<label>Content Creation Date</label>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</contentcreationdate-->
						<lastrundata translate="label comment">
							<label>Last Run Date</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</lastrundata>
						
					</fields>		
				</categoriesupdateinformation>
				<globalattributesmapping translate="label">
					<label>Attribute Settings( Map Attribute Size And Color For Fashion Store)</label>
					<frontend_type>text</frontend_type>
					<sort_order>25</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<magecolorattr translate="label">
                            <label>Color</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Mercadolibre_items_model_system_config_source_Mageconfigattr</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
							<comment>
								<![CDATA[Please choose all the attributes which refers to color in your magento store</span>]]>
							</comment>
                        </magecolorattr>
						<magesizeattr translate="label comment">
							 <label>Size</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Mercadolibre_items_model_system_config_source_Mageconfigattr</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
							<comment>
								<![CDATA[Please choose all the attributes which refers to size in your magento store</span>]]>
							</comment>
						</magesizeattr>
						<onitemspublishexpandvariation translate="label">
                            <label>On Click Checkbox, Auto Expanding The Variation </label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<validate>required-entry</validate>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>
								<![CDATA[It will expand the variation list on item publishing page.</span>]]>
							</comment>
                        </onitemspublishexpandvariation>
						
					</fields>		
				</globalattributesmapping>
				<mlmarketplaces>
					<label>Marketplaces</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<mlsiteid translate="label">
                            <label>Marketplace</label>
                            <frontend_type>select</frontend_type>
							<source_model>Mercadolibre_items_model_system_config_source_siteslisting</source_model>
							<validate>required-entry</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mlsiteid>
					</fields>
				</mlmarketplaces>
				<mltokenaccess>
					<label>API Access Information</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<mltokenclientid translate="label">
                            <label>Client Id</label>
                            <frontend_type>text</frontend_type>
							<validate>required-entry</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mltokenclientid>
						<mltokenclientsecret translate="label">
                            <label>Client Secret</label>
                            <frontend_type>text</frontend_type>
							<validate>required-entry</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </mltokenclientsecret>
						<mlconfirmButt translate="label">
                           <frontend_type>button</frontend_type>
						   <frontend_model>Mercadolibre_items_model_system_config_source_Mlappcheck</frontend_model>
						   <sort_order>50</sort_order>
						   <show_in_default>1</show_in_default>
						   <show_in_website>1</show_in_website>
						   <show_in_store>1</show_in_store>
                        </mlconfirmButt>
					</fields>
			</mltokenaccess>
		  </groups> 	 		
		 </mlitems>
	</sections>
</config>
