<?xml version="1.0"?>
<config>
	<modules>
		<Ameronix_OrderDelete>
			<version>1.0.0</version>
		</Ameronix_OrderDelete>
	</modules>

	<global>
		<helpers>
			<ameronix_orderdelete>
				<class>Ameronix_OrderDelete_Helper</class>
			</ameronix_orderdelete>
		</helpers>

		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<ameronix_orderdelete>
						<type>singleton</type>
						<class>Ameronix_OrderDelete_Model_Observer</class>
						<method>coreBlockAbstractToHtmlBefore</method>
					</ameronix_orderdelete>
				</observers>
			</core_block_abstract_to_html_before>

			<sales_order_delete_before>
				<observers>
					<ameronix_orderdelete>
						<type>singleton</type>
						<class>Ameronix_OrderDelete_Model_Observer</class>
						<method>salesOrderDeleteBefore</method>
					</ameronix_orderdelete>
				</observers>
			</sales_order_delete_before>
		</events>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<ameronix_orderdelete>
					<file>ameronix_orderdelete.xml</file>
				</ameronix_orderdelete>
			</updates>
		</layout>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ameronix_orderdelete before="Mage_Adminhtml">Ameronix_OrderDelete_Adminhtml</ameronix_orderdelete>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>