<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsMasterPassword>
            <version>0.1.0</version>
        </VES_VendorsMasterPassword>
    </modules>
    <frontend>
        <routers>
            <vendorsmasterpassword>
                <use>standard</use>
                <args>
                    <module>VES_VendorsMasterPassword</module>
                    <frontName>vendorsmasterpassword</frontName>
                </args>
            </vendorsmasterpassword>
        </routers>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <VES_VendorsMasterPassword>
                    <files>
                        <default>ves_vendors/master_password.csv</default>
                    </files>
                </VES_VendorsMasterPassword>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <vendorsmasterpassword>
                <class>VES_VendorsMasterPassword_Model</class>
            </vendorsmasterpassword>
        </models>
        <helpers>
            <vendorsmasterpassword>
                <class>VES_VendorsMasterPassword_Helper</class>
            </vendorsmasterpassword>
        </helpers>
        <events>
            <vendors_controller_pre_dispatch_before>
                <observers>
                    <VES_VendorsMasterPassword>
                        <type>model</type>
                        <class>vendorsmasterpassword/observer</class>
                        <method>vendormasterpassword</method>
                    </VES_VendorsMasterPassword>
                </observers>
            </vendors_controller_pre_dispatch_before>
        </events>
    </global>
</config>