@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../fonts/Helvetica-Regular.ttf');
	}
	@font-face {
    font-family: 'helvetica-bold';
    src: url('../fonts/helvetica-bold.ttf');
	}
	@font-face {
    font-family: 'AMIKO-REGULAR';
    src: url('../fonts/AMIKO-REGULAR.ttf');
	}
	@font-face {
    font-family: 'AMIKO-BOLD';
    src: url('../fonts/AMIKO-BOLD.ttf');
	}
	@font-face {
    font-family: 'AMIKO-SEMIBOLD';
    src: url('../fonts/AMIKO-SEMIBOLD.ttf');
	}

body {font-family: 'AMIKO-REGULAR' !important;}
.fr {float: right;}
.container {width: 1312px !important; padding: 0 !important;}
#header .header1 #topbar {background: #ec2d32 !important;}
.headermainOuter {background: #fe585c}
.topLinks .dropdown-menu {width:906px;}
.topLinks a {line-height: 28px !important; color: #fff;}
.topLinks .dropdown-menu a {font-size: 11px !importnat; text-transform: uppercase;}
#header .header1 #topbar .topLinks .links li > a {color: #fff; line-height: 31px !important;}
.headerbtmOuter {margin-top: 2px; background: #00adef; padding: 18px 0;}

.cms-homepage1 #header .header1 .menu-top {position: absolute; top: 192px; left: 34px;}
.cms-homepage1 #ves-verticalmenu .block-title {display: none;}
.topclassNav {padding-top: 20px;}
.topclassNav ul{padding-left: 13px;}
.topclassNav ul li a {font-size: 12px;}
.topclassNav ul span {text-transform: uppercase; font-size: 14px; display: block; padding-bottom: 15px;}
.topclassNav ul li:nth-child(2)  {background: url("../images/offer_image01.jpg") no-repeat left top; padding: 5px 0 18px 38px;}
.topclassNav ul li:nth-child(3) {background: url("../images/offer_image02.jpg") no-repeat left top; padding: 5px 0 18px 38px;}
.topclassNav ul li:nth-child(4) {background: url("../images/offer_image03.jpg") no-repeat left top; padding: 5px 0 18px 38px;}
.topclassNav ul li:nth-child(5) {background: url("../images/offer_image04.jpg") no-repeat left top; padding: 5px 0 18px 38px;}
.topclassNav ul li:nth-child(6) {background: url("../images/offer_image05.jpg") no-repeat left top; padding: 5px 0 18px 38px;}
.topclassNav ul li:nth-child(7) {background: url("../images/offer_image06.jpg") no-repeat left top; padding: 5px 0 18px 38px;}
.topclassNav ul li:nth-child(8) {background: url("../images/offer_image07.jpg") no-repeat left top; padding: 5px 0 18px 38px;}

#header .header1 .menu-top .block-content {width: 200px;}

.home-page-right-section {padding-left: 0 !important;}
.bannerCount {margin-left:21%; float: left; width: 847px;}
.homerightWidget {width: 180px; float: right;}
.bannerrightAdd {float: right;}
.layerslider-wrapper {width: 100% !important;}
#ves-verticalmenu .navbar-nav > li > a {font-size: 11px !important; font-weight: bold;}