<?xml version="1.0"?>
<config>
    <modules>
        <Bluethink_Recommendation>
            <version>0.1.0</version>
        </Bluethink_Recommendation>
    </modules>
    <frontend>
        <routers>
            <recommendation>
                <use>standard</use>
                <args>
                    <module>Bluethink_Recommendation</module>
                    <frontName>recommendation</frontName>
                </args>
            </recommendation>
        </routers>
        <layout>
            <updates>
                <recommendation>
                    <file>recommendation.xml</file>
                </recommendation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<recommendation>
				<use>admin</use>
				<args>
					<module>Bluethink_Recommendation</module>
					<frontName>recommendation</frontName>
				</args>
			</recommendation>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<recommendation module="recommendation">
				<title>Recommendation</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="recommendation">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>recommendation/adminhtml_recommendation</action>
					</items>
				</children>
			</recommendation>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Bluethink_Recommendation>
							<title>Recommendation Module</title>
							<sort_order>10</sort_order>
						</Bluethink_Recommendation>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<recommendation>
					<file>recommendation.xml</file>
				</recommendation>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <recommendation>
                <class>Bluethink_Recommendation_Model</class>
                <resourceModel>recommendation_mysql4</resourceModel>
            </recommendation>
            <recommendation_mysql4>
                <class>Bluethink_Recommendation_Model_Mysql4</class>
                <entities>
                    <recommendation>
                        <table>recommendation</table>
                    </recommendation>
                </entities>
            </recommendation_mysql4>
        </models>
        <resources>
            <recommendation_setup>
                <setup>
                    <module>Bluethink_Recommendation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recommendation_setup>
            <recommendation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recommendation_write>
            <recommendation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recommendation_read>
        </resources>
        <blocks>
            <recommendation>
                <class>Bluethink_Recommendation_Block</class>
            </recommendation>
        </blocks>
        <helpers>
            <recommendation>
                <class>Bluethink_Recommendation_Helper</class>
            </recommendation>
        </helpers>
    </global>
</config>