<?xml version="1.0"?>
<config>
    <global>
        <models>
            <vendorsshippingups>
                <class>VES_VendorsShippingUPS_Model</class>
            </vendorsshippingups>
        </models>
        <events>
            <ves_vendorsconfig_form_fieldset_prepare_before>
                <observers>
                    <vendorsshippingups>
                        <type>singleton</type>
                        <class>vendorsshippingups/observer</class>
                        <method>ves_vendorsconfig_form_fieldset_prepare_before</method>
                    </vendorsshippingups>
                </observers>
            </ves_vendorsconfig_form_fieldset_prepare_before>
        </events>
    </global>
    
    <default>
        <carriers>
            <ups>
                <model>vendorsshippingups/carrier_ups</model>
            </ups>
        </carriers>
    </default>
</config>