<?xml version="1.0"?>
<!--
/**
  *
  */
-->
<config>
    <modules>
        <Nanowebgroup_HybridMobile>
            <version>1.0.0</version>
        </Nanowebgroup_HybridMobile>
    </modules>
	<default>
        <hybrid_mobile>
            <general>
                <enable>0</enable>
                <disableajax>0</disableajax>
                <primary_color>ffffff</primary_color>  
                <primary_light_color>49484D</primary_light_color>  
                <secondary_color>FC5947</secondary_color>
                <light_icons>0</light_icons>  
            </general>
            <header_settings>
                <wishlist>1</wishlist>
            </header_settings>
            <homepage_settings>
                <feat_count>8</feat_count>
            </homepage_settings>
            <menu_settings>
                <show_count>1</show_count>
                <subcats>3</subcats>
            </menu_settings>
            <slider_settings>
                <enable>1</enable>
                <enabletouch>1</enabletouch>
                <duration>5</duration>
                <slide_one_image>default/scroller_img001.png</slide_one_image>
                <slide_two_image>default/scroller_img002.png</slide_two_image>
                <slide_three_image>default/scroller_img003.png</slide_three_image>
            </slider_settings>
            <catalog_settings>
                <listfilter>1</listfilter>
                <ratingstars>1</ratingstars>
            </catalog_settings>
			<footer_settings>
                <text-box-title>Disclaimer</text-box-title>
                <text-box>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</text-box>
                <contact_link>1</contact_link>
                <sitemap_link>1</sitemap_link>
            </footer_settings>
        </hybrid_mobile>  
    </default>
    <global>
        <helpers>
            <hybridmobile>
                <class>Nanowebgroup_HybridMobile_Helper</class>
            </hybridmobile>
        </helpers>
        <models>
            <hybridmobile>
                <class>Nanowebgroup_HybridMobile_Model</class>
            </hybridmobile>
            <hybridmobilemodel>
                <class>Nanowebgroup_HybridMobile_Model</class>
            </hybridmobilemodel>
            <hybridmobileswitcher>
                <class>Nanowebgroup_HybridMobile_Model</class>
            </hybridmobileswitcher>
            <contentslidermodelbackend>
                <class>Nanowebgroup_HybridMobile_Model_BackendActions</class>
            </contentslidermodelbackend>
            <core>
                <rewrite>
                    <design_package>Nanowebgroup_HybridMobile_Model_Package</design_package>
                </rewrite>
            </core>
		</models>
        <blocks>
            <hybridmobile>
                <class>Nanowebgroup_HybridMobile_Block</class>
            </hybridmobile>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Nanowebgroup_HybridMobile_Block_PagerFramelength</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <hybridmobile>
                    <file>hybrid-mobile/hybridmobile.xml</file>
                </hybridmobile>
            </updates>
        </layout>
        <routers>
            <hybridmobileswitcher>
                <use>standard</use>
                <args>
                    <module>Nanowebgroup_HybridMobile</module>
                    <frontName>hybridmobile</frontName>
                </args>
            </hybridmobileswitcher>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <hybridmobile>
                        <class>hybridmobile/observer</class>
                        <method>checkForValidation</method>
                    </hybridmobile>
                </observers>
            </controller_action_layout_load_before>
            <cms_page_render>
                <observers>
                    <hybridmobile>
                        <class>hybridmobile/observer</class>
                        <method>cmsPageRender</method>
                    </hybridmobile>
                </observers>
            </cms_page_render>        
        </events>
    </frontend>		
	<adminhtml>
        <layout>
            <updates>
                <hybridmobile>
                    <file>hybridmobile_admin.xml</file>
                </hybridmobile>
            </updates>
        </layout>
        <acl>
            <resources>
				<all>
	            	<title>Allow everything</title>
	            </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hybrid_mobile translate="title" module="hybridmobile">
                                            <title>HybridMobile Section</title>
                                            <sort_order>60</sort_order>
                                        </hybrid_mobile>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>