<?xml version="1.0"?>
<config>
    <sections>
        <vendors>
            <tab>ves</tab>
            <groups>                
                <vendorsreview translate="label">
                    <label>Vendor Review</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>						
<!--                         <admin_functions> -->
<!--                         	<label>Available admin functions</label> -->
<!--                             <frontend_type>multiselect</frontend_type> -->
<!--                             <source_model>vendorsreview/source_function</source_model>  -->
<!--                             <sort_order>10</sort_order> -->
<!--                             <show_in_default>1</show_in_default> -->
<!--                             <show_in_website>1</show_in_website> -->
<!--                             <show_in_store>1</show_in_store> -->
<!--                         </admin_functions> -->
						<email_template>
                        	<label>Default Review Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model> 
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                        <email_identity>
                        	<label>Review Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model> 
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_identity>
                        <send_review_mail>
                        	<label>Send review mail</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send email to customer after review post.</comment>
                        </send_review_mail>
                    </fields>
                </vendorsreview>
            </groups>
        </vendors>
    </sections>
</config>
