<?xml version="1.0"?>
<!--
 /**
  *
  */
-->
<config>
    <tabs>
        <nanowebgroup translate="label" module="hybridmobile">
            <label>NANOWEBGROUP</label>
            <sort_order>196</sort_order>
        </nanowebgroup>
    </tabs>
    <sections>
        <hybrid_mobile translate="label" module="hybridmobile">
            <label>Giganto</label>
            <tab>nanowebgroup</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info>
                    <frontend_model>hybridmobile/system_config_info</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
                <registration translate="label">
                    <label>Registration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields> 
                        <email>
                            <label>Primary E-mail:</label>
                            <comment><![CDATA[Enter the store admin e-mail address]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                        </email>
                    </fields>
                </registration>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enable translate="label">
                            <label>Enable Mobile Theme:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <primary_color>
                        	<label>Primary Color:</label>
                        	<comment><![CDATA[Color for: header, add to cart button, major elements]]></comment>
                        	<frontend_type>text</frontend_type>
                        	<validate>color</validate>
                        	<sort_order>3</sort_order>
                        	<show_in_default>1</show_in_default>
                        	<show_in_website>1</show_in_website>
                        	<show_in_store>1</show_in_store>
                        </primary_color>
                        <primary_light_color>
                        	<label>Secondary Color:</label>
                        	<comment><![CDATA[Color for: light buttons]]></comment>
                        	<frontend_type>text</frontend_type>
                        	<validate>color</validate>
                        	<sort_order>4</sort_order>
                        	<show_in_default>1</show_in_default>
                        	<show_in_website>1</show_in_website>
                        	<show_in_store>1</show_in_store> 
                        </primary_light_color>
                        <secondary_color>
                        	<label>Button Color:</label>
                        	<comment><![CDATA[Color for: button tap states]]></comment>
                        	<frontend_type>text</frontend_type>
                        	<validate>color</validate>
                        	<sort_order>5</sort_order>
                        	<show_in_default>1</show_in_default>
                        	<show_in_website>1</show_in_website>
                        	<show_in_store>1</show_in_store> 
                        </secondary_color>
                        <light_icons translate="label">
                            <label>Enable Light Icons:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </light_icons>
                    </fields>
                </general>
                <header_settings translate="label">
                <label>Header Settings</label>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                    <fields>
                    	<store_logo translate="label, comment">
							<label>Store Logo:</label>
							<comment><![CDATA[Image should be 118px wide by 45px high (transparent PNG is best)]]></comment>
							<frontend_type>image</frontend_type>
                            <backend_model>contentslidermodelbackend/ImageUpload</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">hybridmobile-logos</upload_dir>
                            <base_url type="media" scope_info="1">hybridmobile-logos</base_url>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</store_logo>
						<store_touch_icon translate="label, comment">
							<label>Store Touch Icon:</label>
							<comment><![CDATA[Image should be 114px by 114px (PNG32 format)]]></comment>
							<frontend_type>image</frontend_type>
                            <backend_model>contentslidermodelbackend/ImageUpload</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">hybridmobile-touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">hybridmobile-touch-icons</base_url>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</store_touch_icon>
                    </fields>
                </header_settings>
                <menu_settings translate="label">
                <label>Menu Settings</label>
                <frontend_type>text</frontend_type>
                <sort_order>3</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                    <fields>
                        <cat_img translate="label, comment">
                            <label>Enable Category Images:</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cat_img>
                    </fields>
                </menu_settings>
                <homepage_settings translate="label">
                <label>Homepage Settings</label>
                <frontend_type>text</frontend_type>
                <sort_order>4</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                    <fields>
                        <feat_prod translate="label, comment">
                            <label>Featured Products:</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>hybridmobilemodel/system_config_source_dropdown_cats</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feat_prod>
                        <feat_count translate="label, comment">
                            <label>Featured Count:</label>
                            <comment><![CDATA[Number of featured products to show on homepage]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feat_count>
                        <feat_cat translate="label, comment">
                            <label>Featured Categories:</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>Multiselect</frontend_type>
                            <source_model>hybridmobilemodel/system_config_source_dropdown_cats</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feat_cat>
                    </fields>
                </homepage_settings>
                <slider_settings translate="label">
				<label>Homepage Slider Settings</label>
				<frontend_type>text</frontend_type>
				<sort_order>5</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label, comment">
							<label>Enable Homepage Slider:</label>
							<comment><![CDATA[Show content slider on homepage]]></comment>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable>
						<slide_one_image translate="label, comment">
							<label>Slide #1 Image:</label>
							<comment><![CDATA[Image should be 320px wide by 160px high]]></comment>
							<frontend_type>image</frontend_type>
                            <backend_model>contentslidermodelbackend/ImageUpload</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">hybridmobile-slider-images</upload_dir>
                            <base_url type="media" scope_info="1">hybridmobile-slider-images</base_url>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</slide_one_image>
						<slide_one_url translate="label, comment">
							<label>Slide #1 Link URL:</label>
							<comment><![CDATA[Add the URL the slide will redirect to when pressed (only the final portion, after index.php/ - for example "microsoft-wireless-optical-mouse-5000.html")]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</slide_one_url>
						<slide_two_image translate="label, comment">
							<label>Slide #2 Image:</label>
							<comment><![CDATA[Image should be 320px wide by 160px high]]></comment>
							<frontend_type>image</frontend_type>
                            <backend_model>contentslidermodelbackend/ImageUpload</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">hybridmobile-slider-images</upload_dir>
                            <base_url type="media" scope_info="1">hybridmobile-slider-images</base_url>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</slide_two_image>
						<slide_two_url translate="label, comment">
							<label>Slide #2 Link URL:</label>
							<comment><![CDATA[Add the URL the slide will redirect to when pressed (only the final portion, after index.php/ - for example "microsoft-wireless-optical-mouse-5000.html")]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</slide_two_url>
						<slide_three_image translate="label, comment">
							<label>Slide #3 Image:</label>
							<comment><![CDATA[Image should be 320px wide by 160px high]]></comment>
							<frontend_type>image</frontend_type>
                            <backend_model>contentslidermodelbackend/ImageUpload</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">hybridmobile-slider-images</upload_dir>
                            <base_url type="media" scope_info="1">hybridmobile-slider-images</base_url>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</slide_three_image>
						<slide_three_url translate="label, comment">
							<label>Slide #3 Link URL:</label>
							<comment><![CDATA[Add the URL the slide will redirect to when pressed (only the final portion, after index.php/ - for example "microsoft-wireless-optical-mouse-5000.html")]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</slide_three_url>
					</fields>
				</slider_settings>
            </groups>
        </hybrid_mobile>
    </sections>
</config>