<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Inventorywebpos>
            <version>0.1.1</version>
        </Magestore_Inventorywebpos>
    </modules>
    <frontend>
        <routers>
            <inventorywebpos>
                <use>standard</use>
                <args>
                    <module>Magestore_Inventorywebpos</module>
                    <frontName>inventorywebpos</frontName>
                </args>
            </inventorywebpos>
        </routers>
        <layout>
            <updates>
                <inventorywebpos>
                    <file>inventorywebpos.xml</file>
                </inventorywebpos>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Inventorywebpos>
                    <files>
                        <default>Magestore_Inventorywebpos.csv</default>
                    </files>
                </Magestore_Inventorywebpos>
            </modules>
        </translate>       
    </frontend>
    <admin> 
        <routers> 
            <adminhtml> 
                <args> 
                    <modules> 
                        <magestore_inventorywebpos after="Mage_Adminhtml">Magestore_Inventorywebpos_Adminhtml</magestore_inventorywebpos> 
                    </modules> 
                </args> 
            </adminhtml> 
        </routers> 
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <inventorywebpos>
                    <file>inventorywebpos.xml</file>
                </inventorywebpos>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Inventorywebpos>
                    <files>
                        <default>Magestore_Inventorywebpos.csv</default>
                    </files>
                </Magestore_Inventorywebpos>
            </modules>
        </translate>   
    </adminhtml>  
    <global>
        <events>
            <controller_action_predispatch_adminhtml_userlocation_index>
                <observers>
                    <magestore_inventorywebpos>
                        <type>singleton</type>
                        <class>inventorywebpos/observer</class>
                        <method>controller_action_predispatch_webpos_userlocation_index</method>
                    </magestore_inventorywebpos>
                </observers>                
            </controller_action_predispatch_adminhtml_userlocation_index> 
            <controller_action_predispatch_webposadmin_adminhtml_userlocation_index>
                <observers>
                    <magestore_inventorywebpos>
                        <type>singleton</type>
                        <class>inventorywebpos/observer</class>
                        <method>controller_action_predispatch_webpos_userlocation_index</method>
                    </magestore_inventorywebpos>
                </observers>                
            </controller_action_predispatch_webposadmin_adminhtml_userlocation_index>                         
            <webpos_block_listproduct_event>
                <observers>
                    <magestore_inventorywebpos>
                        <type>singleton</type>
                        <class>inventorywebpos/observer</class>
                        <method>webposBlockListproductEvent</method>
                    </magestore_inventorywebpos>
                </observers>
            </webpos_block_listproduct_event>
            <!-- add more tab in warehouse -->    
            <inventory_adminhtml_add_tab_warehouse>
                <observers>
                    <inventorywarehouse_observers>
                        <type>model</type>
                        <class>inventorywebpos/observer</class>
                        <method>addWarehouseTab</method>
                    </inventorywarehouse_observers>
                </observers>
            </inventory_adminhtml_add_tab_warehouse>

            <!--Convert location of webpos to warehouse when inventoryplus is installing-->
            <inventoryplus_is_installing>
                <observers>
                    <inventorywebpos_observers>
                        <type>model</type>
                        <class>inventorywebpos/observer</class>
                        <method>convertWebposLocationToWarehouse</method>
                    </inventorywebpos_observers>
                </observers>
            </inventoryplus_is_installing>
            <inp_get_current_username>
                <observers>
                    <inventorywebpos_observers>
                        <type>model</type>
                        <class>inventorywebpos/observer</class>
                        <method>inp_get_current_username</method>
                    </inventorywebpos_observers>
                </observers>                
            </inp_get_current_username>
            <inp_prepare_post_creditmemo_data>
                <observers>
                    <inventorywebpos_observers>
                        <type>model</type>
                        <class>inventorywebpos/observer</class>
                        <method>inp_prepare_post_creditmemo_data</method>
                    </inventorywebpos_observers>
                </observers>                  
            </inp_prepare_post_creditmemo_data>
        </events>
        <models>
            <inventorywebpos>
                <class>Magestore_Inventorywebpos_Model</class>
                <resourceModel>inventorywebpos_mysql4</resourceModel>
            </inventorywebpos>
            <inventorywebpos_mysql4>
                <class>Magestore_Inventorywebpos_Model_Mysql4</class>
                <entities>
                    <webposuser>
                        <table>erp_inventory_warehouse_webpos_user</table>
                    </webposuser>
                </entities>
            </inventorywebpos_mysql4>
        </models>
        <resources>
            <inventorywebpos_setup>
                <setup>
                    <module>Magestore_Inventorywebpos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inventorywebpos_setup>
            <inventorywebpos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inventorywebpos_write>
            <inventorywebpos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inventorywebpos_read>
        </resources>
        <blocks>
            <inventorywebpos>
                <class>Magestore_Inventorywebpos_Block</class>
            </inventorywebpos>           
        </blocks>
        <helpers>
            <inventorywebpos>
                <class>Magestore_Inventorywebpos_Helper</class>
            </inventorywebpos>
        </helpers>
    </global>
</config>