<?xml version="1.0"?>
<config>
    <sections>
        <vendors translate="label" module="vendorsmasterpassword">
            <groups>
                <vendors_master_password translate="label" module="vendorsmasterpassword">
                    <label>Vendor Master Password</label>
                    <frontend_type>select</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <master_password>
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>validate-password</validate>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </master_password>
                    </fields>
                </vendors_master_password>
            </groups>
        </vendors>
    </sections>
</config>