<?xml version="1.0"?>
<config>
    <global>
        <models>
            <vendorsshippingfedex>
                <class>VES_VendorsShippingFedex_Model</class>
            </vendorsshippingfedex>
        </models>
        <events>
            <ves_vendorsconfig_form_fieldset_prepare_before>
                <observers>
                    <vendorsshippingfedex>
                        <type>singleton</type>
                        <class>vendorsshippingfedex/observer</class>
                        <method>ves_vendorsconfig_form_fieldset_prepare_before</method>
                    </vendorsshippingfedex>
                </observers>
            </ves_vendorsconfig_form_fieldset_prepare_before>
        </events>
    </global>
    
    <default>
        <carriers>
            <fedex>
                <model>vendorsshippingfedex/carrier_fedex</model>
            </fedex>
        </carriers>
    </default>
</config>