"-- Please select --", "-- Selecciona, por favor --"
"Activate Sandbox", "Activar Sandbox"
"Active", "Activar"
"Add New Department", "Añadir Nuevo Departamento
"Add New Gateway", "Añadir nueva entrada de e-mails"
"Add New Pattern", "Añadir nuevo Patrón"
"Add New Priority", "Añadir nueva Prioridad"
"Add New Status", "Añadir nuevo Estado"
"Add New Template", "Añadir nueva Plantilla"
"Allow Everything", "Permitir Todo"
"Approve", "Aprobar"
"Are you sure?", "¿Estás seguro?"
"Assign to Department", "Asignar a Departamento"
"Assigned to Customer", "Asignado a Cliente"
"Assigned to Order", "Asignado a Pedido"
"Attach files", "Adjuntar ficheros"
"Auto assign tickets from gateways", "Autoasignar tickets desde entrada e-mails"
"Auto assign tickets to Store View", "Autoasignar tickets a Vista de Tienda"
"Auto assign tickets to department", "Autoasignar tickets a Departamento"
"Back to My Tickets", "Volver a Mis Tickets"
"Body", "Cuerpo"
"Cache Group", "Grupo de Caché"
"Canned Responses", "Respuestas conservadas"
"Close Ticket", "Cerrar Ticket"
"Code", "Código"
"Contact Us", "Contactar"
"Create New Department", "Crear Nuevo Departamento"
"Create New Gateway", "Crear Nueva Entrada de e-Mails"
"Create New Pattern", "Crear Nueva Patrón"
"Create New Priority", "Crear Nueva Prioridad"
"Create New Spamemail", "Crear Nuevo e-mail de Spam"
"Create New Status", "Crear Nuevo Estado"
"Create New Template", "Crear Nueva Plantilla"
"Create New Ticket", "Crear Nuevo Ticket"
"Created At", "Creado el"
"Customer Name", "Nombre Cliente"
"Delete", "Borrar"
"Delete Ticket", "Borrar Ticket"
"Department", "Departamento"
"Departments", "Departamentos"
"Departments Members", "Miembros de Departamentos"
"Description Placeholder", "Descripción del marcador de posición"
"Description Title", "Descripción Título"
"Developer Settings", "Ajustes del desarrollador"
"Dictionaries", "Diccionarios"
"Edit Department '%s'", "Editar Departamento '%s'"
"Edit Gateway '%s'", "Editar Entrada de e-Mails '%s'"
"Edit Pattern '%s'", "Editar Patrón '%s'"
"Edit Priority '%s'", "Editar Prioridad '%s'"
"Edit Status '%s'", "Editar Estado '%s'"
"Edit Ticket '%s'", "Editar Ticket '%s'"
"Email", "Email"
"Email Notification Settings", "Configuración de Notificación de Email"
"Emails marked as SPAM", "e-Mails marcados como SPAM"
"Enable Feedback Tab", "Activar Pestaña Feedback"
"Encryption", "Encriptación"
"External Link", "Enlace Externo"
"Feedback Tab", "Pestaña de Feedback"
"Fetch Frequency (minutes)", "Frecuencia de descarga (minutos)"
"Fetch Max", "Descarga Max"
"Find Customer", "Encontrar Cliente"
"Form Title", "Título Formulario"
"From", "Desde"
"Gateways", "Entrada de e-Mails"
"General Information", "Información General"
"General Settings", "Configuración General"
"Headers", "Cabeceras"
"Help Desk", "Atención al Cliente"
"Helpdesk - Customer - New Message", "Atención al Cliente - Cliente - Nuevo Mensaje"
"Helpdesk - Customer - New Ticket", "Atención al Cliente - Cliente - Nuevo Ticket"
"Helpdesk - Staff - New Message", "Atención al Cliente - Equipo - Nuevo Mensaje"
"Helpdesk - Staff - New Ticket", "Atención al Cliente - Equipo - Nuevo Ticket"
"Host", "Host"
"ID", "ID"
"IMAP", "IMAP"
"Insert Canned Response", "Insertar Respuesta Conservada"
"Internal Reply", "Respuesta Interna"
"Internal Title", "Título Interno"
"Is Active", "Está Activo"
"Is Email Notification Active", "Notificación Por Correo Activa"
"Last Replier", "Último en contestar"
"Last Reply", "Última respuesta"
"Last Reply At", "Última respuesta el"
"Left", "Izquierda"
"Login", "Acceder"
"Members of Department", "Miembros del departamento"
"Message", "Mensaje"
"Message submitted. Thanks!", "Mensaje envíado correctamente. En breve te contestaremos. ¡Gracias!"
"Mirasvit Helpdesk", "Mirasvit Helpdesk"
"My Support Tickets", "My Support Tickets"
"My Tickets", "Mis Tickets"
"NONE", "NINGUNO"
"Name", "Nombre"
"New Department", "Nuevo Departmento"
"New Gateway", "Nueva entrada de e-mail"
"New Pattern", "Nuevo Patrón"
"New Priority", "Nueva Prioridad"
"New Status", "Nuevo Estado"
"New Template", "Nueva Plantilla"
"New Ticket", "Nuevo Ticket"
"No", "No"
"Notes", "Notes"
"Notification", "Notificación"
"Notification Email", "e-Mail de Notificación"
"Owner", "Propietario"
"POP", "POP"
"Password", "Contraseña"
"Pattern", "Patrón"
"Port", "Puerto"
"Post a Reply", "Enviar una Respuesta"
"Priorities", "Prioridades"
"Priority", "Prioridad"
"Priority for new tickets", "Prioridad para nuevos tickets"
"Prolocol", "Protocolo"
"Public Reply", "Respuesta Pública"
"Rejected by Pattern", "Rechazado por Patrón"
"Reopen Ticket", "Reabrir Ticket"
"Replies", "Respuestas"
"Reply", "Respuesta"
"Required Fields", "Campos Requeridos"
"Right", "Derecha"
"SSL", "SSL"
"Save", "Guardar"
"Save And Continue Edit", "Guardar y Continuar Editando"
"Scope", "Alcance"
"Send All Outgoing emails to Email", "Enviar todos los correos salientes a e-Mail"
"Sender Email", "e-Mail del Remitente"
"Settings", "Configuración"
"Show Columns in Ticket Grid", "Mostrar Columnas en la reja de Tickets"
"Signature", "Firma "
"Sort Order", "Orden de Clasificación"
"Spam Filter Patterns", "Patrón de Filtros de Spam"
"Spam Folder", "Carpeta Spam"
"Spam Patterns", "Patrones Spam"
"Status", "Estado"
"Status for new tickets", "Estados para nuevos tickets"
"Statuses", "Estados"
"Store View", "Vista de Tienda"
"Subject", "Asunto"
"Subject Placeholder", "Marcador del Asunto"
"Subject Title", "Título del Asunto"
"Submit", "Enviar"
"Submit Message", "Enviar Mensaje"
"Submit Ticket", "Enviar Ticket"
"Tab Color", "Color Pestaña"
"Tab Position", "Posición Pestaña"
"Tab Title", "Título Pestaña"
"Template", "Plantilla"
"Template of New Message Email for Customer", "Plantilla de Nuevo Mensaje para Cliente"
"Template of New Message Email for Staff", "Plantilla de Nuevo Mensaje para Equipo"
"Template of New Ticket Email for Customer", "Plantilla de Nuevo Ticket para Cliente"
"Template of New Ticket Email for Staff", "Plantilla de Nuevo Ticket para Equipo"
"Ticket History", "Historial Ticket"
"Ticket Information", "Información del Ticket"
"Ticket Owner", "Propietario del Ticket"
"Ticket was successfuly closed", "Ticket Cerrado Correctamente"
"Tickets", "Tickets"
"Title", "Título"
"URL RegExp", "URL RegExp"
"Update Ticket", "Actualizar Ticket"
"User Agent RegExp", "User Agent RegExp"
"View Ticket", "Ver Ticket"
"Yes", "Sí"
"You don't have open tickets", "No tienes tickets abiertos"
"Your Email", "Tu e-Mail"
"Your message was successfuly posted", "Tu mensaje ha sido envíado correctamente"
"Your ticket was successfuly posted", "Tu mensaje ha sido envíado correctamente"
"Archive", "Archivo"
"Customer Satisfaction", "Satisfacción de Clientes"
"Tickets Report", "Informe de Tickets"
"Predefined Responses", "Plantillas de Respuestas"
"Custom Fields", "Campos Personalizados"
"Rules", "Reglas"
"Send To Email", "Enviar a e-Mail"
"Assigned To Customer", "Asignado al Cliente"
"Insert Predefined Response", "Insertar Plantilla de Respuesta"
"Follow Up", "Seguimiento"
"Send Remind", "Enviar Recordatorio"
"Set Status To", "Cambiar Estado a"
"Set Priority To", "Cambiar Prioridad a"
"Set Owner To", "Cambiar Propietario a"
"Show Report For:", "Mostrar Informe Para:"
"Empty Rows", "Filas Vacías"
"New Tickets Number", "Número de Tickets Nuevos"
"Solved Tickets Number", "Número de Tickets Solucionados"
"Solved Tickets %", "% de Tickets Solucionados"
"Total Tickets Number", "Número Total de Tickets"
"1st Reply Time", "Tiempo 1ª Respuesta"
"1st Resolution Time", "Tiempo 1ª Resolución"
"Full Resolution Time", "Tiempo de Resolución Completa"
"Sign staff replies", "Firmas de Respuestas del Equipo"
"Move Ticket to Archive if it has one of following statuses", "Mover Ticket al Archivo si está en uno de estos estados"
"Create Tickets from Contact Us form", "Crear Tickets desde el Formulario de Contacto"
"Search Knowledge Base Topics first", "Buscar primero en la Base de Datos de Conocimiento"
"Show Ticket ID in the email title", "Mostrar Número de Ticket en el título del e-Mail"
"Number of last replies to show in the ticket history", "Número de últimas respuestas a mostrar en el historial del ticket"
"Send Survey Request via Email","Envíar Encuesta por e-Mail"
"Customer Account", "Cuenta del Cliente"
"Show Help Desk section in Customer Account", "Mostrar la sección Atención al Cliente en la Cuenta del Cliente"
"Allow customer to select Priority", "Permitir al cliente seleccionar la prioridad"
"Allow customer to select Department", "Permitir al cliente seleccionar Departamento"
"Allow customer to select Order", "Permitir al cliente seleccionar Pedido"
"Customer Satisfaction Survey", "Encuesta Satisfacción Cliente"
"Report Type", "Tipo de Informe"
"Totals", "Totales"
"By user", "Por usuario"
"You can use variables: [ticket_customer_name], [ticket_customer_email], [ticket_code], [store_name], [user_firstname], [user_lastname], [user_email]", "Puedes utilizar las variables: [ticket_customer_name], [ticket_customer_email], [ticket_code], [store_name], [user_firstname], [user_lastname], [user_email]"
"Stop Further Rules Processing", "Detener las siguientes reglas"
"Arranged in the ascending order. 0 is the highest.", "Clasificado en orden ascendente. 0 es el mayor."
"Event", "Evento"
"Notifications", "Notificaciones"
"Set Status", "Poner Estado"
"Set Priority", "Poner Prioridad"
"Set Department", "Poner Departamento"
"Set Department", "Poner Propietario"
"Move to Archive", "Mover al archivo"
"Remove Tags", "Eliminar Etiquetas"
"Send email to ticket owner", "Enviar e-mail al propietario del ticket"
"Send email to all department users", "Enviar e-mail a todos los usuarios del departamento"
"Send email to customer", "Enviar e-mail al cliente"
"Send email to other email addresses", "Enviar e-mail a otras direcciones de e-mail"
"Email subject", "Asunto del e-Mail"
"Email body", "Contenido del e-Mail"
"Attach files which were attached to the last message", "Adjuntar ficheros que fueron adjuntados al último mensaje"
"Create New Rule", "Crear Nueva Regla"
"Template of Ticket Reminder", "Plantilla de Recordatorio de Ticket"
"Template of Rule Notification", "Plantilla de notificación de Regla"
"Customer Tickets","Tickets del Cliente"
"Create ticket for this customer","Crear ticket para este cliente"
"Workflow Rules","Reglas de flujo de trabajo"
"Quick Responses","Respuestas Rápidas"
"All Roles","Todos los Roles"
"All Departments","Todos los departamentos"
"Has Access to Tickets of Departments","Tiene Acceso a los Tickets de los Departamentos"
"Can Remove tickets","Puede eliminar tickets"
"Allow access to tickets of departments","Permitir acceso a los tickets de los departamentos"
"Can Delete Tickets","Puede eliminar tickets"
"New ticket created","Nuevo ticket creado"
"New reply from customer","Nueva respuesta del cliente"
"New reply from staff","Nueva respuesta del equipo"
"Ticket assigned to staff","Ticket asignado al equipo"
"Ticket was changed","Ticket modificado"
"Check every hour","Comprueba cada hora"
"comma-separated list","lista separada por comas"
"Send blind carbon copy (BCC) of all emails to","Enviar copia oculta (BCC) de todos los emails a"
"Template of New Message Email for Third Party","Plantilla de Nuevo email para un tercero"
"Customer Email","e-Mail del Cliente"
"Message Type","Tipo de Mensaje"
"Message to Customer","Mensaje al Cliente"
"Internal Note","Nota interna"
"Message to Third Party","Mensaje a tercero"
"Private Message to Third Party","Mensaje Privado a un tercero"
"Only helpdesk staff will see this message","Solamente el equipo de atención al cliente verá este mensaje. No lo verá el cliente."
"Your message will be emailed to the third party.","Tu mensaje será envíado a un tercero"
"Customer will see it and all third party replies","El cliente lo verá y el tecero le contestará"
"Additional","Adicional"
"In minutes...","En minutos..."
"In hours...","En horas..."
"In days...","En días..."
"In weeks...","En semanas..."
"In months...","En meses..."
"If ticket is unassigned, send notifications to all department members","Si el ticket no está asignado, enviar notificación a todos los miembros del departamento"
"If ticket is unassigned, send notifications to email","Si el ticket no está asignado, enviar notificaciones al e-mail"
