<?xml version="1.0"?>
<config>
   	<frontend>
   		<routers>
            <pricecomparison>
                <use>standard</use>
                <args>
                    <module>VES_VendorsPriceComparison</module>
                    <frontName>pricecomparison</frontName>
                </args>
            </pricecomparison>
        </routers>
        <layout>
            <updates>
                <pricecomparison>
                    <file>ves_vendors/pricecomparison.xml</file>
                </pricecomparison>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsPriceComparison>
                    <files>
                        <default>ves_vendors/price_comparison.csv</default>
                    </files>
                </VES_VendorsPriceComparison>
            </modules>
        </translate>
        <events>
        	<catalog_product_load_after>
        		<observers>
                    <pricecomparison>
                        <class>pricecomparison/observer</class>
                        <method>catalog_product_load_after</method>
                    </pricecomparison>
                </observers>
        	</catalog_product_load_after>
        </events>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<pricecomparison>
					<file>ves_vendors/pricecomparison.xml</file>
				</pricecomparison>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsPriceComparison>
                    <files>
                        <default>ves_vendors/price_comparison.csv</default>
                    </files>
                </VES_VendorsPriceComparison>
            </modules>
        </translate>
    </adminhtml>
    <global>
    	<events>
			<ves_vendorsproduct_product_list_prepare_after>
				 <observers>
                    <pricecomparison>
                        <class>pricecomparison/observer</class>
                        <method>ves_vendorsproduct_product_list_prepare_after</method>
                    </pricecomparison>
                </observers>
			</ves_vendorsproduct_product_list_prepare_after>
			<catalog_product_save_before>
        		<observers>
                    <pricecomparison>
                        <class>pricecomparison/observer</class>
                        <method>catalog_product_save_before</method>
                    </pricecomparison>
                </observers>
        	</catalog_product_save_before>
        	<catalog_product_delete_before>
        		<observers>
                    <pricecomparison>
                        <class>pricecomparison/observer</class>
                        <method>catalog_product_delete_before</method>
                    </pricecomparison>
                </observers>
        	</catalog_product_delete_before>
		</events>
        <models>
            <pricecomparison>
                <class>VES_VendorsPriceComparison_Model</class>
                <resourceModel>pricecomparison_resource</resourceModel>
            </pricecomparison>
            <pricecomparison_resource>
                <class>VES_VendorsPriceComparison_Model_Resource</class>
           	</pricecomparison_resource>
        </models>
        <resources>
	        <pricecomparison_setup>
	            <setup>
	                <module>VES_VendorsPriceComparison</module>
	                <class>VES_VendorsPriceComparison_Model_Resource_Setup</class>
	            </setup>
	        </pricecomparison_setup>
	    </resources>
        <blocks>
            <pricecomparison>
                <class>VES_VendorsPriceComparison_Block</class>
            </pricecomparison>
        </blocks>
        <helpers>
            <pricecomparison>
                <class>VES_VendorsPriceComparison_Helper</class>
            </pricecomparison>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<pricecomparison>
    			<logo_width>60</logo_width>
    			<logo_height>60</logo_height>
    			<description_length>100</description_length>
    		</pricecomparison>
    	</vendors>
    </default>
    <product_attribute_restriction>
    	<ves_enable_comparison />
    </product_attribute_restriction>
</config>