<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsShipping>
            <version>1.0.0.0</version>
        </VES_VendorsShipping>
    </modules>
    <frontend>
        <layout>
            <updates>
                <vendorsshipping>
                    <file>ves_vendors/shipping.xml</file>
                </vendorsshipping>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsShipping>
                    <files>
                        <default>ves_vendors/flatrate_shipping.csv</default>
                    </files>
                </VES_VendorsShipping>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <VES_VendorsShipping>
                    <files>
                        <default>ves_vendors/shipping.csv</default>
                    </files>
                </VES_VendorsShipping>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <ves_vendor_checkout_type_onepage_shippingmethod>
                <observers>
                    <vendorsshipping>
                        <type>singleton</type>
                        <class>vendorsshipping/observer</class>
                        <method>ves_vendor_checkout_type_onepage_shippingmethod</method>
                    </vendorsshipping>
                </observers>
            </ves_vendor_checkout_type_onepage_shippingmethod>
        </events>
        <models>
            <vendorsshipping>
                <class>VES_VendorsShipping_Model</class>
            </vendorsshipping>
            <shipping>
				<rewrite>
					<shipping>VES_VendorsShipping_Model_Shipping</shipping>
				</rewrite>
			</shipping>
        </models>
        <blocks>
            <vendorsshipping>
                <class>VES_VendorsShipping_Block</class>
            </vendorsshipping>
        </blocks>
        <helpers>
            <vendorsshipping>
                <class>VES_VendorsShipping_Helper</class>
            </vendorsshipping>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <shipping>
                        <renderer>vendorsshipping/checkout_shipping</renderer>
                    </shipping>
				</totals>
			</quote>
		</sales>
    </global>
    
    <default>
        <carriers>
            <vendor_multirate>
                <active>1</active>
                <title>Vendor Multiple Rates</title>
                <name>Multiple Rate</name>
                <model>vendorsshipping/carrier_multirate</model>
            </vendor_multirate>
        </carriers>
    </default>
</config>